<h2>Cleaning Data</h2>

<ul>
    <li>Identify missing data in the data frame</li>
    <li>Treat(delete or impute) missing values</li>
    <li>In Python, missing data is represented using either of the two objects NaN (Not a Number) or NULL.</li>
    <li>We'll not get into the differences between them and how Python stores them internally etc. </li>
    <li>We'll focus on studying ways to identify and treat missing values in Pandas dataframes.</li>  
    
</ul>

<p> There are four main methods to identify and treat missing data: </p>
<ul>
    <li>isnull(): Indicates presence of missing values, returns a boolean </li>
    <li>notnull(): Opposite of isnull(), returns a boolean</li>
    <li>dropna(): Drops the missing values from a data frame and returns the rest</li>
    <li>fillna(): Fills (or imputes) the missing values by a specified value</li>
</ul>

<h2> Identifying Missing Data </h2>
    <p> The methods isnull() and notnull() are the most common ways of identifying missing values.</p>
    <p> While handling missing data, you first need to identify the rows and columns containing missing values, count the number of missing values, and then decide how you want to treat them.</p>
    <p>It is important that you treat missing values in each column separately, rather than implementing a single solution (e.g. replacing NaNs by the mean of a column) for all columns.</p>
    <p>isnull() returns a boolean (True/False) which can then be used to find the rows or columns containing missing values.</p>

In [303]:
import numpy as np
import pandas as pd

dataframe_melbourne = pd.read_csv('D:/upgrad/melbourne.csv')
dataframe_melbourne.head()

,Suburb,Address,Rooms,Type,Price,Method,SellerG,Date,Distance,Postcode,...,Bathroom,Car,Landsize,BuildingArea,YearBuilt,CouncilArea,Lattitude,Longtitude,Regionname,Propertycount
0,Abbotsford,68 Studley St,2,h,NaN,SS,Jellis,03-09-2016,2.5,3067.0,...,1.0,1.0,126.0,NaN,NaN,Yarra,-37.8014,144.9958,Northern Metropolitan,4019.0
1,Abbotsford,85 Turner St,2,h,1480000.0,S,Biggin,03-12-2016,2.5,3067.0,...,1.0,1.0,202.0,NaN,NaN,Yarra,-37.7996,144.9984,Northern Metropolitan,4019.0
2,Abbotsford,25 Bloomburg St,2,h,1035000.0,S,Biggin,04-02-2016,2.5,3067.0,...,1.0,0.0,156.0,79.0,1900.0,Yarra,-37.8079,144.9934,Northern Metropolitan,4019.0
3,Abbotsford,18/659 Victoria St,3,u,NaN,VB,Rounds,04-02-2016,2.5,3067.0,...,2.0,1.0,0.0,NaN,NaN,Yarra,-37.8114,145.0116,Northern Metropolitan,4019.0
4,Abbotsford,5 Charles St,3,h,1465000.0,SP,Biggin,04-03-2017,2.5,3067.0,...,2.0,0.0,134.0,150.0,1900.0,Yarra,-37.8093,144.9944,Northern Metropolitan,4019.0

In [304]:
#shape of the dataframe
print(dataframe_melbourne.shape)
#Infor of the dataframe
print(dataframe_melbourne.info)

(23547, 21)
<bound method DataFrame.info of                Suburb              Address  Rooms Type      Price Method  \
0          Abbotsford        68 Studley St      2    h        NaN     SS
1          Abbotsford         85 Turner St      2    h  1480000.0      S
2          Abbotsford      25 Bloomburg St      2    h  1035000.0      S
3          Abbotsford   18/659 Victoria St      3    u        NaN     VB
4          Abbotsford         5 Charles St      3    h  1465000.0     SP
5          Abbotsford     40 Federation La      3    h   850000.0     PI
6          Abbotsford          55a Park St      4    h  1600000.0     VB
7          Abbotsford         16 Maugie St      4    h        NaN     SN
8          Abbotsford         53 Turner St      2    h        NaN      S
9          Abbotsford         99 Turner St      2    h        NaN      S
10         Abbotsford       129 Charles St      2    h   941000.0      S
11         Abbotsford         124 Yarra St      3    h  1876000.0      S
12         Abbotsford  121/56 Nicholson St      2    u        NaN     PI
13         Abbotsford        17 Raphael St      4    h        NaN      W
14         Abbotsford        98 Charles St      2    h  1636000.0      S
15         Abbotsford     217 Langridge St      3    h  1000000.0      S
16         Abbotsford      18a Mollison St      2    t   745000.0      S
17         Abbotsford   6/241 Nicholson St      1    u   300000.0      S
18         Abbotsford        10 Valiant St      2    h  1097000.0      S
19         Abbotsford  403/609 Victoria St      2    u   542000.0      S
20         Abbotsford            2 Rich St      2    h        NaN     SP
21         Abbotsford    25/84 Trenerry Cr      2    u   760000.0     SP
22         Abbotsford    106/119 Turner St      1    u   481000.0     SP
23         Abbotsford   411/8 Grosvenor St      2    u   700000.0     VB
24         Abbotsford      40 Nicholson St      3    h  1350000.0     VB
25         Abbotsford  123/56 Nicholson St      2    u   750000.0      S
26         Abbotsford           22 Park St      4    h  1985000.0      S
27         Abbotsford    13/84 Trenerry Cr      1    u   500000.0      S
28         Abbotsford        45 William St      2    h  1172500.0      S
29         Abbotsford   7/20 Abbotsford St      1    u   441000.0     SP
...               ...                  ...    ...  ...        ...    ...
23517   Vermont South        2 Settlers Ct      4    h  1295000.0     SP
23518   Vermont South        9 Winswood Cl      4    h  1250000.0     PI
23519        Viewbank        149 Graham Rd      5    h  1316000.0     SP
23520        Viewbank       7 Northwood Dr      4    h        NaN     SP
23521        Wantirna   16 chesterfield Ct      4    h   951000.0      S
23522        Wantirna            9 eton Sq      4    h        NaN     PI
23523  Wantirna South         12 Armagh Cr      4    h  1323000.0      S
23524  Wantirna South        34 Fewster Dr      3    h   970000.0      S
23525  Wantirna South           15 Mara Cl      4    h  1330000.0      S
23526        Watsonia       2/14 Daours Ct      2    u   590000.0      S
23527        Watsonia        76 Kenmare St      2    h   650000.0     PI
23528  Watsonia North         22 Meakin St      3    h        NaN     PI
23529        Werribee          6 Feijoa Ct      5    h        NaN      W
23530        Werribee       11 Gundaroo Sq      4    h        NaN     PI
23531        Werribee         91 Latham St      4    h   540000.0     PI
23532        Werribee          5 Nuragi Ct      4    h   635000.0      S
23533        Werribee             3 Sky Ct      3    h        NaN     PI
23534  West Footscray      1/21 Waratah St      2    t   655000.0      S
23535     Westmeadows           9 Black St      3    h   582000.0      S
23536     Westmeadows      81 Hillcrest Dr      4    h   720000.0     VB
23537   Wheelers Hill         12 Strada Cr      4    h  1245000.0      S
23538    Williamstown        77 Merrett Dr      3    h  1031000.0     SP
23539    Williamstown          83 Power St      3    h  1170000.0      S
23540    Williamstown      8/2 Thompson St      2    t   622500.0     SP
23541    Williamstown         96 Verdon St      4    h  2500000.0     PI
23542    Wyndham Vale      25 Clitheroe Dr      3    u        NaN     PN
23543    Wyndham Vale     19 Dalrymple Bvd      4    h        NaN      S
23544       Yallambie         17 Amaroo Wy      4    h  1100000.0      S
23545      Yarraville           6 Agnes St      4    h  1285000.0     SP
23546      Yarraville        33 Freeman St      4    h  1050000.0     VB

             SellerG        Date  Distance  Postcode  ...  Bathroom  Car  \
0             Jellis  03-09-2016       2.5    3067.0  ...       1.0  1.0
1             Biggin  03-12-2016       2.5    3067.0  ...       1.0  1.0
2             Biggin  04-02-2016       2.5    3067.0  ...       1.0  0.0
3             Rounds  04-02-2016       2.5    3067.0  ...       2.0  1.0
4             Biggin  04-03-2017       2.5    3067.0  ...       2.0  0.0
5             Biggin  04-03-2017       2.5    3067.0  ...       2.0  1.0
6             Nelson  04-06-2016       2.5    3067.0  ...       1.0  2.0
7             Nelson  06-08-2016       2.5    3067.0  ...       2.0  2.0
8             Biggin  06-08-2016       2.5    3067.0  ...       1.0  2.0
9            Collins  06-08-2016       2.5    3067.0  ...       2.0  1.0
10            Jellis  07-05-2016       2.5    3067.0  ...       1.0  0.0
11            Nelson  07-05-2016       2.5    3067.0  ...       2.0  0.0
12            Biggin  07-11-2016       2.5    3067.0  ...       2.0  1.0
13            Biggin  07-11-2016       2.5    3067.0  ...       2.0  0.0
14            Nelson  08-10-2016       2.5    3067.0  ...       1.0  2.0
15            Jellis  08-10-2016       2.5    3067.0  ...       NaN  NaN
16            Jellis  08-10-2016       2.5    3067.0  ...       NaN  NaN
17            Biggin  08-10-2016       2.5    3067.0  ...       1.0  1.0
18            Biggin  08-10-2016       2.5    3067.0  ...       1.0  2.0
19            Dingle  08-10-2016       2.5    3067.0  ...       NaN  NaN
20            Biggin  10-12-2016       2.5    3067.0  ...       1.0  1.0
21            Biggin  10-12-2016       2.5    3067.0  ...       NaN  NaN
22      Purplebricks  10-12-2016       2.5    3067.0  ...       NaN  NaN
23            Jellis  12-11-2016       2.5    3067.0  ...       2.0  1.0
24            Nelson  12-11-2016       2.5    3067.0  ...       2.0  2.0
25            Biggin  12-11-2016       2.5    3067.0  ...       2.0  1.0
26            Biggin  12-11-2016       2.5    3067.0  ...       NaN  NaN
27            Biggin  12-11-2016       2.5    3067.0  ...       NaN  NaN
28            Biggin  13-08-2016       2.5    3067.0  ...       1.0  1.0
29              Greg  14-05-2016       2.5    3067.0  ...       1.0  1.0
...              ...         ...       ...       ...  ...       ...  ...
23517   Purplebricks  26-08-2017      17.2    3133.0  ...       2.0  2.0
23518         Philip  26-08-2017      17.2    3133.0  ...       2.0  2.0
23519         Nelson  26-08-2017       8.9    3084.0  ...       3.0  3.0
23520         Nelson  26-08-2017       8.9    3084.0  ...       2.0  2.0
23521            Ray  26-08-2017      14.7    3152.0  ...       2.0  2.0
23522            Ray  26-08-2017      14.7    3152.0  ...       2.0  3.0
23523          Barry  26-08-2017      14.7    3152.0  ...       2.0  2.0
23524          Barry  26-08-2017      14.7    3152.0  ...       2.0  2.0
23525          Barry  26-08-2017      14.7    3152.0  ...       2.0  2.0
23526      Lindellas  26-08-2017      14.5    3087.0  ...       1.0  1.0
23527       Morrison  26-08-2017      14.5    3087.0  ...       1.0  1.0
23528         Nelson  26-08-2017      14.5    3087.0  ...       2.0  3.0
23529            YPA  26-08-2017      14.7    3030.0  ...       3.0  2.0
23530      Stockdale  26-08-2017      14.7    3030.0  ...       2.0  6.0
23531        Triwest  26-08-2017      14.7    3030.0  ...       NaN  NaN
23532  hockingstuart  26-08-2017      14.7    3030.0  ...       2.0  1.0
23533          Barry  26-08-2017      14.7    3030.0  ...       2.0  2.0
23534            Jas  26-08-2017       6.4    3012.0  ...       2.0  1.0
23535            Red  26-08-2017      16.5    3049.0  ...       2.0  2.0
23536          Barry  26-08-2017      16.5    3049.0  ...       2.0  0.0
23537          Barry  26-08-2017      16.7    3150.0  ...       2.0  2.0
23538       Williams  26-08-2017       6.8    3016.0  ...       2.0  2.0
23539          Raine  26-08-2017       6.8    3016.0  ...       2.0  4.0
23540           Greg  26-08-2017       6.8    3016.0  ...       2.0  1.0
23541        Sweeney  26-08-2017       6.8    3016.0  ...       1.0  5.0
23542      Harcourts  26-08-2017      27.2    3024.0  ...       1.0  0.0
23543  hockingstuart  26-08-2017      27.2    3024.0  ...       NaN  NaN
23544     Buckingham  26-08-2017      12.7    3085.0  ...       3.0  2.0
23545        Village  26-08-2017       6.3    3013.0  ...       1.0  1.0
23546        Village  26-08-2017       6.3    3013.0  ...       2.0  2.0

       Landsize  BuildingArea  YearBuilt  CouncilArea Lattitude  Longtitude  \
0         126.0           NaN        NaN        Yarra -37.80140   144.99580
1         202.0           NaN        NaN        Yarra -37.79960   144.99840
2         156.0          79.0     1900.0        Yarra -37.80790   144.99340
3           0.0           NaN        NaN        Yarra -37.81140   145.01160
4         134.0         150.0     1900.0        Yarra -37.80930   144.99440
5          94.0           NaN        NaN        Yarra -37.79690   144.99690
6         120.0         142.0     2014.0        Yarra -37.80720   144.99410
7         400.0         220.0     2006.0        Yarra -37.79650   144.99650
8         201.0           NaN     1900.0        Yarra -37.79950   144.99740
9         202.0           NaN     1900.0        Yarra -37.79960   144.99890
10        181.0           NaN        NaN        Yarra -37.80410   144.99530
11        245.0         210.0     1910.0        Yarra -37.80240   144.99930
12       4292.0          82.0     2009.0        Yarra -37.80780   144.99650
13        230.0         147.0     1860.0        Yarra -37.80660   144.99360
14        256.0         107.0     1890.0        Yarra -37.80600   144.99540
15          NaN           NaN        NaN          NaN       NaN         NaN
16          NaN           NaN        NaN          NaN       NaN         NaN
17          0.0           NaN        NaN        Yarra -37.80080   144.99730
18        220.0          75.0     1900.0        Yarra -37.80100   144.99890
19          NaN           NaN        NaN          NaN       NaN         NaN
20        176.0          80.0     1925.0        Yarra -37.79980   144.99720
21          NaN           NaN        NaN          NaN       NaN         NaN
22          NaN           NaN        NaN          NaN       NaN         NaN
23          0.0           NaN        NaN        Yarra -37.81100   145.00670
24        214.0         190.0     2005.0        Yarra -37.80850   144.99640
25          0.0          94.0     2009.0        Yarra -37.80780   144.99650
26          NaN           NaN        NaN          NaN -37.80840   144.99420
27          NaN           NaN        NaN          NaN       NaN         NaN
28        195.0           NaN        NaN        Yarra -37.80840   144.99730
29          0.0           NaN        NaN        Yarra -37.80160   144.99880
...         ...           ...        ...          ...       ...         ...
23517       NaN         190.0     1980.0          NaN -37.85928   145.18715
23518     986.0           NaN        NaN          NaN -37.84679   145.20051
23519     696.0           NaN        NaN          NaN -37.73501   145.08341
23520    1105.0         237.0     1980.0          NaN -37.73703   145.09392
23521     704.0         200.0     1981.0          NaN -37.85639   145.23536
23522     785.0           NaN        NaN          NaN -37.85297   145.23815
23523     551.0           NaN        NaN          NaN -37.87608   145.22390
23524     674.0           NaN        NaN          NaN -37.88360   145.22805
23525     717.0         191.0     1980.0          NaN -37.86887   145.22116
23526       NaN          83.0     2010.0          NaN -37.71500   145.07649
23527     210.0          79.0     2006.0          NaN -37.70657   145.07878
23528       NaN           NaN        NaN          NaN -37.70186   145.08635
23529     535.0           NaN        NaN          NaN -37.89362   144.66767
23530       NaN           NaN        NaN          NaN -37.91230   144.66980
23531       NaN           NaN        NaN          NaN       NaN         NaN
23532     662.0         172.0     1980.0          NaN -37.89327   144.64789
23533       NaN           NaN        NaN          NaN -37.89096   144.64200
23534       NaN         135.0     2012.0          NaN -37.80968   144.86819
23535     256.0           NaN        NaN          NaN -37.67917   144.89390
23536       NaN           NaN        NaN          NaN -37.68006   144.87550
23537     652.0           NaN     1981.0          NaN -37.90562   145.16761
23538     333.0         133.0     1995.0          NaN -37.85927   144.87904
23539     436.0           NaN     1997.0          NaN -37.85274   144.88738
23540       NaN          89.0     2010.0          NaN -37.86393   144.90484
23541     866.0         157.0     1920.0          NaN -37.85908   144.89299
23542     552.0         119.0     1990.0          NaN -37.90032   144.61839
23543       NaN           NaN        NaN          NaN -37.87882   144.60184
23544       NaN           NaN        NaN          NaN -37.72006   145.10547
23545     362.0         112.0     1920.0          NaN -37.81188   144.88449
23546       NaN         139.0     1950.0          NaN -37.81829   144.87404

                       Regionname Propertycount
0           Northern Metropolitan        4019.0
1           Northern Metropolitan        4019.0
2           Northern Metropolitan        4019.0
3           Northern Metropolitan        4019.0
4           Northern Metropolitan        4019.0
5           Northern Metropolitan        4019.0
6           Northern Metropolitan        4019.0
7           Northern Metropolitan        4019.0
8           Northern Metropolitan        4019.0
9           Northern Metropolitan        4019.0
10          Northern Metropolitan        4019.0
11          Northern Metropolitan        4019.0
12          Northern Metropolitan        4019.0
13          Northern Metropolitan        4019.0
14          Northern Metropolitan        4019.0
15          Northern Metropolitan        4019.0
16          Northern Metropolitan        4019.0
17          Northern Metropolitan        4019.0
18          Northern Metropolitan        4019.0
19          Northern Metropolitan        4019.0
20          Northern Metropolitan        4019.0
21          Northern Metropolitan        4019.0
22          Northern Metropolitan        4019.0
23          Northern Metropolitan        4019.0
24          Northern Metropolitan        4019.0
25          Northern Metropolitan        4019.0
26          Northern Metropolitan        4019.0
27          Northern Metropolitan        4019.0
28          Northern Metropolitan        4019.0
29          Northern Metropolitan        4019.0
...                           ...           ...
23517        Eastern Metropolitan        4280.0
23518        Eastern Metropolitan        4280.0
23519        Eastern Metropolitan        2698.0
23520        Eastern Metropolitan        2698.0
23521        Eastern Metropolitan        5424.0
23522        Eastern Metropolitan        5424.0
23523        Eastern Metropolitan        7082.0
23524        Eastern Metropolitan        7082.0
23525        Eastern Metropolitan        7082.0
23526       Northern Metropolitan        2329.0
23527       Northern Metropolitan        2329.0
23528       Northern Metropolitan        1442.0
23529        Western Metropolitan       16166.0
23530        Western Metropolitan       16166.0
23531        Western Metropolitan       16166.0
23532        Western Metropolitan       16166.0
23533        Western Metropolitan       16166.0
23534        Western Metropolitan        5058.0
23535       Northern Metropolitan        2474.0
23536       Northern Metropolitan        2474.0
23537  South-Eastern Metropolitan        7392.0
23538        Western Metropolitan        6380.0
23539        Western Metropolitan        6380.0
23540        Western Metropolitan        6380.0
23541        Western Metropolitan        6380.0
23542        Western Metropolitan        5262.0
23543        Western Metropolitan        5262.0
23544       Northern Metropolitan        1369.0
23545        Western Metropolitan        6543.0
23546        Western Metropolitan        6543.0

[23547 rows x 21 columns]>

In [305]:
#Identifying missing values
dataframe_melbourne.isnull()

,Suburb,Address,Rooms,Type,Price,Method,SellerG,Date,Distance,Postcode,...,Bathroom,Car,Landsize,BuildingArea,YearBuilt,CouncilArea,Lattitude,Longtitude,Regionname,Propertycount
0,False,False,False,False,True,False,False,False,False,False,...,False,False,False,True,True,False,False,False,False,False
1,False,False,False,False,False,False,False,False,False,False,...,False,False,False,True,True,False,False,False,False,False
2,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
3,False,False,False,False,True,False,False,False,False,False,...,False,False,False,True,True,False,False,False,False,False
4,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
5,False,False,False,False,False,False,False,False,False,False,...,False,False,False,True,True,False,False,False,False,False
6,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
7,False,False,False,False,True,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
8,False,False,False,False,True,False,False,False,False,False,...,False,False,False,True,False,False,False,False,False,False
9,False,False,False,False,True,False,False,False,False,False,...,False,False,False,True,False,False,False,False,False,False
10,False,False,False,False,False,False,False,False,False,False,...,False,False,False,True,True,False,False,False,False,False
11,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
12,False,False,False,False,True,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
13,False,False,False,False,True,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
14,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
15,False,False,False,False,False,False,False,False,False,False,...,True,True,True,True,True,True,True,True,False,False
16,False,False,False,False,False,False,False,False,False,False,...,True,True,True,True,True,True,True,True,False,False
17,False,False,False,False,False,False,False,False,False,False,...,False,False,False,True,True,False,False,False,False,False
18,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
19,False,False,False,False,False,False,False,False,False,False,...,True,True,True,True,True,True,True,True,False,False
20,False,False,False,False,True,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
21,False,False,False,False,False,False,False,False,False,False,...,True,True,True,True,True,True,True,True,False,False
22,False,False,False,False,False,False,False,False,False,False,...,True,True,True,True,True,True,True,True,False,False
23,False,False,False,False,False,False,False,False,False,False,...,False,False,False,True,True,False,False,False,False,False
24,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
25,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
26,False,False,False,False,False,False,False,False,False,False,...,True,True,True,True,True,True,False,False,False,False
27,False,False,False,False,False,False,False,False,False,False,...,True,True,True,True,True,True,True,True,False,False
28,False,False,False,False,False,False,False,False,False,False,...,False,False,False,True,True,False,False,False,False,False
29,False,False,False,False,False,False,False,False,False,False,...,False,False,False,True,True,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
23517,False,False,False,False,False,False,False,False,False,False,...,False,False,True,False,False,True,False,False,False,False
23518,False,False,False,False,False,False,False,False,False,False,...,False,False,False,True,True,True,False,False,False,False
23519,False,False,False,False,False,False,False,False,False,False,...,False,False,False,True,True,True,False,False,False,False
23520,False,False,False,False,True,False,False,False,False,False,...,False,False,False,False,False,True,False,False,False,False
23521,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,True,False,False,False,False
23522,False,False,False,False,True,False,False,False,False,False,...,False,False,False,True,True,True,False,False,False,False
23523,False,False,False,False,False,False,False,False,False,False,...,False,False,False,True,True,True,False,False,False,False
23524,False,False,False,False,False,False,False,False,False,False,...,False,False,False,True,True,True,False,False,False,False
23525,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,True,False,False,False,False
23526,False,False,False,False,False,False,False,False,False,False,...,False,False,True,False,False,True,False,False,False,False
23527,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,True,False,False,False,False
23528,False,False,False,False,True,False,False,False,False,False,...,False,False,True,True,True,True,False,False,False,False
23529,False,False,False,False,True,False,False,False,False,False,...,False,False,False,True,True,True,False,False,False,False
23530,False,False,False,False,True,False,False,False,False,False,...,False,False,True,True,True,True,False,False,False,False
23531,False,False,False,False,False,False,False,False,False,False,...,True,True,True,True,True,True,True,True,False,False
23532,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,True,False,False,False,False
23533,False,False,False,False,True,False,False,False,False,False,...,False,False,True,True,True,True,False,False,False,False
23534,False,False,False,False,False,False,False,False,False,False,...,False,False,True,False,False,True,False,False,False,False
23535,False,False,False,False,False,False,False,False,False,False,...,False,False,False,True,True,True,False,False,False,False
23536,False,False,False,False,False,False,False,False,False,False,...,False,False,True,True,True,True,False,False,False,False
23537,False,False,False,False,False,False,False,False,False,False,...,False,False,False,True,False,True,False,False,False,False
23538,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,True,False,False,False,False
23539,False,False,False,False,False,False,False,False,False,False,...,False,False,False,True,False,True,False,False,False,False
23540,False,False,False,False,False,False,False,False,False,False,...,False,False,True,False,False,True,False,False,False,False
23541,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,True,False,False,False,False
23542,False,False,False,False,True,False,False,False,False,False,...,False,False,False,False,False,True,False,False,False,False
23543,False,False,False,False,True,False,False,False,False,False,...,True,True,True,True,True,True,False,False,False,False
23544,False,False,False,False,False,False,False,False,False,False,...,False,False,True,True,True,True,False,False,False,False
23545,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,True,False,False,False,False
23546,False,False,False,False,False,False,False,False,False,False,...,False,False,True,False,False,True,False,False,False,False

In [306]:
#identifying missing values as a sum

dataframe_melbourne.isnull().sum()

Suburb               0
Address              0
Rooms                0
Type                 0
Price             5151
Method               0
SellerG              0
Date                 0
Distance             1
Postcode             1
Bedroom2          4481
Bathroom          4484
Car               4626
Landsize          6137
BuildingArea     13529
YearBuilt        12007
CouncilArea       7891
Lattitude         4304
Longtitude        4304
Regionname           1
Propertycount        1
dtype: int64

In [308]:
#Columns having atleast one missing value
dataframe_melbourne.any()

# The above is equivalent to finding the missing values in axis=0

dataframe_melbourne.isnull().all(axis=0)

Suburb           False
Address          False
Rooms            False
Type             False
Price            False
Method           False
SellerG          False
Date             False
Distance         False
Postcode         False
Bedroom2         False
Bathroom         False
Car              False
Landsize         False
BuildingArea     False
YearBuilt        False
CouncilArea      False
Lattitude        False
Longtitude       False
Regionname       False
Propertycount    False
dtype: bool

In [24]:
# Check all the values in the rows are missing

dataframe_melbourne.isnull().all(axis=1)

0        False
1        False
2        False
3        False
4        False
5        False
6        False
7        False
8        False
9        False
10       False
11       False
12       False
13       False
14       False
15       False
16       False
17       False
18       False
19       False
20       False
21       False
22       False
23       False
24       False
25       False
26       False
27       False
28       False
29       False
         ...
23517    False
23518    False
23519    False
23520    False
23521    False
23522    False
23523    False
23524    False
23525    False
23526    False
23527    False
23528    False
23529    False
23530    False
23531    False
23532    False
23533    False
23534    False
23535    False
23536    False
23537    False
23538    False
23539    False
23540    False
23541    False
23542    False
23543    False
23544    False
23545    False
23546    False
Length: 23547, dtype: bool

In [25]:
dataframe_melbourne.isnull().all(axis=1).sum()

0

In [27]:
dataframe_melbourne.isnull().sum(axis=1)

0        3
1        2
2        0
3        3
4        0
5        2
6        0
7        1
8        2
9        2
10       2
11       0
12       1
13       1
14       0
15       9
16       9
17       2
18       0
19       9
20       1
21       9
22       9
23       2
24       0
25       0
26       7
27       9
28       2
29       2
        ..
23517    2
23518    3
23519    3
23520    2
23521    1
23522    4
23523    3
23524    3
23525    1
23526    2
23527    1
23528    5
23529    4
23530    5
23531    9
23532    1
23533    5
23534    2
23535    3
23536    4
23537    2
23538    1
23539    2
23540    2
23541    1
23542    2
23543    8
23544    4
23545    1
23546    2
Length: 23547, dtype: int64

In [59]:
import pandas as pd
df_test = pd.read_csv('https://query.data.world/s/Hfu_PsEuD1Z_yJHmGaxWTxvkz7W_b0')
print(df_test.isnull().sum())

Ord_id                   0
Prod_id                  0
Ship_id                  0
Cust_id                  0
Sales                   20
Discount                55
Order_Quantity          55
Profit                  55
Shipping_Cost           55
Product_Base_Margin    109
dtype: int64

<h2> Treating Missing Values </h2>

<p>There are broadly two ways to treat missing values:</p>

<oL>
    <li>Delete: Delete the missing values </li>
    <li>Impute:</li>
    <ul>        
   <li>Imputing by a simple statistic: Replace the missing values by another value, commonly the mean, median, mode etc.</li>
    <li>Predictive techniques: Use statistical models such as k-NN, SVM etc. to predict and impute missing values</li>
    </ul>
    </oL>

In [47]:
#Summing up the missing values (Column-Wise)
round(100*(dataframe_melbourne.isnull().sum()/len(dataframe_melbourne.index)), 2)

Suburb            0.00
Address           0.00
Rooms             0.00
Type              0.00
Price            21.88
Method            0.00
SellerG           0.00
Date              0.00
Distance          0.00
Postcode          0.00
Bedroom2         19.03
Bathroom         19.04
Car              19.65
Landsize         26.06
BuildingArea     57.46
YearBuilt        50.99
CouncilArea      33.51
Lattitude        18.28
Longtitude       18.28
Regionname        0.00
Propertycount     0.00
dtype: float64

In [48]:
# We see theat BuildingArea, yearbuilt and Council Areaa are the one that can be removed from the dataframe.
dataframe_melbourne=dataframe_melbourne.drop("BuildingArea", axis=1)
dataframe_melbourne=dataframe_melbourne.drop("CouncilArea", axis=1)
dataframe_melbourne=dataframe_melbourne.drop("YearBuilt", axis=1)
round(100*(dataframe_melbourne.isnull().sum()/len(dataframe_melbourne.index)), 2)

Suburb            0.00
Address           0.00
Rooms             0.00
Type              0.00
Price            21.88
Method            0.00
SellerG           0.00
Date              0.00
Distance          0.00
Postcode          0.00
Bedroom2         19.03
Bathroom         19.04
Car              19.65
Landsize         26.06
Lattitude        18.28
Longtitude       18.28
Regionname        0.00
Propertycount     0.00
dtype: float64

In [92]:
import numpy as np
import pandas as pd

data_frame_m =pd.read_csv("D:/upgrad/melbourne.csv")
round(100*(data_frame_m.isnull().sum()/len(data_frame_m.index)), 2)

Suburb            0.00
Address           0.00
Rooms             0.00
Type              0.00
Price            21.88
Method            0.00
SellerG           0.00
Date              0.00
Distance          0.00
Postcode          0.00
Bedroom2         19.03
Bathroom         19.04
Car              19.65
Landsize         26.06
BuildingArea     57.46
YearBuilt        50.99
CouncilArea      33.51
Lattitude        18.28
Longtitude       18.28
Regionname        0.00
Propertycount     0.00
dtype: float64

In [93]:

data_frame_m = data_frame_m.drop("BuildingArea",axis=1)
data_frame_m = data_frame_m.drop("YearBuilt",axis=1)
data_frame_m = data_frame_m.drop("CouncilArea",axis=1)

round(100*(data_frame_m.isnull().sum()/len(data_frame_m.index)),2)

Suburb            0.00
Address           0.00
Rooms             0.00
Type              0.00
Price            21.88
Method            0.00
SellerG           0.00
Date              0.00
Distance          0.00
Postcode          0.00
Bedroom2         19.03
Bathroom         19.04
Car              19.65
Landsize         26.06
Lattitude        18.28
Longtitude       18.28
Regionname        0.00
Propertycount     0.00
dtype: float64

In [97]:
data_frame_m[data_frame_m.isnull().sum(axis=1)>5]

,Suburb,Address,Rooms,Type,Price,Method,SellerG,Date,Distance,Postcode,Bedroom2,Bathroom,Car,Landsize,Lattitude,Longtitude,Regionname,Propertycount
15,Abbotsford,217 Langridge St,3,h,1000000.0,S,Jellis,08-10-2016,2.5,3067.0,NaN,NaN,NaN,NaN,NaN,NaN,Northern Metropolitan,4019.0
16,Abbotsford,18a Mollison St,2,t,745000.0,S,Jellis,08-10-2016,2.5,3067.0,NaN,NaN,NaN,NaN,NaN,NaN,Northern Metropolitan,4019.0
19,Abbotsford,403/609 Victoria St,2,u,542000.0,S,Dingle,08-10-2016,2.5,3067.0,NaN,NaN,NaN,NaN,NaN,NaN,Northern Metropolitan,4019.0
21,Abbotsford,25/84 Trenerry Cr,2,u,760000.0,SP,Biggin,10-12-2016,2.5,3067.0,NaN,NaN,NaN,NaN,NaN,NaN,Northern Metropolitan,4019.0
22,Abbotsford,106/119 Turner St,1,u,481000.0,SP,Purplebricks,10-12-2016,2.5,3067.0,NaN,NaN,NaN,NaN,NaN,NaN,Northern Metropolitan,4019.0
27,Abbotsford,13/84 Trenerry Cr,1,u,500000.0,S,Biggin,12-11-2016,2.5,3067.0,NaN,NaN,NaN,NaN,NaN,NaN,Northern Metropolitan,4019.0
33,Abbotsford,250 Langridge St,2,t,847000.0,S,Jellis,16-07-2016,2.5,3067.0,NaN,NaN,NaN,NaN,NaN,NaN,Northern Metropolitan,4019.0
34,Abbotsford,16b Mollison St,2,h,NaN,PI,Biggin,16-07-2016,2.5,3067.0,NaN,NaN,NaN,NaN,NaN,NaN,Northern Metropolitan,4019.0
45,Abbotsford,65/80 Trenerry Cr,1,u,480000.0,S,Biggin,19-11-2016,2.5,3067.0,NaN,NaN,NaN,NaN,NaN,NaN,Northern Metropolitan,4019.0
46,Abbotsford,119/52 Nicholson St,1,u,423500.0,S,hockingstuart,22-05-2016,2.5,3067.0,NaN,NaN,NaN,NaN,NaN,NaN,Northern Metropolitan,4019.0
52,Abbotsford,49/84 Trenerry Cr,2,h,700000.0,S,Biggin,23-04-2016,2.5,3067.0,NaN,NaN,NaN,NaN,NaN,NaN,Northern Metropolitan,4019.0
60,Abbotsford,4/328 Johnston St,2,u,NaN,PI,Biggin,28-05-2016,2.5,3067.0,NaN,NaN,NaN,NaN,NaN,NaN,Northern Metropolitan,4019.0
62,Abbotsford,82/84 Trenerry Cr,2,u,970000.0,SP,Biggin,28-05-2016,2.5,3067.0,NaN,NaN,NaN,NaN,NaN,NaN,Northern Metropolitan,4019.0
65,Abbotsford,40/80 Trenerry Cr,3,h,927000.0,S,Biggin,30-07-2016,2.5,3067.0,NaN,NaN,NaN,NaN,NaN,NaN,Northern Metropolitan,4019.0
74,Airport West,4/9 West Ct,2,t,420000.0,VB,Barry,04-06-2016,13.5,3042.0,NaN,NaN,NaN,NaN,NaN,NaN,Western Metropolitan,3464.0
75,Airport West,1/36 York St,3,t,500000.0,VB,Nelson,04-06-2016,13.5,3042.0,NaN,NaN,NaN,NaN,NaN,NaN,Western Metropolitan,3464.0
76,Airport West,33 Bowes Av,5,h,1035000.0,S,Airport,06-08-2016,13.5,3042.0,NaN,NaN,NaN,NaN,NaN,NaN,Western Metropolitan,3464.0
77,Airport West,89 Bowes Av,4,h,960000.0,S,Barry,06-08-2016,13.5,3042.0,NaN,NaN,NaN,NaN,NaN,NaN,Western Metropolitan,3464.0
78,Airport West,45 Laurence Av,4,h,960000.0,S,Nelson,06-08-2016,13.5,3042.0,NaN,NaN,NaN,NaN,NaN,NaN,Western Metropolitan,3464.0
84,Airport West,81a Roberts Rd,3,h,680000.0,VB,Nelson,08-10-2016,13.5,3042.0,NaN,NaN,NaN,NaN,NaN,NaN,Western Metropolitan,3464.0
87,Airport West,3/24 Elstone Av,3,u,600000.0,VB,Nelson,10-09-2016,13.5,3042.0,NaN,NaN,NaN,NaN,NaN,NaN,Western Metropolitan,3464.0
89,Airport West,37a North St,3,t,760000.0,PI,Barry,10-12-2016,13.5,3042.0,NaN,NaN,NaN,NaN,NaN,NaN,Western Metropolitan,3464.0
91,Airport West,1/69 Bowes Av,3,u,580000.0,VB,Nelson,12-11-2016,13.5,3042.0,NaN,NaN,NaN,NaN,NaN,NaN,Western Metropolitan,3464.0
92,Airport West,2/9 El Reno Cr,3,h,725000.0,PI,Ray,12-11-2016,13.5,3042.0,NaN,NaN,NaN,NaN,NaN,NaN,Western Metropolitan,3464.0
93,Airport West,92 McNamara Av,4,h,758000.0,S,Jellis,13-08-2016,13.5,3042.0,NaN,NaN,NaN,NaN,NaN,NaN,Western Metropolitan,3464.0
95,Airport West,20 Creswell Av,3,h,970000.0,S,Barry,14-05-2016,13.5,3042.0,NaN,NaN,NaN,NaN,NaN,NaN,Western Metropolitan,3464.0
97,Airport West,71 Bowes Av,4,h,985000.0,S,Barry,15-10-2016,13.5,3042.0,NaN,NaN,NaN,NaN,NaN,NaN,Western Metropolitan,3464.0
99,Airport West,2/112 Parer Rd,2,u,509500.0,SP,Nelson,15-10-2016,13.5,3042.0,NaN,NaN,NaN,NaN,NaN,NaN,Western Metropolitan,3464.0
107,Airport West,7 McNamara Av,3,h,715000.0,S,Barry,17-09-2016,13.5,3042.0,NaN,NaN,NaN,NaN,NaN,NaN,Western Metropolitan,3464.0
111,Airport West,1/41 Hillside Gr,2,t,460000.0,VB,Nelson,18-06-2016,13.5,3042.0,NaN,NaN,NaN,NaN,NaN,NaN,Western Metropolitan,3464.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
23270,MacLeod,4 Tucker Wy,4,h,831000.0,S,Ray,26-08-2017,12.7,3085.0,NaN,NaN,NaN,NaN,NaN,NaN,Northern Metropolitan,4168.0
23271,Maidstone,88a Ballarat Rd,3,t,706000.0,S,Sweeney,26-08-2017,6.4,3012.0,NaN,NaN,NaN,NaN,NaN,NaN,Western Metropolitan,3873.0
23290,Meadow Heights,22 Lightwood Cr,5,h,710000.0,S,YPA,26-08-2017,17.4,3048.0,NaN,NaN,NaN,NaN,NaN,NaN,Northern Metropolitan,4704.0
23291,Melbourne,505/1 Roy St,2,u,NaN,SP,Kay,26-08-2017,0.0,3000.0,NaN,NaN,NaN,NaN,NaN,NaN,Northern Metropolitan,17496.0
23292,Melbourne,505/1 Roy St,2,u,NaN,S,Kay,26-08-2017,0.0,3000.0,NaN,NaN,NaN,NaN,NaN,NaN,Northern Metropolitan,17496.0
23300,Mentone,20A Winsome St,3,t,905000.0,S,Hodges,26-08-2017,20.0,3194.0,NaN,NaN,NaN,NaN,NaN,NaN,South-Eastern Metropolitan,6162.0
23302,Mickleham,3 Selkirk Wy,2,h,335000.0,S,YPA,26-08-2017,20.6,3064.0,NaN,NaN,NaN,NaN,NaN,NaN,Northern Metropolitan,1158.0
23318,Moonee Ponds,55 Pattison St,2,h,700000.0,VB,Nelson,26-08-2017,6.2,3039.0,NaN,NaN,NaN,NaN,NaN,NaN,Western Metropolitan,6232.0
23333,Mount Waverley,19 Larch Cr,3,h,NaN,SN,Harcourts,26-08-2017,14.2,3149.0,NaN,NaN,NaN,NaN,NaN,NaN,Eastern Metropolitan,13366.0
23337,Mulgrave,45 Carson St,3,t,826000.0,S,Win,26-08-2017,18.8,3170.0,NaN,NaN,NaN,NaN,NaN,NaN,South-Eastern Metropolitan,7113.0
23352,Northcote,2/241 Heidelberg Rd,2,t,770000.0,VB,Nelson,26-08-2017,5.3,3070.0,NaN,NaN,NaN,NaN,NaN,NaN,Northern Metropolitan,11364.0
23363,Ormond,9a Bewdley St,4,t,NaN,S,Jellis,26-08-2017,11.4,3204.0,NaN,NaN,NaN,NaN,NaN,NaN,Southern Metropolitan,3578.0
23384,Prahran,82 Murray St,2,h,1500000.0,VB,RT,26-08-2017,4.6,3181.0,NaN,NaN,NaN,NaN,NaN,NaN,Southern Metropolitan,7717.0
23397,Reservoir,5a Kyneton Av,3,u,635000.0,S,Barry,26-08-2017,12.0,3073.0,NaN,NaN,NaN,NaN,NaN,NaN,Northern Metropolitan,21650.0
23398,Reservoir,13 Lawley St,4,h,NaN,PI,Barry,26-08-2017,12.0,3073.0,NaN,NaN,NaN,NaN,NaN,NaN,Northern Metropolitan,21650.0
23409,Richmond,10/9 Westbank Tce,2,u,410000.0,PI,Jellis,26-08-2017,2.4,3121.0,NaN,NaN,NaN,NaN,NaN,NaN,Northern Metropolitan,14949.0
23412,Ringwood East,2/16 Bronhill Rd,4,t,850000.0,VB,McGrath,26-08-2017,21.3,3135.0,NaN,NaN,NaN,NaN,NaN,NaN,Eastern Metropolitan,4407.0
23418,Rowville,8 Lakeside Bvd,3,h,905000.0,S,Biggin,26-08-2017,23.5,3178.0,NaN,NaN,NaN,NaN,NaN,NaN,South-Eastern Metropolitan,11667.0
23424,Sandringham,4 Gipsy Wy,2,t,NaN,SP,Buxton,26-08-2017,15.2,3191.0,NaN,NaN,NaN,NaN,NaN,NaN,Southern Metropolitan,4497.0
23437,South Morang,2/5 Briar Ct,2,u,310000.0,S,HAR,26-08-2017,20.5,3752.0,NaN,NaN,NaN,NaN,NaN,NaN,Northern Metropolitan,7969.0
23442,South Morang,18 Warbler Wk,3,h,691000.0,S,Millership,26-08-2017,20.5,3752.0,NaN,NaN,NaN,NaN,NaN,NaN,Northern Metropolitan,7969.0
23446,South Yarra,20/22 Mona Pl,2,u,500000.0,VB,Greg,26-08-2017,2.7,3141.0,NaN,NaN,NaN,NaN,NaN,NaN,Southern Metropolitan,14887.0
23449,St Albans,1/52 Conrad St,2,t,457500.0,S,Barry,26-08-2017,14.0,3021.0,NaN,NaN,NaN,NaN,NaN,NaN,Western Metropolitan,14042.0
23453,St Albans,39b Power St,2,u,515000.0,PI,Brad,26-08-2017,14.0,3021.0,NaN,NaN,NaN,NaN,NaN,NaN,Western Metropolitan,14042.0
23472,Sunshine West,65 Europa Bnd,1,h,460000.0,S,S&L,26-08-2017,10.5,3020.0,NaN,NaN,NaN,NaN,NaN,NaN,Western Metropolitan,6763.0
23495,Templestowe Lower,1/207 Manningham Rd,2,u,550000.0,PI,Barry,26-08-2017,12.4,3107.0,NaN,NaN,NaN,NaN,NaN,NaN,Eastern Metropolitan,5420.0
23499,Thornbury,1/128 Dundas St,2,t,770000.0,PI,McGrath,26-08-2017,7.0,3071.0,NaN,NaN,NaN,NaN,NaN,NaN,Northern Metropolitan,8870.0
23502,Thornbury,111 Pender St,2,t,858000.0,S,Jellis,26-08-2017,7.0,3071.0,NaN,NaN,NaN,NaN,NaN,NaN,Northern Metropolitan,8870.0
23508,Toorak,21/1059 Malvern Rd,2,u,720000.0,VB,Beller,26-08-2017,4.1,3142.0,NaN,NaN,NaN,NaN,NaN,NaN,Southern Metropolitan,7217.0
23531,Werribee,91 Latham St,4,h,540000.0,PI,Triwest,26-08-2017,14.7,3030.0,NaN,NaN,NaN,NaN,NaN,NaN,Western Metropolitan,16166.0

In [103]:
#Count the number of rows having > 5 missing values
# use len(df.index)
len(data_frame_m[data_frame_m.isnull().sum(axis=1)>5].index)

4278

In [108]:
# calculat the percentage
100*(len(data_frame_m[data_frame_m.isnull().sum(axis=1)>5].index)/len(data_frame_m.index))

18.16791948018856

In [114]:
# Retaining the rows which is < 5 NAN's
data_framem = data_frame_m[data_frame_m.isnull().sum(axis=1) <=5]
round(100*(data_framem.isnull().sum()/len(data_framem.index)), 2)

Suburb            0.00
Address           0.00
Rooms             0.00
Type              0.00
Price            21.71
Method            0.00
SellerG           0.00
Date              0.00
Distance          0.00
Postcode          0.00
Bedroom2          1.05
Bathroom          1.07
Car               1.81
Landsize          9.65
Lattitude         0.13
Longtitude        0.13
Regionname        0.00
Propertycount     0.00
dtype: float64

In [116]:
data_framem

,Suburb,Address,Rooms,Type,Price,Method,SellerG,Date,Distance,Postcode,Bedroom2,Bathroom,Car,Landsize,Lattitude,Longtitude,Regionname,Propertycount
0,Abbotsford,68 Studley St,2,h,NaN,SS,Jellis,03-09-2016,2.5,3067.0,2.0,1.0,1.0,126.0,-37.80140,144.99580,Northern Metropolitan,4019.0
1,Abbotsford,85 Turner St,2,h,1480000.0,S,Biggin,03-12-2016,2.5,3067.0,2.0,1.0,1.0,202.0,-37.79960,144.99840,Northern Metropolitan,4019.0
2,Abbotsford,25 Bloomburg St,2,h,1035000.0,S,Biggin,04-02-2016,2.5,3067.0,2.0,1.0,0.0,156.0,-37.80790,144.99340,Northern Metropolitan,4019.0
3,Abbotsford,18/659 Victoria St,3,u,NaN,VB,Rounds,04-02-2016,2.5,3067.0,3.0,2.0,1.0,0.0,-37.81140,145.01160,Northern Metropolitan,4019.0
4,Abbotsford,5 Charles St,3,h,1465000.0,SP,Biggin,04-03-2017,2.5,3067.0,3.0,2.0,0.0,134.0,-37.80930,144.99440,Northern Metropolitan,4019.0
5,Abbotsford,40 Federation La,3,h,850000.0,PI,Biggin,04-03-2017,2.5,3067.0,3.0,2.0,1.0,94.0,-37.79690,144.99690,Northern Metropolitan,4019.0
6,Abbotsford,55a Park St,4,h,1600000.0,VB,Nelson,04-06-2016,2.5,3067.0,3.0,1.0,2.0,120.0,-37.80720,144.99410,Northern Metropolitan,4019.0
7,Abbotsford,16 Maugie St,4,h,NaN,SN,Nelson,06-08-2016,2.5,3067.0,3.0,2.0,2.0,400.0,-37.79650,144.99650,Northern Metropolitan,4019.0
8,Abbotsford,53 Turner St,2,h,NaN,S,Biggin,06-08-2016,2.5,3067.0,4.0,1.0,2.0,201.0,-37.79950,144.99740,Northern Metropolitan,4019.0
9,Abbotsford,99 Turner St,2,h,NaN,S,Collins,06-08-2016,2.5,3067.0,3.0,2.0,1.0,202.0,-37.79960,144.99890,Northern Metropolitan,4019.0
10,Abbotsford,129 Charles St,2,h,941000.0,S,Jellis,07-05-2016,2.5,3067.0,2.0,1.0,0.0,181.0,-37.80410,144.99530,Northern Metropolitan,4019.0
11,Abbotsford,124 Yarra St,3,h,1876000.0,S,Nelson,07-05-2016,2.5,3067.0,4.0,2.0,0.0,245.0,-37.80240,144.99930,Northern Metropolitan,4019.0
12,Abbotsford,121/56 Nicholson St,2,u,NaN,PI,Biggin,07-11-2016,2.5,3067.0,2.0,2.0,1.0,4292.0,-37.80780,144.99650,Northern Metropolitan,4019.0
13,Abbotsford,17 Raphael St,4,h,NaN,W,Biggin,07-11-2016,2.5,3067.0,6.0,2.0,0.0,230.0,-37.80660,144.99360,Northern Metropolitan,4019.0
14,Abbotsford,98 Charles St,2,h,1636000.0,S,Nelson,08-10-2016,2.5,3067.0,2.0,1.0,2.0,256.0,-37.80600,144.99540,Northern Metropolitan,4019.0
17,Abbotsford,6/241 Nicholson St,1,u,300000.0,S,Biggin,08-10-2016,2.5,3067.0,1.0,1.0,1.0,0.0,-37.80080,144.99730,Northern Metropolitan,4019.0
18,Abbotsford,10 Valiant St,2,h,1097000.0,S,Biggin,08-10-2016,2.5,3067.0,3.0,1.0,2.0,220.0,-37.80100,144.99890,Northern Metropolitan,4019.0
20,Abbotsford,2 Rich St,2,h,NaN,SP,Biggin,10-12-2016,2.5,3067.0,2.0,1.0,1.0,176.0,-37.79980,144.99720,Northern Metropolitan,4019.0
23,Abbotsford,411/8 Grosvenor St,2,u,700000.0,VB,Jellis,12-11-2016,2.5,3067.0,2.0,2.0,1.0,0.0,-37.81100,145.00670,Northern Metropolitan,4019.0
24,Abbotsford,40 Nicholson St,3,h,1350000.0,VB,Nelson,12-11-2016,2.5,3067.0,3.0,2.0,2.0,214.0,-37.80850,144.99640,Northern Metropolitan,4019.0
25,Abbotsford,123/56 Nicholson St,2,u,750000.0,S,Biggin,12-11-2016,2.5,3067.0,2.0,2.0,1.0,0.0,-37.80780,144.99650,Northern Metropolitan,4019.0
26,Abbotsford,22 Park St,4,h,1985000.0,S,Biggin,12-11-2016,2.5,3067.0,NaN,NaN,NaN,NaN,-37.80840,144.99420,Northern Metropolitan,4019.0
28,Abbotsford,45 William St,2,h,1172500.0,S,Biggin,13-08-2016,2.5,3067.0,2.0,1.0,1.0,195.0,-37.80840,144.99730,Northern Metropolitan,4019.0
29,Abbotsford,7/20 Abbotsford St,1,u,441000.0,SP,Greg,14-05-2016,2.5,3067.0,1.0,1.0,1.0,0.0,-37.80160,144.99880,Northern Metropolitan,4019.0
30,Abbotsford,16 William St,2,h,1310000.0,S,Jellis,15-10-2016,2.5,3067.0,2.0,1.0,2.0,238.0,-37.80900,144.99760,Northern Metropolitan,4019.0
31,Abbotsford,16/11 Nicholson St,3,u,NaN,PI,Philip,16-04-2016,2.5,3067.0,3.0,2.0,2.0,0.0,-37.80930,144.99590,Northern Metropolitan,4019.0
32,Abbotsford,42 Henry St,3,h,1200000.0,S,Jellis,16-07-2016,2.5,3067.0,3.0,2.0,1.0,113.0,-37.80560,144.99300,Northern Metropolitan,4019.0
35,Abbotsford,78 Yarra St,3,h,1176500.0,S,LITTLE,16-07-2016,2.5,3067.0,2.0,1.0,1.0,138.0,-37.80210,144.99650,Northern Metropolitan,4019.0
36,Abbotsford,196 Nicholson St,3,h,955000.0,S,Collins,17-09-2016,2.5,3067.0,3.0,1.0,0.0,183.0,-37.80220,144.99750,Northern Metropolitan,4019.0
37,Abbotsford,42 Valiant St,2,h,890000.0,S,Biggin,17-09-2016,2.5,3067.0,2.0,1.0,1.0,150.0,-37.80110,145.00040,Northern Metropolitan,4019.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
23516,Vermont South,25a Minchinbury Dr,3,u,NaN,PI,Woodards,26-08-2017,17.2,3133.0,3.0,2.0,2.0,NaN,-37.85178,145.20195,Eastern Metropolitan,4280.0
23517,Vermont South,2 Settlers Ct,4,h,1295000.0,SP,Purplebricks,26-08-2017,17.2,3133.0,4.0,2.0,2.0,NaN,-37.85928,145.18715,Eastern Metropolitan,4280.0
23518,Vermont South,9 Winswood Cl,4,h,1250000.0,PI,Philip,26-08-2017,17.2,3133.0,4.0,2.0,2.0,986.0,-37.84679,145.20051,Eastern Metropolitan,4280.0
23519,Viewbank,149 Graham Rd,5,h,1316000.0,SP,Nelson,26-08-2017,8.9,3084.0,5.0,3.0,3.0,696.0,-37.73501,145.08341,Eastern Metropolitan,2698.0
23520,Viewbank,7 Northwood Dr,4,h,NaN,SP,Nelson,26-08-2017,8.9,3084.0,4.0,2.0,2.0,1105.0,-37.73703,145.09392,Eastern Metropolitan,2698.0
23521,Wantirna,16 chesterfield Ct,4,h,951000.0,S,Ray,26-08-2017,14.7,3152.0,4.0,2.0,2.0,704.0,-37.85639,145.23536,Eastern Metropolitan,5424.0
23522,Wantirna,9 eton Sq,4,h,NaN,PI,Ray,26-08-2017,14.7,3152.0,4.0,2.0,3.0,785.0,-37.85297,145.23815,Eastern Metropolitan,5424.0
23523,Wantirna South,12 Armagh Cr,4,h,1323000.0,S,Barry,26-08-2017,14.7,3152.0,4.0,2.0,2.0,551.0,-37.87608,145.22390,Eastern Metropolitan,7082.0
23524,Wantirna South,34 Fewster Dr,3,h,970000.0,S,Barry,26-08-2017,14.7,3152.0,3.0,2.0,2.0,674.0,-37.88360,145.22805,Eastern Metropolitan,7082.0
23525,Wantirna South,15 Mara Cl,4,h,1330000.0,S,Barry,26-08-2017,14.7,3152.0,4.0,2.0,2.0,717.0,-37.86887,145.22116,Eastern Metropolitan,7082.0
23526,Watsonia,2/14 Daours Ct,2,u,590000.0,S,Lindellas,26-08-2017,14.5,3087.0,2.0,1.0,1.0,NaN,-37.71500,145.07649,Northern Metropolitan,2329.0
23527,Watsonia,76 Kenmare St,2,h,650000.0,PI,Morrison,26-08-2017,14.5,3087.0,2.0,1.0,1.0,210.0,-37.70657,145.07878,Northern Metropolitan,2329.0
23528,Watsonia North,22 Meakin St,3,h,NaN,PI,Nelson,26-08-2017,14.5,3087.0,3.0,2.0,3.0,NaN,-37.70186,145.08635,Northern Metropolitan,1442.0
23529,Werribee,6 Feijoa Ct,5,h,NaN,W,YPA,26-08-2017,14.7,3030.0,5.0,3.0,2.0,535.0,-37.89362,144.66767,Western Metropolitan,16166.0
23530,Werribee,11 Gundaroo Sq,4,h,NaN,PI,Stockdale,26-08-2017,14.7,3030.0,4.0,2.0,6.0,NaN,-37.91230,144.66980,Western Metropolitan,16166.0
23532,Werribee,5 Nuragi Ct,4,h,635000.0,S,hockingstuart,26-08-2017,14.7,3030.0,4.0,2.0,1.0,662.0,-37.89327,144.64789,Western Metropolitan,16166.0
23533,Werribee,3 Sky Ct,3,h,NaN,PI,Barry,26-08-2017,14.7,3030.0,3.0,2.0,2.0,NaN,-37.89096,144.64200,Western Metropolitan,16166.0
23534,West Footscray,1/21 Waratah St,2,t,655000.0,S,Jas,26-08-2017,6.4,3012.0,2.0,2.0,1.0,NaN,-37.80968,144.86819,Western Metropolitan,5058.0
23535,Westmeadows,9 Black St,3,h,582000.0,S,Red,26-08-2017,16.5,3049.0,3.0,2.0,2.0,256.0,-37.67917,144.89390,Northern Metropolitan,2474.0
23536,Westmeadows,81 Hillcrest Dr,4,h,720000.0,VB,Barry,26-08-2017,16.5,3049.0,4.0,2.0,0.0,NaN,-37.68006,144.87550,Northern Metropolitan,2474.0
23537,Wheelers Hill,12 Strada Cr,4,h,1245000.0,S,Barry,26-08-2017,16.7,3150.0,4.0,2.0,2.0,652.0,-37.90562,145.16761,South-Eastern Metropolitan,7392.0
23538,Williamstown,77 Merrett Dr,3,h,1031000.0,SP,Williams,26-08-2017,6.8,3016.0,3.0,2.0,2.0,333.0,-37.85927,144.87904,Western Metropolitan,6380.0
23539,Williamstown,83 Power St,3,h,1170000.0,S,Raine,26-08-2017,6.8,3016.0,3.0,2.0,4.0,436.0,-37.85274,144.88738,Western Metropolitan,6380.0
23540,Williamstown,8/2 Thompson St,2,t,622500.0,SP,Greg,26-08-2017,6.8,3016.0,2.0,2.0,1.0,NaN,-37.86393,144.90484,Western Metropolitan,6380.0
23541,Williamstown,96 Verdon St,4,h,2500000.0,PI,Sweeney,26-08-2017,6.8,3016.0,4.0,1.0,5.0,866.0,-37.85908,144.89299,Western Metropolitan,6380.0
23542,Wyndham Vale,25 Clitheroe Dr,3,u,NaN,PN,Harcourts,26-08-2017,27.2,3024.0,3.0,1.0,0.0,552.0,-37.90032,144.61839,Western Metropolitan,5262.0
23543,Wyndham Vale,19 Dalrymple Bvd,4,h,NaN,S,hockingstuart,26-08-2017,27.2,3024.0,NaN,NaN,NaN,NaN,-37.87882,144.60184,Western Metropolitan,5262.0
23544,Yallambie,17 Amaroo Wy,4,h,1100000.0,S,Buckingham,26-08-2017,12.7,3085.0,4.0,3.0,2.0,NaN,-37.72006,145.10547,Northern Metropolitan,1369.0
23545,Yarraville,6 Agnes St,4,h,1285000.0,SP,Village,26-08-2017,6.3,3013.0,4.0,1.0,1.0,362.0,-37.81188,144.88449,Western Metropolitan,6543.0
23546,Yarraville,33 Freeman St,4,h,1050000.0,VB,Village,26-08-2017,6.3,3013.0,4.0,2.0,2.0,NaN,-37.81829,144.87404,Western Metropolitan,6543.0

In [118]:
data_framem_noprice = data_framem[~np.isnan(data_framem["Price"])]
data_framem

,Suburb,Address,Rooms,Type,Price,Method,SellerG,Date,Distance,Postcode,Bedroom2,Bathroom,Car,Landsize,Lattitude,Longtitude,Regionname,Propertycount
0,Abbotsford,68 Studley St,2,h,NaN,SS,Jellis,03-09-2016,2.5,3067.0,2.0,1.0,1.0,126.0,-37.80140,144.99580,Northern Metropolitan,4019.0
1,Abbotsford,85 Turner St,2,h,1480000.0,S,Biggin,03-12-2016,2.5,3067.0,2.0,1.0,1.0,202.0,-37.79960,144.99840,Northern Metropolitan,4019.0
2,Abbotsford,25 Bloomburg St,2,h,1035000.0,S,Biggin,04-02-2016,2.5,3067.0,2.0,1.0,0.0,156.0,-37.80790,144.99340,Northern Metropolitan,4019.0
3,Abbotsford,18/659 Victoria St,3,u,NaN,VB,Rounds,04-02-2016,2.5,3067.0,3.0,2.0,1.0,0.0,-37.81140,145.01160,Northern Metropolitan,4019.0
4,Abbotsford,5 Charles St,3,h,1465000.0,SP,Biggin,04-03-2017,2.5,3067.0,3.0,2.0,0.0,134.0,-37.80930,144.99440,Northern Metropolitan,4019.0
5,Abbotsford,40 Federation La,3,h,850000.0,PI,Biggin,04-03-2017,2.5,3067.0,3.0,2.0,1.0,94.0,-37.79690,144.99690,Northern Metropolitan,4019.0
6,Abbotsford,55a Park St,4,h,1600000.0,VB,Nelson,04-06-2016,2.5,3067.0,3.0,1.0,2.0,120.0,-37.80720,144.99410,Northern Metropolitan,4019.0
7,Abbotsford,16 Maugie St,4,h,NaN,SN,Nelson,06-08-2016,2.5,3067.0,3.0,2.0,2.0,400.0,-37.79650,144.99650,Northern Metropolitan,4019.0
8,Abbotsford,53 Turner St,2,h,NaN,S,Biggin,06-08-2016,2.5,3067.0,4.0,1.0,2.0,201.0,-37.79950,144.99740,Northern Metropolitan,4019.0
9,Abbotsford,99 Turner St,2,h,NaN,S,Collins,06-08-2016,2.5,3067.0,3.0,2.0,1.0,202.0,-37.79960,144.99890,Northern Metropolitan,4019.0
10,Abbotsford,129 Charles St,2,h,941000.0,S,Jellis,07-05-2016,2.5,3067.0,2.0,1.0,0.0,181.0,-37.80410,144.99530,Northern Metropolitan,4019.0
11,Abbotsford,124 Yarra St,3,h,1876000.0,S,Nelson,07-05-2016,2.5,3067.0,4.0,2.0,0.0,245.0,-37.80240,144.99930,Northern Metropolitan,4019.0
12,Abbotsford,121/56 Nicholson St,2,u,NaN,PI,Biggin,07-11-2016,2.5,3067.0,2.0,2.0,1.0,4292.0,-37.80780,144.99650,Northern Metropolitan,4019.0
13,Abbotsford,17 Raphael St,4,h,NaN,W,Biggin,07-11-2016,2.5,3067.0,6.0,2.0,0.0,230.0,-37.80660,144.99360,Northern Metropolitan,4019.0
14,Abbotsford,98 Charles St,2,h,1636000.0,S,Nelson,08-10-2016,2.5,3067.0,2.0,1.0,2.0,256.0,-37.80600,144.99540,Northern Metropolitan,4019.0
17,Abbotsford,6/241 Nicholson St,1,u,300000.0,S,Biggin,08-10-2016,2.5,3067.0,1.0,1.0,1.0,0.0,-37.80080,144.99730,Northern Metropolitan,4019.0
18,Abbotsford,10 Valiant St,2,h,1097000.0,S,Biggin,08-10-2016,2.5,3067.0,3.0,1.0,2.0,220.0,-37.80100,144.99890,Northern Metropolitan,4019.0
20,Abbotsford,2 Rich St,2,h,NaN,SP,Biggin,10-12-2016,2.5,3067.0,2.0,1.0,1.0,176.0,-37.79980,144.99720,Northern Metropolitan,4019.0
23,Abbotsford,411/8 Grosvenor St,2,u,700000.0,VB,Jellis,12-11-2016,2.5,3067.0,2.0,2.0,1.0,0.0,-37.81100,145.00670,Northern Metropolitan,4019.0
24,Abbotsford,40 Nicholson St,3,h,1350000.0,VB,Nelson,12-11-2016,2.5,3067.0,3.0,2.0,2.0,214.0,-37.80850,144.99640,Northern Metropolitan,4019.0
25,Abbotsford,123/56 Nicholson St,2,u,750000.0,S,Biggin,12-11-2016,2.5,3067.0,2.0,2.0,1.0,0.0,-37.80780,144.99650,Northern Metropolitan,4019.0
26,Abbotsford,22 Park St,4,h,1985000.0,S,Biggin,12-11-2016,2.5,3067.0,NaN,NaN,NaN,NaN,-37.80840,144.99420,Northern Metropolitan,4019.0
28,Abbotsford,45 William St,2,h,1172500.0,S,Biggin,13-08-2016,2.5,3067.0,2.0,1.0,1.0,195.0,-37.80840,144.99730,Northern Metropolitan,4019.0
29,Abbotsford,7/20 Abbotsford St,1,u,441000.0,SP,Greg,14-05-2016,2.5,3067.0,1.0,1.0,1.0,0.0,-37.80160,144.99880,Northern Metropolitan,4019.0
30,Abbotsford,16 William St,2,h,1310000.0,S,Jellis,15-10-2016,2.5,3067.0,2.0,1.0,2.0,238.0,-37.80900,144.99760,Northern Metropolitan,4019.0
31,Abbotsford,16/11 Nicholson St,3,u,NaN,PI,Philip,16-04-2016,2.5,3067.0,3.0,2.0,2.0,0.0,-37.80930,144.99590,Northern Metropolitan,4019.0
32,Abbotsford,42 Henry St,3,h,1200000.0,S,Jellis,16-07-2016,2.5,3067.0,3.0,2.0,1.0,113.0,-37.80560,144.99300,Northern Metropolitan,4019.0
35,Abbotsford,78 Yarra St,3,h,1176500.0,S,LITTLE,16-07-2016,2.5,3067.0,2.0,1.0,1.0,138.0,-37.80210,144.99650,Northern Metropolitan,4019.0
36,Abbotsford,196 Nicholson St,3,h,955000.0,S,Collins,17-09-2016,2.5,3067.0,3.0,1.0,0.0,183.0,-37.80220,144.99750,Northern Metropolitan,4019.0
37,Abbotsford,42 Valiant St,2,h,890000.0,S,Biggin,17-09-2016,2.5,3067.0,2.0,1.0,1.0,150.0,-37.80110,145.00040,Northern Metropolitan,4019.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
23516,Vermont South,25a Minchinbury Dr,3,u,NaN,PI,Woodards,26-08-2017,17.2,3133.0,3.0,2.0,2.0,NaN,-37.85178,145.20195,Eastern Metropolitan,4280.0
23517,Vermont South,2 Settlers Ct,4,h,1295000.0,SP,Purplebricks,26-08-2017,17.2,3133.0,4.0,2.0,2.0,NaN,-37.85928,145.18715,Eastern Metropolitan,4280.0
23518,Vermont South,9 Winswood Cl,4,h,1250000.0,PI,Philip,26-08-2017,17.2,3133.0,4.0,2.0,2.0,986.0,-37.84679,145.20051,Eastern Metropolitan,4280.0
23519,Viewbank,149 Graham Rd,5,h,1316000.0,SP,Nelson,26-08-2017,8.9,3084.0,5.0,3.0,3.0,696.0,-37.73501,145.08341,Eastern Metropolitan,2698.0
23520,Viewbank,7 Northwood Dr,4,h,NaN,SP,Nelson,26-08-2017,8.9,3084.0,4.0,2.0,2.0,1105.0,-37.73703,145.09392,Eastern Metropolitan,2698.0
23521,Wantirna,16 chesterfield Ct,4,h,951000.0,S,Ray,26-08-2017,14.7,3152.0,4.0,2.0,2.0,704.0,-37.85639,145.23536,Eastern Metropolitan,5424.0
23522,Wantirna,9 eton Sq,4,h,NaN,PI,Ray,26-08-2017,14.7,3152.0,4.0,2.0,3.0,785.0,-37.85297,145.23815,Eastern Metropolitan,5424.0
23523,Wantirna South,12 Armagh Cr,4,h,1323000.0,S,Barry,26-08-2017,14.7,3152.0,4.0,2.0,2.0,551.0,-37.87608,145.22390,Eastern Metropolitan,7082.0
23524,Wantirna South,34 Fewster Dr,3,h,970000.0,S,Barry,26-08-2017,14.7,3152.0,3.0,2.0,2.0,674.0,-37.88360,145.22805,Eastern Metropolitan,7082.0
23525,Wantirna South,15 Mara Cl,4,h,1330000.0,S,Barry,26-08-2017,14.7,3152.0,4.0,2.0,2.0,717.0,-37.86887,145.22116,Eastern Metropolitan,7082.0
23526,Watsonia,2/14 Daours Ct,2,u,590000.0,S,Lindellas,26-08-2017,14.5,3087.0,2.0,1.0,1.0,NaN,-37.71500,145.07649,Northern Metropolitan,2329.0
23527,Watsonia,76 Kenmare St,2,h,650000.0,PI,Morrison,26-08-2017,14.5,3087.0,2.0,1.0,1.0,210.0,-37.70657,145.07878,Northern Metropolitan,2329.0
23528,Watsonia North,22 Meakin St,3,h,NaN,PI,Nelson,26-08-2017,14.5,3087.0,3.0,2.0,3.0,NaN,-37.70186,145.08635,Northern Metropolitan,1442.0
23529,Werribee,6 Feijoa Ct,5,h,NaN,W,YPA,26-08-2017,14.7,3030.0,5.0,3.0,2.0,535.0,-37.89362,144.66767,Western Metropolitan,16166.0
23530,Werribee,11 Gundaroo Sq,4,h,NaN,PI,Stockdale,26-08-2017,14.7,3030.0,4.0,2.0,6.0,NaN,-37.91230,144.66980,Western Metropolitan,16166.0
23532,Werribee,5 Nuragi Ct,4,h,635000.0,S,hockingstuart,26-08-2017,14.7,3030.0,4.0,2.0,1.0,662.0,-37.89327,144.64789,Western Metropolitan,16166.0
23533,Werribee,3 Sky Ct,3,h,NaN,PI,Barry,26-08-2017,14.7,3030.0,3.0,2.0,2.0,NaN,-37.89096,144.64200,Western Metropolitan,16166.0
23534,West Footscray,1/21 Waratah St,2,t,655000.0,S,Jas,26-08-2017,6.4,3012.0,2.0,2.0,1.0,NaN,-37.80968,144.86819,Western Metropolitan,5058.0
23535,Westmeadows,9 Black St,3,h,582000.0,S,Red,26-08-2017,16.5,3049.0,3.0,2.0,2.0,256.0,-37.67917,144.89390,Northern Metropolitan,2474.0
23536,Westmeadows,81 Hillcrest Dr,4,h,720000.0,VB,Barry,26-08-2017,16.5,3049.0,4.0,2.0,0.0,NaN,-37.68006,144.87550,Northern Metropolitan,2474.0
23537,Wheelers Hill,12 Strada Cr,4,h,1245000.0,S,Barry,26-08-2017,16.7,3150.0,4.0,2.0,2.0,652.0,-37.90562,145.16761,South-Eastern Metropolitan,7392.0
23538,Williamstown,77 Merrett Dr,3,h,1031000.0,SP,Williams,26-08-2017,6.8,3016.0,3.0,2.0,2.0,333.0,-37.85927,144.87904,Western Metropolitan,6380.0
23539,Williamstown,83 Power St,3,h,1170000.0,S,Raine,26-08-2017,6.8,3016.0,3.0,2.0,4.0,436.0,-37.85274,144.88738,Western Metropolitan,6380.0
23540,Williamstown,8/2 Thompson St,2,t,622500.0,SP,Greg,26-08-2017,6.8,3016.0,2.0,2.0,1.0,NaN,-37.86393,144.90484,Western Metropolitan,6380.0
23541,Williamstown,96 Verdon St,4,h,2500000.0,PI,Sweeney,26-08-2017,6.8,3016.0,4.0,1.0,5.0,866.0,-37.85908,144.89299,Western Metropolitan,6380.0
23542,Wyndham Vale,25 Clitheroe Dr,3,u,NaN,PN,Harcourts,26-08-2017,27.2,3024.0,3.0,1.0,0.0,552.0,-37.90032,144.61839,Western Metropolitan,5262.0
23543,Wyndham Vale,19 Dalrymple Bvd,4,h,NaN,S,hockingstuart,26-08-2017,27.2,3024.0,NaN,NaN,NaN,NaN,-37.87882,144.60184,Western Metropolitan,5262.0
23544,Yallambie,17 Amaroo Wy,4,h,1100000.0,S,Buckingham,26-08-2017,12.7,3085.0,4.0,3.0,2.0,NaN,-37.72006,145.10547,Northern Metropolitan,1369.0
23545,Yarraville,6 Agnes St,4,h,1285000.0,SP,Village,26-08-2017,6.3,3013.0,4.0,1.0,1.0,362.0,-37.81188,144.88449,Western Metropolitan,6543.0
23546,Yarraville,33 Freeman St,4,h,1050000.0,VB,Village,26-08-2017,6.3,3013.0,4.0,2.0,2.0,NaN,-37.81829,144.87404,Western Metropolitan,6543.0

In [122]:
data_framem = data_frame_m[data_frame_m.isnull().sum(axis=1) <=5]
round(100*(data_framem.isnull().sum()/len(data_framem.index)), 2)

In [125]:
# Remove all the values of NAN from price as below.
data_framem_noprice = data_framem[~np.isnan(data_framem["Price"])]
round(100*(data_framem_noprice.isnull().sum()/len(data_framem_noprice.index)), 2)

Suburb           0.00
Address          0.00
Rooms            0.00
Type             0.00
Price            0.00
Method           0.00
SellerG          0.00
Date             0.00
Distance         0.00
Postcode         0.00
Bedroom2         1.05
Bathroom         1.07
Car              1.76
Landsize         9.83
Lattitude        0.15
Longtitude       0.15
Regionname       0.00
Propertycount    0.00
dtype: float64

In [128]:
data_framem_noprice["Landsize"].describe()

count     13603.000000
mean        558.116371
std        3987.326586
min           0.000000
25%         176.500000
50%         440.000000
75%         651.000000
max      433014.000000
Name: Landsize, dtype: float64

In [130]:
# removing NAN from landsize
data_framem_nolandsize = data_framem_noprice[~np.isnan(data_framem_noprice["Landsize"])]
round(100*(data_framem_nolandsize.isnull().sum()/len(data_framem_nolandsize.index)),2)

Suburb           0.00
Address          0.00
Rooms            0.00
Type             0.00
Price            0.00
Method           0.00
SellerG          0.00
Date             0.00
Distance         0.00
Postcode         0.00
Bedroom2         0.00
Bathroom         0.01
Car              0.46
Landsize         0.00
Lattitude        0.16
Longtitude       0.16
Regionname       0.00
Propertycount    0.00
dtype: float64

In [131]:
data_framem_nolandsize

,Suburb,Address,Rooms,Type,Price,Method,SellerG,Date,Distance,Postcode,Bedroom2,Bathroom,Car,Landsize,Lattitude,Longtitude,Regionname,Propertycount
1,Abbotsford,85 Turner St,2,h,1480000.0,S,Biggin,03-12-2016,2.5,3067.0,2.0,1.0,1.0,202.0,-37.79960,144.99840,Northern Metropolitan,4019.0
2,Abbotsford,25 Bloomburg St,2,h,1035000.0,S,Biggin,04-02-2016,2.5,3067.0,2.0,1.0,0.0,156.0,-37.80790,144.99340,Northern Metropolitan,4019.0
4,Abbotsford,5 Charles St,3,h,1465000.0,SP,Biggin,04-03-2017,2.5,3067.0,3.0,2.0,0.0,134.0,-37.80930,144.99440,Northern Metropolitan,4019.0
5,Abbotsford,40 Federation La,3,h,850000.0,PI,Biggin,04-03-2017,2.5,3067.0,3.0,2.0,1.0,94.0,-37.79690,144.99690,Northern Metropolitan,4019.0
6,Abbotsford,55a Park St,4,h,1600000.0,VB,Nelson,04-06-2016,2.5,3067.0,3.0,1.0,2.0,120.0,-37.80720,144.99410,Northern Metropolitan,4019.0
10,Abbotsford,129 Charles St,2,h,941000.0,S,Jellis,07-05-2016,2.5,3067.0,2.0,1.0,0.0,181.0,-37.80410,144.99530,Northern Metropolitan,4019.0
11,Abbotsford,124 Yarra St,3,h,1876000.0,S,Nelson,07-05-2016,2.5,3067.0,4.0,2.0,0.0,245.0,-37.80240,144.99930,Northern Metropolitan,4019.0
14,Abbotsford,98 Charles St,2,h,1636000.0,S,Nelson,08-10-2016,2.5,3067.0,2.0,1.0,2.0,256.0,-37.80600,144.99540,Northern Metropolitan,4019.0
17,Abbotsford,6/241 Nicholson St,1,u,300000.0,S,Biggin,08-10-2016,2.5,3067.0,1.0,1.0,1.0,0.0,-37.80080,144.99730,Northern Metropolitan,4019.0
18,Abbotsford,10 Valiant St,2,h,1097000.0,S,Biggin,08-10-2016,2.5,3067.0,3.0,1.0,2.0,220.0,-37.80100,144.99890,Northern Metropolitan,4019.0
23,Abbotsford,411/8 Grosvenor St,2,u,700000.0,VB,Jellis,12-11-2016,2.5,3067.0,2.0,2.0,1.0,0.0,-37.81100,145.00670,Northern Metropolitan,4019.0
24,Abbotsford,40 Nicholson St,3,h,1350000.0,VB,Nelson,12-11-2016,2.5,3067.0,3.0,2.0,2.0,214.0,-37.80850,144.99640,Northern Metropolitan,4019.0
25,Abbotsford,123/56 Nicholson St,2,u,750000.0,S,Biggin,12-11-2016,2.5,3067.0,2.0,2.0,1.0,0.0,-37.80780,144.99650,Northern Metropolitan,4019.0
28,Abbotsford,45 William St,2,h,1172500.0,S,Biggin,13-08-2016,2.5,3067.0,2.0,1.0,1.0,195.0,-37.80840,144.99730,Northern Metropolitan,4019.0
29,Abbotsford,7/20 Abbotsford St,1,u,441000.0,SP,Greg,14-05-2016,2.5,3067.0,1.0,1.0,1.0,0.0,-37.80160,144.99880,Northern Metropolitan,4019.0
30,Abbotsford,16 William St,2,h,1310000.0,S,Jellis,15-10-2016,2.5,3067.0,2.0,1.0,2.0,238.0,-37.80900,144.99760,Northern Metropolitan,4019.0
32,Abbotsford,42 Henry St,3,h,1200000.0,S,Jellis,16-07-2016,2.5,3067.0,3.0,2.0,1.0,113.0,-37.80560,144.99300,Northern Metropolitan,4019.0
35,Abbotsford,78 Yarra St,3,h,1176500.0,S,LITTLE,16-07-2016,2.5,3067.0,2.0,1.0,1.0,138.0,-37.80210,144.99650,Northern Metropolitan,4019.0
36,Abbotsford,196 Nicholson St,3,h,955000.0,S,Collins,17-09-2016,2.5,3067.0,3.0,1.0,0.0,183.0,-37.80220,144.99750,Northern Metropolitan,4019.0
37,Abbotsford,42 Valiant St,2,h,890000.0,S,Biggin,17-09-2016,2.5,3067.0,2.0,1.0,1.0,150.0,-37.80110,145.00040,Northern Metropolitan,4019.0
38,Abbotsford,3/72 Charles St,4,h,1330000.0,PI,Kay,18-03-2017,2.5,3067.0,4.0,2.0,2.0,780.0,-37.80730,144.99520,Northern Metropolitan,4019.0
40,Abbotsford,13/11 Nicholson St,3,t,900000.0,S,Beller,18-03-2017,2.5,3067.0,3.0,2.0,2.0,0.0,-37.80930,144.99590,Northern Metropolitan,4019.0
41,Abbotsford,138/56 Nicholson St,3,u,1090000.0,S,Jellis,18-03-2017,2.5,3067.0,3.0,2.0,2.0,4290.0,-37.80780,144.99650,Northern Metropolitan,4019.0
42,Abbotsford,6/219 Nicholson St,2,u,500000.0,S,Collins,18-06-2016,2.5,3067.0,2.0,1.0,1.0,0.0,-37.80150,144.99720,Northern Metropolitan,4019.0
43,Abbotsford,52a William St,2,h,1100000.0,PI,Biggin,18-06-2016,2.5,3067.0,2.0,2.0,1.0,124.0,-37.80790,144.99770,Northern Metropolitan,4019.0
44,Abbotsford,49 Park St,2,h,1315000.0,S,Marshall,19-11-2016,2.5,3067.0,2.0,1.0,0.0,147.0,-37.80800,144.99400,Northern Metropolitan,4019.0
48,Abbotsford,5/20 Abbotsford St,1,u,426000.0,SP,Greg,22-08-2016,2.5,3067.0,1.0,1.0,1.0,0.0,-37.80160,144.99880,Northern Metropolitan,4019.0
49,Abbotsford,48 Abbotsford St,3,h,1447500.0,PI,Nelson,22-08-2016,2.5,3067.0,3.0,3.0,1.0,166.0,-37.80170,145.00010,Northern Metropolitan,4019.0
50,Abbotsford,116/56 Nicholson St,1,u,457000.0,S,Jellis,22-08-2016,2.5,3067.0,1.0,1.0,1.0,0.0,-37.80780,144.99650,Northern Metropolitan,4019.0
51,Abbotsford,159 Park St,2,h,1135000.0,S,Nelson,22-08-2016,2.5,3067.0,2.0,2.0,2.0,98.0,-37.80050,144.99520,Northern Metropolitan,4019.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
23471,Sunshine North,5 Berkshire Rd,3,h,595000.0,SP,Barry,26-08-2017,10.5,3020.0,3.0,1.0,NaN,589.0,-37.76599,144.84445,Western Metropolitan,4217.0
23473,Sunshine West,24 Hilma St,4,h,682000.0,S,Barry,26-08-2017,10.5,3020.0,4.0,1.0,2.0,534.0,-37.79161,144.80461,Western Metropolitan,6763.0
23474,Sunshine West,16 Mudford St,3,h,640000.0,S,Bells,26-08-2017,10.5,3020.0,3.0,1.0,1.0,616.0,-37.79798,144.81529,Western Metropolitan,6763.0
23475,Surrey Hills,20 Albert Cr,4,h,2720000.0,S,Kay,26-08-2017,10.2,3127.0,4.0,3.0,2.0,1005.0,-37.82421,145.10352,Southern Metropolitan,5457.0
23476,Surrey Hills,46 Durham Rd,3,h,1715000.0,S,Noel,26-08-2017,10.2,3127.0,3.0,1.0,2.0,438.0,-37.83015,145.09035,Southern Metropolitan,5457.0
23479,Surrey Hills,3 Oak St,4,h,3100000.0,VB,Marshall,26-08-2017,10.2,3127.0,4.0,2.0,3.0,832.0,-37.83564,145.10919,Southern Metropolitan,5457.0
23482,Tarneit,27 McMahon Cr,3,h,350000.0,VB,S&L,26-08-2017,18.4,3029.0,3.0,1.0,1.0,466.0,-37.86744,144.65609,Western Metropolitan,10160.0
23488,Templestowe,10 Hathaway Cl,4,h,1753000.0,S,Barry,26-08-2017,15.5,3106.0,4.0,2.0,2.0,689.0,-37.76673,145.16555,Eastern Metropolitan,6202.0
23490,Templestowe Lower,20 Airds Rd,4,h,1745000.0,S,RT,26-08-2017,12.4,3107.0,4.0,2.0,2.0,741.0,-37.75843,145.10888,Eastern Metropolitan,5420.0
23491,Templestowe Lower,16 Benambra Dr,3,h,1190000.0,S,hockingstuart,26-08-2017,12.4,3107.0,3.0,1.0,1.0,723.0,-37.76684,145.11309,Eastern Metropolitan,5420.0
23492,Templestowe Lower,50 Caroline Dr,5,h,1400000.0,S,Barry,26-08-2017,12.4,3107.0,5.0,3.0,2.0,717.0,-37.76630,145.11320,Eastern Metropolitan,5420.0
23493,Templestowe Lower,7 Dove Ct,4,h,1288000.0,S,Barry,26-08-2017,12.4,3107.0,4.0,2.0,2.0,948.0,-37.76078,145.10696,Eastern Metropolitan,5420.0
23497,Thornbury,7 Ballantyne St,3,h,1450000.0,S,Woodards,26-08-2017,7.0,3071.0,3.0,1.0,1.0,312.0,-37.75870,144.99966,Northern Metropolitan,8870.0
23501,Thornbury,201 Gooch St,3,h,1271000.0,S,Nelson,26-08-2017,7.0,3071.0,3.0,1.0,2.0,470.0,-37.75937,145.01534,Northern Metropolitan,8870.0
23512,Tullamarine,7 Londrew Ct,3,h,540000.0,S,Barry,26-08-2017,12.9,3043.0,3.0,1.0,1.0,607.0,-37.69423,144.88002,Western Metropolitan,3296.0
23514,Vermont,73 Nurlendi Rd,4,h,1263500.0,S,Barry,26-08-2017,17.2,3133.0,4.0,2.0,2.0,791.0,-37.84467,145.19276,Eastern Metropolitan,4181.0
23518,Vermont South,9 Winswood Cl,4,h,1250000.0,PI,Philip,26-08-2017,17.2,3133.0,4.0,2.0,2.0,986.0,-37.84679,145.20051,Eastern Metropolitan,4280.0
23519,Viewbank,149 Graham Rd,5,h,1316000.0,SP,Nelson,26-08-2017,8.9,3084.0,5.0,3.0,3.0,696.0,-37.73501,145.08341,Eastern Metropolitan,2698.0
23521,Wantirna,16 chesterfield Ct,4,h,951000.0,S,Ray,26-08-2017,14.7,3152.0,4.0,2.0,2.0,704.0,-37.85639,145.23536,Eastern Metropolitan,5424.0
23523,Wantirna South,12 Armagh Cr,4,h,1323000.0,S,Barry,26-08-2017,14.7,3152.0,4.0,2.0,2.0,551.0,-37.87608,145.22390,Eastern Metropolitan,7082.0
23524,Wantirna South,34 Fewster Dr,3,h,970000.0,S,Barry,26-08-2017,14.7,3152.0,3.0,2.0,2.0,674.0,-37.88360,145.22805,Eastern Metropolitan,7082.0
23525,Wantirna South,15 Mara Cl,4,h,1330000.0,S,Barry,26-08-2017,14.7,3152.0,4.0,2.0,2.0,717.0,-37.86887,145.22116,Eastern Metropolitan,7082.0
23527,Watsonia,76 Kenmare St,2,h,650000.0,PI,Morrison,26-08-2017,14.5,3087.0,2.0,1.0,1.0,210.0,-37.70657,145.07878,Northern Metropolitan,2329.0
23532,Werribee,5 Nuragi Ct,4,h,635000.0,S,hockingstuart,26-08-2017,14.7,3030.0,4.0,2.0,1.0,662.0,-37.89327,144.64789,Western Metropolitan,16166.0
23535,Westmeadows,9 Black St,3,h,582000.0,S,Red,26-08-2017,16.5,3049.0,3.0,2.0,2.0,256.0,-37.67917,144.89390,Northern Metropolitan,2474.0
23537,Wheelers Hill,12 Strada Cr,4,h,1245000.0,S,Barry,26-08-2017,16.7,3150.0,4.0,2.0,2.0,652.0,-37.90562,145.16761,South-Eastern Metropolitan,7392.0
23538,Williamstown,77 Merrett Dr,3,h,1031000.0,SP,Williams,26-08-2017,6.8,3016.0,3.0,2.0,2.0,333.0,-37.85927,144.87904,Western Metropolitan,6380.0
23539,Williamstown,83 Power St,3,h,1170000.0,S,Raine,26-08-2017,6.8,3016.0,3.0,2.0,4.0,436.0,-37.85274,144.88738,Western Metropolitan,6380.0
23541,Williamstown,96 Verdon St,4,h,2500000.0,PI,Sweeney,26-08-2017,6.8,3016.0,4.0,1.0,5.0,866.0,-37.85908,144.89299,Western Metropolitan,6380.0
23545,Yarraville,6 Agnes St,4,h,1285000.0,SP,Village,26-08-2017,6.3,3013.0,4.0,1.0,1.0,362.0,-37.81188,144.88449,Western Metropolitan,6543.0

In [137]:
# Now the missing columns with NAN can be easily be impute for latitude and longitude.
data_framem_nolandsize.loc[:,['Lattitude','Longtitude']].describe()

          Lattitude    Longtitude
count  13581.000000  13581.000000
mean     -37.809204    144.995221
std        0.079257      0.103913
min      -38.182550    144.431810
25%      -37.856820    144.929600
50%      -37.802360    145.000100
75%      -37.756400    145.058320
max      -37.408530    145.526350

In [141]:
# Since the variation between the latitude and longtitude is very narrow we can actually impute the mean value

data_framem_nolandsize.loc[np.isnan(data_framem_nolandsize['Lattitude']),['Lattitude']] = data_framem_nolandsize['Lattitude'].mean()
data_framem_nolandsize.loc[np.isnan(data_framem_nolandsize['Longtitude']),['Longtitude']] = data_framem_nolandsize['Longtitude'].mean()

round(100*(data_framem_nolandsize.isnull().sum()/len(data_framem_nolandsize.index)), 2)

Suburb           0.00
Address          0.00
Rooms            0.00
Type             0.00
Price            0.00
Method           0.00
SellerG          0.00
Date             0.00
Distance         0.00
Postcode         0.00
Bedroom2         0.00
Bathroom         0.01
Car              0.46
Landsize         0.00
Lattitude        0.00
Longtitude       0.00
Regionname       0.00
Propertycount    0.00
dtype: float64

In [144]:
# Impute for the car data and bathroom
data_framem_nolandsize.loc[:,["Car","Bathroom"]].describe()

                Car      Bathroom
count  13540.000000  13602.000000
mean       1.610414      1.534921
std        0.962244      0.691834
min        0.000000      0.000000
25%        1.000000      1.000000
50%        2.000000      1.000000
75%        2.000000      2.000000
max       10.000000      8.000000

In [146]:
#Converting the carprks to category
data_framem_nolandsize['Car']=data_framem_nolandsize['Car'].astype('category')
data_framem_nolandsize['Car'].value_counts()

D:\Programs\anaconda3\lib\site-packages\ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

2.0     5606
1.0     5515
0.0     1026
3.0      748
4.0      507
5.0       63
6.0       54
8.0        9
7.0        8
10.0       3
9.0        1
Name: Car, dtype: int64

In [149]:
data_framem_nolandsize.loc[pd.isnull(data_framem_nolandsize['Car']),['Car']]=2
round(100*(data_framem_nolandsize.isnull().sum()/len(data_framem_nolandsize.index)), 2)

Suburb           0.00
Address          0.00
Rooms            0.00
Type             0.00
Price            0.00
Method           0.00
SellerG          0.00
Date             0.00
Distance         0.00
Postcode         0.00
Bedroom2         0.00
Bathroom         0.01
Car              0.00
Landsize         0.00
Lattitude        0.00
Longtitude       0.00
Regionname       0.00
Propertycount    0.00
dtype: float64

In [150]:
# With the above the only column that is left to deal with is bathroom
data_framem_nolandsize['Bathroom']=data_framem_nolandsize['Bathroom'].astype('category')
data_framem_nolandsize['Bathroom'].value_counts()

D:\Programs\anaconda3\lib\site-packages\ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

1.0    7517
2.0    4987
3.0     921
4.0     106
0.0      34
5.0      28
6.0       5
8.0       2
7.0       2
Name: Bathroom, dtype: int64

In [152]:
# We can impute the bathrooms with 1 as majority has 1 bathrooms

data_framem_nolandsize.loc[pd.isnull(data_framem_nolandsize['Bathroom']),['Bathroom']] =1
round(100*(data_framem_nolandsize.isnull().sum()/len(data_framem_nolandsize.index)), 2)

Suburb           0.0
Address          0.0
Rooms            0.0
Type             0.0
Price            0.0
Method           0.0
SellerG          0.0
Date             0.0
Distance         0.0
Postcode         0.0
Bedroom2         0.0
Bathroom         0.0
Car              0.0
Landsize         0.0
Lattitude        0.0
Longtitude       0.0
Regionname       0.0
Propertycount    0.0
dtype: float64

In [155]:
data_framem_nolandsize.shape

(13603, 18)

In [158]:
(len(data_framem_nolandsize.index)/23547)*100
#Lost around 32% of it. but it is still good enough data for the ML algorithm

57.769567248481756

In [161]:
import pandas as pd
df_test_cv = pd.read_csv('https://query.data.world/s/Hfu_PsEuD1Z_yJHmGaxWTxvkz7W_b0')
print(round(df_test_cv.isnull().sum()/len(df_test_cv.index)),2)#Round off percentage values to 2 decimial places.

Ord_id                 0.0
Prod_id                0.0
Ship_id                0.0
Cust_id                0.0
Sales                  0.0
Discount               0.0
Order_Quantity         0.0
Profit                 0.0
Shipping_Cost          0.0
Product_Base_Margin    0.0
dtype: float64 2

In [167]:
print(round(100*(df_test_cv.isnull().sum()/len(df_test_cv.index)),2))

Ord_id                 0.00
Prod_id                0.00
Ship_id                0.00
Cust_id                0.00
Sales                  0.24
Discount               0.65
Order_Quantity         0.65
Profit                 0.65
Shipping_Cost          0.65
Product_Base_Margin    1.30
dtype: float64

In [168]:
df_test_cv

,Ord_id,Prod_id,Ship_id,Cust_id,Sales,Discount,Order_Quantity,Profit,Shipping_Cost,Product_Base_Margin
0,Ord_5446,Prod_16,SHP_7609,Cust_1818,136.8100,0.01,23.0,-30.51,3.60,0.56
1,Ord_5406,Prod_13,SHP_7549,Cust_1818,42.2700,0.01,13.0,4.56,0.93,0.54
2,Ord_5446,Prod_4,SHP_7610,Cust_1818,4701.6900,0.00,26.0,1148.90,2.50,0.59
3,Ord_5456,Prod_6,SHP_7625,Cust_1818,2337.8900,0.09,43.0,729.34,14.30,0.37
4,Ord_5485,Prod_17,SHP_7664,Cust_1818,4233.1500,0.08,35.0,1219.87,26.30,0.38
5,Ord_5446,Prod_6,SHP_7608,Cust_1818,164.0200,0.03,23.0,-47.64,6.15,0.37
6,Ord_31,Prod_12,SHP_41,Cust_26,14.7600,0.01,5.0,1.32,0.50,0.36
7,Ord_4725,Prod_4,SHP_6593,Cust_1641,3410.1575,0.10,48.0,1137.91,0.99,0.55
8,Ord_4725,Prod_13,SHP_6593,Cust_1641,162.0000,0.01,33.0,45.84,0.71,0.52
9,Ord_4725,Prod_6,SHP_6593,Cust_1641,57.2200,0.07,8.0,-27.72,6.60,0.37
10,Ord_4743,Prod_2,SHP_6615,Cust_1641,4072.0100,0.01,43.0,1675.98,0.99,0.56
11,Ord_1925,Prod_6,SHP_2637,Cust_708,465.9000,0.05,38.0,79.34,4.86,0.38
12,Ord_2978,Prod_16,SHP_4112,Cust_1088,305.0500,0.04,27.0,23.12,3.37,0.57
13,Ord_2207,Prod_11,SHP_3093,Cust_839,3364.2480,0.10,15.0,-693.23,61.76,0.78
14,Ord_2207,Prod_10,SHP_3006,Cust_839,1410.9300,0.08,10.0,-317.48,36.09,0.77
15,Ord_2280,Prod_5,SHP_3114,Cust_839,460.6900,0.06,48.0,-103.48,7.29,0.45
16,Ord_2282,Prod_9,SHP_3122,Cust_839,443.4600,0.06,30.0,193.12,1.39,0.38
17,Ord_4471,Prod_15,SHP_6228,Cust_1521,13255.9300,0.02,25.0,4089.27,26.00,0.60
18,Ord_4427,Prod_6,SHP_6171,Cust_1521,283.1300,0.08,45.0,-141.26,6.81,0.36
19,Ord_996,Prod_13,SHP_1378,Cust_371,41.9700,0.05,12.0,-37.03,4.20,0.56
20,Ord_996,Prod_13,SHP_1378,Cust_371,57.1700,0.08,18.0,-24.03,2.31,0.56
21,Ord_996,Prod_6,SHP_1378,Cust_371,81.2500,0.01,11.0,-44.54,7.86,0.37
22,Ord_996,Prod_5,SHP_1377,Cust_371,3202.2500,0.09,44.0,991.26,19.99,0.43
23,Ord_996,Prod_7,SHP_1378,Cust_371,35.6400,0.05,10.0,-0.71,1.63,0.36
24,Ord_2573,Prod_3,SHP_3525,Cust_931,197.6100,0.08,13.0,3.46,7.27,0.38
25,Ord_2335,Prod_13,SHP_3204,Cust_931,38.2600,0.03,22.0,-2.34,0.70,0.56
26,Ord_2456,Prod_5,SHP_3367,Cust_931,109.5800,0.00,13.0,31.32,4.00,0.42
27,Ord_2405,Prod_9,SHP_3300,Cust_931,1062.6900,0.01,28.0,401.80,6.66,0.40
28,Ord_2573,Prod_4,SHP_3527,Cust_931,3594.7435,0.05,38.0,1016.97,2.50,0.55
29,Ord_2478,Prod_12,SHP_3395,Cust_931,139.9800,0.07,33.0,-140.54,6.89,0.39
...,...,...,...,...,...,...,...,...,...,...
8369,Ord_3633,Prod_3,SHP_5031,Cust_1274,1169.2600,0.02,41.0,515.62,1.49,0.38
8370,Ord_2696,Prod_13,SHP_3690,Cust_1006,62.7800,0.04,20.0,-17.75,2.03,0.57
8371,Ord_2624,Prod_4,SHP_3591,Cust_1006,4924.1350,0.07,28.0,1049.54,8.99,0.58
8372,Ord_2772,Prod_9,SHP_3806,Cust_1006,56.9000,0.03,7.0,12.64,1.39,0.36
8373,Ord_2600,Prod_16,SHP_3560,Cust_1006,106.6400,0.10,30.0,-31.95,1.32,0.83
8374,Ord_2658,Prod_5,SHP_3637,Cust_1006,1082.6600,0.08,14.0,-256.93,48.20,0.74
8375,Ord_2772,Prod_3,SHP_3806,Cust_1006,1413.8200,0.10,47.0,226.53,11.63,0.37
8376,Ord_2624,Prod_8,SHP_3590,Cust_1006,1211.0000,0.00,36.0,-27.99,6.50,0.79
8377,Ord_2722,Prod_12,SHP_3729,Cust_1006,34.0100,0.00,12.0,10.58,0.50,0.39
8378,Ord_2706,Prod_2,SHP_3705,Cust_1006,1361.9100,0.05,20.0,312.52,3.50,0.59
8379,Ord_2722,Prod_5,SHP_3730,Cust_1006,1008.9500,0.04,41.0,69.31,8.99,0.50
8380,Ord_2772,Prod_6,SHP_3807,Cust_1006,308.9200,0.04,45.0,-143.58,7.37,0.37
8381,Ord_2696,Prod_4,SHP_3691,Cust_1006,2836.0505,0.01,25.0,561.13,8.99,0.59
8382,Ord_2658,Prod_3,SHP_3636,Cust_1006,120.9800,0.00,28.0,-92.85,5.34,0.38
8383,Ord_2722,Prod_1,SHP_3731,Cust_1006,3508.3300,0.04,21.0,-546.98,35.00,0.85
8384,Ord_4620,Prod_3,SHP_6435,Cust_1577,59.6200,0.04,10.0,-56.30,7.78,0.37
8385,Ord_1833,Prod_3,SHP_2527,Cust_637,611.1600,0.04,46.0,100.22,4.98,0.40
8386,Ord_2324,Prod_7,SHP_3189,Cust_851,121.8700,0.07,39.0,11.32,1.35,0.40
8387,Ord_2220,Prod_3,SHP_3019,Cust_851,41.0600,0.04,4.0,-16.39,6.28,0.35
8388,Ord_4424,Prod_1,SHP_6165,Cust_1519,994.0400,0.03,10.0,-335.06,35.00,NaN
8389,Ord_4444,Prod_13,SHP_6192,Cust_1519,159.4100,0.00,44.0,34.68,0.98,0.52
8390,Ord_5435,Prod_16,SHP_7594,Cust_1798,NaN,NaN,NaN,NaN,NaN,NaN
8391,Ord_5435,Prod_4,SHP_7594,Cust_1798,NaN,NaN,NaN,NaN,NaN,NaN
8392,Ord_5384,Prod_9,SHP_7519,Cust_1798,NaN,NaN,NaN,NaN,NaN,NaN
8393,Ord_5348,Prod_8,SHP_7470,Cust_1798,NaN,NaN,NaN,NaN,NaN,NaN
8394,Ord_5353,Prod_4,SHP_7479,Cust_1798,NaN,NaN,NaN,NaN,NaN,NaN
8395,Ord_5411,Prod_6,SHP_7555,Cust_1798,NaN,NaN,NaN,NaN,NaN,NaN
8396,Ord_5388,Prod_6,SHP_7524,Cust_1798,NaN,NaN,NaN,NaN,NaN,NaN
8397,Ord_5348,Prod_15,SHP_7469,Cust_1798,NaN,NaN,NaN,NaN,NaN,NaN
8398,Ord_5459,Prod_6,SHP_7628,Cust_1798,NaN,NaN,NaN,NaN,NaN,NaN

In [187]:
import pandas as pd
df_test_cv = pd.read_csv('https://query.data.world/s/Hfu_PsEuD1Z_yJHmGaxWTxvkz7W_b0')
print(round(df_test_cv.isnull().sum()/len(df_test_cv.index)),2)

Ord_id                 0.0
Prod_id                0.0
Ship_id                0.0
Cust_id                0.0
Sales                  0.0
Discount               0.0
Order_Quantity         0.0
Profit                 0.0
Shipping_Cost          0.0
Product_Base_Margin    0.0
dtype: float64 2

In [192]:
df_test_refined = df_test_cv[df_test_cv.isnull().sum(axis=1) < 5]

,Ord_id,Prod_id,Ship_id,Cust_id,Sales,Discount,Order_Quantity,Profit,Shipping_Cost,Product_Base_Margin
0,Ord_5446,Prod_16,SHP_7609,Cust_1818,136.8100,0.01,23.0,-30.51,3.60,0.56
1,Ord_5406,Prod_13,SHP_7549,Cust_1818,42.2700,0.01,13.0,4.56,0.93,0.54
2,Ord_5446,Prod_4,SHP_7610,Cust_1818,4701.6900,0.00,26.0,1148.90,2.50,0.59
3,Ord_5456,Prod_6,SHP_7625,Cust_1818,2337.8900,0.09,43.0,729.34,14.30,0.37
4,Ord_5485,Prod_17,SHP_7664,Cust_1818,4233.1500,0.08,35.0,1219.87,26.30,0.38
5,Ord_5446,Prod_6,SHP_7608,Cust_1818,164.0200,0.03,23.0,-47.64,6.15,0.37
6,Ord_31,Prod_12,SHP_41,Cust_26,14.7600,0.01,5.0,1.32,0.50,0.36
7,Ord_4725,Prod_4,SHP_6593,Cust_1641,3410.1575,0.10,48.0,1137.91,0.99,0.55
8,Ord_4725,Prod_13,SHP_6593,Cust_1641,162.0000,0.01,33.0,45.84,0.71,0.52
9,Ord_4725,Prod_6,SHP_6593,Cust_1641,57.2200,0.07,8.0,-27.72,6.60,0.37
10,Ord_4743,Prod_2,SHP_6615,Cust_1641,4072.0100,0.01,43.0,1675.98,0.99,0.56
11,Ord_1925,Prod_6,SHP_2637,Cust_708,465.9000,0.05,38.0,79.34,4.86,0.38
12,Ord_2978,Prod_16,SHP_4112,Cust_1088,305.0500,0.04,27.0,23.12,3.37,0.57
13,Ord_2207,Prod_11,SHP_3093,Cust_839,3364.2480,0.10,15.0,-693.23,61.76,0.78
14,Ord_2207,Prod_10,SHP_3006,Cust_839,1410.9300,0.08,10.0,-317.48,36.09,0.77
15,Ord_2280,Prod_5,SHP_3114,Cust_839,460.6900,0.06,48.0,-103.48,7.29,0.45
16,Ord_2282,Prod_9,SHP_3122,Cust_839,443.4600,0.06,30.0,193.12,1.39,0.38
17,Ord_4471,Prod_15,SHP_6228,Cust_1521,13255.9300,0.02,25.0,4089.27,26.00,0.60
18,Ord_4427,Prod_6,SHP_6171,Cust_1521,283.1300,0.08,45.0,-141.26,6.81,0.36
19,Ord_996,Prod_13,SHP_1378,Cust_371,41.9700,0.05,12.0,-37.03,4.20,0.56
20,Ord_996,Prod_13,SHP_1378,Cust_371,57.1700,0.08,18.0,-24.03,2.31,0.56
21,Ord_996,Prod_6,SHP_1378,Cust_371,81.2500,0.01,11.0,-44.54,7.86,0.37
22,Ord_996,Prod_5,SHP_1377,Cust_371,3202.2500,0.09,44.0,991.26,19.99,0.43
23,Ord_996,Prod_7,SHP_1378,Cust_371,35.6400,0.05,10.0,-0.71,1.63,0.36
24,Ord_2573,Prod_3,SHP_3525,Cust_931,197.6100,0.08,13.0,3.46,7.27,0.38
25,Ord_2335,Prod_13,SHP_3204,Cust_931,38.2600,0.03,22.0,-2.34,0.70,0.56
26,Ord_2456,Prod_5,SHP_3367,Cust_931,109.5800,0.00,13.0,31.32,4.00,0.42
27,Ord_2405,Prod_9,SHP_3300,Cust_931,1062.6900,0.01,28.0,401.80,6.66,0.40
28,Ord_2573,Prod_4,SHP_3527,Cust_931,3594.7435,0.05,38.0,1016.97,2.50,0.55
29,Ord_2478,Prod_12,SHP_3395,Cust_931,139.9800,0.07,33.0,-140.54,6.89,0.39
...,...,...,...,...,...,...,...,...,...,...
8360,Ord_3639,Prod_10,SHP_5038,Cust_1266,2173.2600,0.00,35.0,-465.66,36.61,0.61
8361,Ord_3553,Prod_16,SHP_4920,Cust_1274,128.3100,0.05,39.0,-55.72,1.92,0.84
8362,Ord_3593,Prod_5,SHP_4975,Cust_1274,1175.5300,0.03,18.0,257.59,14.48,0.46
8363,Ord_3630,Prod_6,SHP_5028,Cust_1274,134.6800,0.10,29.0,-66.46,4.70,0.38
8364,Ord_3574,Prod_16,SHP_4948,Cust_1274,416.9900,0.02,32.0,-93.62,4.59,0.82
8365,Ord_3588,Prod_3,SHP_4968,Cust_1274,107.6300,0.00,15.0,-29.89,5.48,0.37
8366,Ord_3593,Prod_3,SHP_4974,Cust_1274,12073.0600,0.03,39.0,5081.87,19.99,0.38
8367,Ord_3593,Prod_15,SHP_4975,Cust_1274,6685.0500,0.09,25.0,1653.60,24.49,NaN
8368,Ord_3574,Prod_6,SHP_4947,Cust_1274,438.6600,0.01,41.0,58.86,4.78,0.40
8369,Ord_3633,Prod_3,SHP_5031,Cust_1274,1169.2600,0.02,41.0,515.62,1.49,0.38
8370,Ord_2696,Prod_13,SHP_3690,Cust_1006,62.7800,0.04,20.0,-17.75,2.03,0.57
8371,Ord_2624,Prod_4,SHP_3591,Cust_1006,4924.1350,0.07,28.0,1049.54,8.99,0.58
8372,Ord_2772,Prod_9,SHP_3806,Cust_1006,56.9000,0.03,7.0,12.64,1.39,0.36
8373,Ord_2600,Prod_16,SHP_3560,Cust_1006,106.6400,0.10,30.0,-31.95,1.32,0.83
8374,Ord_2658,Prod_5,SHP_3637,Cust_1006,1082.6600,0.08,14.0,-256.93,48.20,0.74
8375,Ord_2772,Prod_3,SHP_3806,Cust_1006,1413.8200,0.10,47.0,226.53,11.63,0.37
8376,Ord_2624,Prod_8,SHP_3590,Cust_1006,1211.0000,0.00,36.0,-27.99,6.50,0.79
8377,Ord_2722,Prod_12,SHP_3729,Cust_1006,34.0100,0.00,12.0,10.58,0.50,0.39
8378,Ord_2706,Prod_2,SHP_3705,Cust_1006,1361.9100,0.05,20.0,312.52,3.50,0.59
8379,Ord_2722,Prod_5,SHP_3730,Cust_1006,1008.9500,0.04,41.0,69.31,8.99,0.50
8380,Ord_2772,Prod_6,SHP_3807,Cust_1006,308.9200,0.04,45.0,-143.58,7.37,0.37
8381,Ord_2696,Prod_4,SHP_3691,Cust_1006,2836.0505,0.01,25.0,561.13,8.99,0.59
8382,Ord_2658,Prod_3,SHP_3636,Cust_1006,120.9800,0.00,28.0,-92.85,5.34,0.38
8383,Ord_2722,Prod_1,SHP_3731,Cust_1006,3508.3300,0.04,21.0,-546.98,35.00,0.85
8384,Ord_4620,Prod_3,SHP_6435,Cust_1577,59.6200,0.04,10.0,-56.30,7.78,0.37
8385,Ord_1833,Prod_3,SHP_2527,Cust_637,611.1600,0.04,46.0,100.22,4.98,0.40
8386,Ord_2324,Prod_7,SHP_3189,Cust_851,121.8700,0.07,39.0,11.32,1.35,0.40
8387,Ord_2220,Prod_3,SHP_3019,Cust_851,41.0600,0.04,4.0,-16.39,6.28,0.35
8388,Ord_4424,Prod_1,SHP_6165,Cust_1519,994.0400,0.03,10.0,-335.06,35.00,NaN
8389,Ord_4444,Prod_13,SHP_6192,Cust_1519,159.4100,0.00,44.0,34.68,0.98,0.52

In [197]:
df_test_refined = df_test_cv.loc[df_test_cv.isnull().sum(axis=1) <=5]
round(100*(df_test_refined.isnull().sum()/len(df_test_refined.index)), 2)

Ord_id                 0.00
Prod_id                0.00
Ship_id                0.00
Cust_id                0.00
Sales                  0.00
Discount               0.42
Order_Quantity         0.42
Profit                 0.42
Shipping_Cost          0.42
Product_Base_Margin    1.06
dtype: float64

In [198]:
import pandas as pd
df_test_refined = pd.read_csv('https://query.data.world/s/Hfu_PsEuD1Z_yJHmGaxWTxvkz7W_b0')
df_test_refined = df_test_refined[df_test_refined.isnull().sum(axis=1) <=5]
print(round(100*(df_test_refined.isnull().sum()/len(df_test_refined.index)), 2))#Round off to 2 decimal places.

Ord_id                 0.00
Prod_id                0.00
Ship_id                0.00
Cust_id                0.00
Sales                  0.00
Discount               0.42
Order_Quantity         0.42
Profit                 0.42
Shipping_Cost          0.42
Product_Base_Margin    1.06
dtype: float64

In [203]:
import pandas as pd
import numpy as np

weather_dateframe=pd.read_csv("D:/upgrad/weather-data-in-new-york-city-2016/weather_data_nyc_centralpark_2016.csv")
weather_dateframe.columns

Index(['date', 'maximum temperature', 'minimum temperature',
       'average temperature', 'precipitation', 'snow fall', 'snow depth'],
      dtype='object')

In [207]:
weather_dateframe.max()

date                   9-9-2016
maximum temperature          96
minimum temperature          81
average temperature        88.5
precipitation                 T
snow fall                     T
snow depth                    T
dtype: object

In [210]:
weather_dateframe.shape

(366, 7)

In [215]:
rows, columns = weather_dateframe.shape
rows, columns # Prints a tuple

(366, 7)

In [217]:
weather_dateframe.head()

,date,maximum temperature,minimum temperature,average temperature,precipitation,snow fall,snow depth
0,1-1-2016,42,34,38.0,0.00,0.0,0
1,2-1-2016,40,32,36.0,0.00,0.0,0
2,3-1-2016,45,35,40.0,0.00,0.0,0
3,4-1-2016,36,14,25.0,0.00,0.0,0
4,5-1-2016,29,11,20.0,0.00,0.0,0

In [220]:
weather_dateframe['date']weather_dateframe['snow fall']

SyntaxError: invalid syntax (<ipython-input-220-9ca1ad0f9fd8>, line 1)

In [223]:
weather_dateframe[:3]

,date,maximum temperature,minimum temperature,average temperature,precipitation,snow fall,snow depth
0,1-1-2016,42,34,38.0,0.00,0.0,0
1,2-1-2016,40,32,36.0,0.00,0.0,0
2,3-1-2016,45,35,40.0,0.00,0.0,0

In [252]:
#Find the dates where the snowfall is maximum
weather_dateframe[['date','snow fall']][weather_dateframe['snow fall']==weather_dateframe['snow fall'].max()]

           date snow fall
11    12-1-2016         T
13    14-1-2016         T
17    18-1-2016         T
23    24-1-2016         T
39     9-2-2016         T
40    10-2-2016         T
41    11-2-2016         T
53    23-2-2016         T
79    20-3-2016         T
93     3-4-2016         T
94     4-4-2016         T
99     9-4-2016         T
324  20-11-2016         T
349  15-12-2016         T
364  30-12-2016         T

In [281]:
#weather_dateframe_snow=weather_dateframe[['date','snow fall']][weather_dateframe['snow fall']==weather_dateframe['snow fall'].max()]
weather_dateframe[['date','snow fall']][weather_dateframe['snow fall']==weather_dateframe['snow fall'].max()]

           date snow fall
11    12-1-2016         T
13    14-1-2016         T
17    18-1-2016         T
23    24-1-2016         T
39     9-2-2016         T
40    10-2-2016         T
41    11-2-2016         T
53    23-2-2016         T
79    20-3-2016         T
93     3-4-2016         T
94     4-4-2016         T
99     9-4-2016         T
324  20-11-2016         T
349  15-12-2016         T
364  30-12-2016         T

In [280]:
weather_dateframe_snow.set_index('date', inplace=True)
weather_dateframe_snow.loc['9-2-2016']

snow fall    T
Name: 9-2-2016, dtype: object

In [287]:
for i in range(10,16):
    
    if((i%3==0)|(i%5==0)):
        if((i%3==0)&(i%5==0)):
            print("FizzBuzz")
        elif((i%3==0)):
            print("Fizz")
        elif(i%5==0):
            print("Buzz")
    else:
        print(i)

Buzz
11
Fizz
13
14
FizzBuzz

In [299]:
from collections import defaultdict

def firstNonRepeating(arr, n):
    mp=defaultdict(lambda:0)
    for i in range(n):
        mp[arr[i]]+= 1
        
    for i in range(n):
        if(mp[arr[i]] == 1):
            return arr[i]
        
    return -1
    

arr_test = [2, 2, 7, 7, 1, 1, 3, 9, 9]
print(type(arr_test))
n= len(arr_test)
print(n)

print(firstNonRepeating(arr_test,n))

<class 'list'>
9
3