<h1> Pandas </h1>
Pandas is a library built using NumPy specifically for data analysis. You'll be using Pandas heavily for data manipulation, visualisation, building machine learning models, etc.
There are two main data structures in Pandas - Series and Dataframes. The default way to store data is dataframes, and thus manipulating dataframes quickly is probably the most important skill set for data analysis.

<b>The Pandas Series (similar to a NumPy array)</b>
<ul>
    <li>Creating a Pandas series</li>
    <li>Indexing series</li>
</ul>
<b>Dataframes</b>
<ul>
    <li> Creating dataframes from dictionaries </li>
    <li>Importing CSV data files as Pandas dataframes</li>
    <li>Reading and summarising dataframes</li>
    <li>Sorting dataframes</li>
</ul>

<h2> The Panda Series </h2>
A series is similar to one dimensional (1-D) numpy array and contains scalar values of sametype.
A data frame is simply a table where each column contains a panda series.

<b> Creating Panda Series </b>:
Series is one dimensional array like structures but contains non numerical data like numpy arrays.
We can create panda series from array like objects using pd.Series()

Pandas are very specific to data analysis and levarage a lot on numpy.Pandas are built on top of numpy.
Two kind of data structures 
1) Series - 1-D array - Dealing with numbers and is primarily meant for iterations. Will contain indexing information and meta data of forms , holds pointers and holds meta information and take some operation
2) Dataframe - 2-D array
 --> Typical tabular data in pretty much any ML application
 --> Rows and Cols are attributes ( Cols -- Names ) ( Rows -- Indices )
 
<b>The Pandas Dataframe</b>
<ol><li>Dataframe is the most widely used data-structure in data analysis. </li>
<li>It is a table with rows and columns, with rows having an index and columns having meaningful names.</li> </ol>
There are various ways of creating dataframes
1) Creating dataframes from CSV files
2) JSON Object
3) Reading from Txt files...etc

In [1]:
#pandas are one dimensional array like structures and unlike arrays they can hold non numerical data( Characters, Boolean , Dates  times etc)
#You can create panda series with array like objects with pd.Series()

import numpy as np
import pandas as pd

p = pd.Series([2,3,4,5,6])
print(p)

0    2
1    3
2    4
3    5
4    6
dtype: int64

In [2]:
func = pd.Series([2,3,4,5], index=['a','b','c','d'])
print(func)

a    2
b    3
c    4
d    5
dtype: int64

In [5]:
#Create a datetime series

date_series = pd.date_range(start='11-09-2017', end='19-09-2017')
print(date_series)

DatetimeIndex([], dtype='datetime64[ns]', freq='D')

In [7]:
# Indexing Series

# Third Element
p[2]

#from second element onwrds

p[2:]

2    4
3    5
4    6
dtype: int64

In [8]:
# accessing the 2nd and Fourth Element, have to access by the indices.
p[[1,3]]

1    3
3    5
dtype: int64

In [11]:
# increasing the value. we apply the function on the series using the apply function.

testIncre = p.apply(lambda x:x**2)
print(testIncre)

0     4
1     9
2    16
3    25
4    36
dtype: int64

<h2> Data Frames </h2>
<p>  Data  is represented in rows and columns </p>

In [16]:
df = pd.DataFrame({'Name':['Vilas', 'SRT','ZAK'],
                  'Age':[42,45, 40],
                 'Skill':['AllRounder','RHB','LFB']})
print(df)

    Name  Age       Skill
0  Vilas   42  AllRounder
1    SRT   45         RHB
2    ZAK   40         LFB

In [49]:
# Reading the CSV file as a dataframe.
df_test = pd.read_csv("D:/upgrad/Test.csv")

In [20]:
#Looking at the head of the dataframe
df_test.head()

,Item_Identifier,Item_Weight,Item_Fat_Content,Item_Visibility,Item_Type,Item_MRP,Outlet_Identifier,Outlet_Establishment_Year,Outlet_Size,Outlet_Location_Type,Outlet_Type
0,FDW58,20.750,Low Fat,0.007565,Snack Foods,107.8622,OUT049,1999,Medium,Tier 1,Supermarket Type1
1,FDW14,8.300,reg,0.038428,Dairy,87.3198,OUT017,2007,NaN,Tier 2,Supermarket Type1
2,NCN55,14.600,Low Fat,0.099575,Others,241.7538,OUT010,1998,NaN,Tier 3,Grocery Store
3,FDQ58,7.315,Low Fat,0.015388,Snack Foods,155.0340,OUT017,2007,NaN,Tier 2,Supermarket Type1
4,FDY38,NaN,Regular,0.118599,Dairy,234.2300,OUT027,1985,Medium,Tier 3,Supermarket Type3

In [21]:
#looking at the tail of the data frame.
df_test.tail()

,Item_Identifier,Item_Weight,Item_Fat_Content,Item_Visibility,Item_Type,Item_MRP,Outlet_Identifier,Outlet_Establishment_Year,Outlet_Size,Outlet_Location_Type,Outlet_Type
5676,FDB58,10.5,Regular,0.013496,Snack Foods,141.3154,OUT046,1997,Small,Tier 1,Supermarket Type1
5677,FDD47,7.6,Regular,0.142991,Starchy Foods,169.1448,OUT018,2009,Medium,Tier 3,Supermarket Type2
5678,NCO17,10.0,Low Fat,0.073529,Health and Hygiene,118.7440,OUT045,2002,NaN,Tier 2,Supermarket Type1
5679,FDJ26,15.3,Regular,0.000000,Canned,214.6218,OUT017,2007,NaN,Tier 2,Supermarket Type1
5680,FDU37,9.5,Regular,0.104720,Canned,79.7960,OUT045,2002,NaN,Tier 2,Supermarket Type1

In [22]:
#looking at the datatypes of each column, meta data of the data frames.
df_test.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5681 entries, 0 to 5680
Data columns (total 11 columns):
Item_Identifier              5681 non-null object
Item_Weight                  4705 non-null float64
Item_Fat_Content             5681 non-null object
Item_Visibility              5681 non-null float64
Item_Type                    5681 non-null object
Item_MRP                     5681 non-null float64
Outlet_Identifier            5681 non-null object
Outlet_Establishment_Year    5681 non-null int64
Outlet_Size                  4075 non-null object
Outlet_Location_Type         5681 non-null object
Outlet_Type                  5681 non-null object
dtypes: float64(3), int64(1), object(7)
memory usage: 488.3+ KB

In [23]:
#Describe gives you the summary of all the numeric columns in the dataset

df_test.describe()

       Item_Weight  Item_Visibility     Item_MRP  Outlet_Establishment_Year
count  4705.000000      5681.000000  5681.000000                5681.000000
mean     12.695633         0.065684   141.023273                1997.828903
std       4.664849         0.051252    61.809091                   8.372256
min       4.555000         0.000000    31.990000                1985.000000
25%       8.645000         0.027047    94.412000                1987.000000
50%      12.500000         0.054154   141.415400                1999.000000
75%      16.700000         0.093463   186.026600                2004.000000
max      21.350000         0.323637   266.588400                2009.000000

In [25]:
# Gives the names of all the columns
df_test.columns

Index(['Item_Identifier', 'Item_Weight', 'Item_Fat_Content', 'Item_Visibility',
       'Item_Type', 'Item_MRP', 'Outlet_Identifier',
       'Outlet_Establishment_Year', 'Outlet_Size', 'Outlet_Location_Type',
       'Outlet_Type'],
      dtype='object')

In [26]:
#shape of the dataframes.Gives the rows and columns
df_test.shape

(5681, 11)

In [27]:
#you can extract the values of the dataframe as a numpy array and display
df_test.values

array([['FDW58', 20.75, 'Low Fat', ..., 'Medium', 'Tier 1',
        'Supermarket Type1'],
       ['FDW14', 8.3, 'reg', ..., nan, 'Tier 2', 'Supermarket Type1'],
       ['NCN55', 14.6, 'Low Fat', ..., nan, 'Tier 3', 'Grocery Store'],
       ...,
       ['NCO17', 10.0, 'Low Fat', ..., nan, 'Tier 2',
        'Supermarket Type1'],
       ['FDJ26', 15.3, 'Regular', ..., nan, 'Tier 2',
        'Supermarket Type1'],
       ['FDU37', 9.5, 'Regular', ..., nan, 'Tier 2', 'Supermarket Type1']],
      dtype=object)

In [28]:
df = pd.read_csv('https://query.data.world/s/vBDCsoHCytUSLKkLvq851k2b8JOCkF')
df.describe()

,X,Y,FFMC,DMC,DC,ISI,temp,RH,wind,rain,area
count,517.000000,517.000000,517.000000,517.000000,517.000000,517.000000,517.000000,517.000000,517.000000,517.000000,517.000000
mean,4.669246,4.299807,90.644681,110.872340,547.940039,9.021663,18.889168,44.288201,4.017602,0.021663,12.847292
std,2.313778,1.229900,5.520111,64.046482,248.066192,4.559477,5.806625,16.317469,1.791653,0.295959,63.655818
min,1.000000,2.000000,18.700000,1.100000,7.900000,0.000000,2.200000,15.000000,0.400000,0.000000,0.000000
25%,3.000000,4.000000,90.200000,68.600000,437.700000,6.500000,15.500000,33.000000,2.700000,0.000000,0.000000
50%,4.000000,4.000000,91.600000,108.300000,664.200000,8.400000,19.300000,42.000000,4.000000,0.000000,0.520000
75%,7.000000,5.000000,92.900000,142.400000,713.900000,10.800000,22.800000,53.000000,4.900000,0.000000,6.570000
max,9.000000,9.000000,96.200000,291.300000,860.600000,56.100000,33.300000,100.000000,9.400000,6.400000,1090.840000

In [30]:
df.columns

Index(['X', 'Y', 'month', 'day', 'FFMC', 'DMC', 'DC', 'ISI', 'temp', 'RH',
       'wind', 'rain', 'area'],
      dtype='object')

In [31]:
df.shape

(517, 13)

In [44]:
n=4
import numpy as np 
import pandas as pd 

array_1d = np.arange(n)
f = np.vectorize(lambda x:x+1)
array_1d_m = f(array_1d)
#print(array_1d_m)
list_array1d = list(array_1d_m)
#print(list_array1d)

f1 = np.vectorize(lambda x:x**2)
list_square = f1(list_array1d)

#print(list_square)

func = pd.Series(list_square, index=list_array1d)
print(func.astype('int64'))

1     1
2     4
3     9
4    16
dtype: int64

In [57]:

df_test_1 = pd.read_csv("D:/upgrad/P1-OfficeSupplies.csv")
#df_test_1.set_index('OderDate', inplace=False)
df_test_1.head()

     OrderDate   Region      Rep     Item  Units  Unit Price
0   4-Jul-2014     East  Richard  Pen Set     62        4.99
1  12-Jul-2014     East     Nick   Binder     29        1.99
2  21-Jul-2014  Central   Morgan  Pen Set     55       12.49
3  29-Jul-2014     East    Susan   Binder     81       19.99
4   7-Aug-2014  Central  Matthew  Pen Set     42       23.95

In [60]:
df_lab_test = pd.read_csv('https://query.data.world/s/vBDCsoHCytUSLKkLvq851k2b8JOCkF')
df_lab_test.set_index('X', inplace=False)


df_lab_test.head()

   X  Y month  day  FFMC   DMC     DC  ISI  temp  RH  wind  rain  area
0  7  5   mar  fri  86.2  26.2   94.3  5.1   8.2  51   6.7   0.0   0.0
1  7  4   oct  tue  90.6  35.4  669.1  6.7  18.0  33   0.9   0.0   0.0
2  7  4   oct  sat  90.6  43.7  686.9  6.7  14.6  33   1.3   0.0   0.0
3  8  6   mar  fri  91.7  33.3   77.5  9.0   8.3  97   4.0   0.2   0.0
4  8  6   mar  sun  89.3  51.3  102.2  9.6  11.4  99   1.8   0.0   0.0

In [2]:
import pandas as pd
df_date = pd.read_csv('https://query.data.world/s/vBDCsoHCytUSLKkLvq851k2b8JOCkF')
df_2_date = df_date.sort_values(by=['month','day'], ascending=True)
print(df_2_date.head(20))

     X  Y month  day  FFMC    DMC     DC   ISI  temp  RH  wind  rain   area
241  4  4   apr  fri  83.0   23.3   85.3   2.3  16.7  20   3.1   0.0   0.00
442  6  5   apr  mon  87.9   24.9   41.6   3.7  10.9  64   3.1   0.0   3.35
19   6  4   apr  sat  86.3   27.4   97.1   5.1   9.3  44   4.5   0.0   0.00
239  7  5   apr  sun  81.9    3.0    7.9   3.5  13.4  75   1.8   0.0   0.00
469  6  3   apr  sun  91.0   14.6   25.6  12.3  13.7  33   9.4   0.0  61.13
470  5  4   apr  sun  91.0   14.6   25.6  12.3  17.6  27   5.8   0.0   0.00
176  6  5   apr  thu  81.5    9.1   55.2   2.7   5.8  54   5.8   0.0   4.61
196  6  5   apr  thu  81.5    9.1   55.2   2.7   5.8  54   5.8   0.0  10.93
240  6  3   apr  wed  88.0   17.2   43.5   3.8  15.2  51   2.7   0.0   0.00
12   6  5   aug  fri  63.5   70.8  665.3   0.8  17.0  72   6.7   0.0   0.00
78   1  2   aug  fri  90.1  108.0  529.8  12.5  14.7  66   2.7   0.0   0.00
142  8  6   aug  fri  90.1  108.0  529.8  12.5  21.2  51   8.9   0.0   0.61
184  8  6   aug  fri  93.9  135.7  586.7  15.1  20.8  34   4.9   0.0   6.96
195  2  5   aug  fri  93.9  135.7  586.7  15.1  23.5  36   5.4   0.0  10.02
261  3  4   aug  fri  91.6  112.4  573.0   8.9  11.2  84   7.6   0.0   3.30
262  2  4   aug  fri  91.6  112.4  573.0   8.9  21.4  42   3.1   0.0   4.25
263  6  3   aug  fri  91.1  141.1  629.1   7.1  19.3  39   3.6   0.0   1.56
264  4  4   aug  fri  94.3  167.6  684.4  13.0  21.8  53   3.1   0.0   6.54
388  6  4   aug  fri  94.8  227.0  706.7  12.0  23.3  34   3.1   0.0  28.74
389  7  4   aug  fri  94.8  227.0  706.7  12.0  23.3  34   3.1   0.0   0.00

In [7]:
#Reverse a string

String_1 = 'MALAYALAM'
String_2  = String_1[::-1]
if(String_1==String_2):
    print("The Given String is a palindrome")
else:
    print("They are not")

They are not

In [14]:
# Access the part of a dataframe.
import pandas as pd
import numpy as nump
df_date_1 = pd.read_csv('D:/upgrad/P1-OfficeSupplies.csv')

df_date_1.head()

df_date_1.tail()

df_date_1.columns

df_date_1.describe()

           Units  Unit Price
count  43.000000   43.000000
mean   49.325581   20.308605
std    30.078248   47.345118
min     2.000000    1.290000
25%    27.500000    3.990000
50%    53.000000    4.990000
75%    74.500000   17.990000
max    96.000000  275.000000

In [15]:
# Pull out set of rows from 2 to 7 we write the same in indices as df_date_1[2:7]

df_date_1[2:7]

     OrderDate   Region      Rep     Item  Units  Unit Price
2  21-Jul-2014  Central   Morgan  Pen Set     55       12.49
3  29-Jul-2014     East    Susan   Binder     81       19.99
4   7-Aug-2014  Central  Matthew  Pen Set     42       23.95
5  15-Aug-2014     East  Richard   Pencil     35        4.99
6  24-Aug-2014     West    James     Desk      3      275.00

In [17]:
# Select alternate rows from index 5

df_date_1[5::2].head()

      OrderDate   Region      Rep     Item  Units  Unit Price
5   15-Aug-2014     East  Richard   Pencil     35        4.99
7    1-Sep-2014  Central    Smith     Desk      2      125.00
9   18-Sep-2014     East  Richard  Pen Set     16       15.99
11   5-Oct-2014  Central   Morgan   Binder     28        8.99
13  22-Oct-2014     East  Richard      Pen     64        8.99

<h2> Selecting Columns </h2>
    <p> There are two simple ways to select a column df['column_name'] or df.column_name</p>

In [20]:
df_date_1.OrderDate
#Or
df_date_1['OrderDate']

0      4-Jul-2014
1     12-Jul-2014
2     21-Jul-2014
3     29-Jul-2014
4      7-Aug-2014
5     15-Aug-2014
6     24-Aug-2014
7      1-Sep-2014
8     10-Sep-2014
9     18-Sep-2014
10    27-Sep-2014
11     5-Oct-2014
12    14-Oct-2014
13    22-Oct-2014
14    31-Oct-2014
15     8-Nov-2014
16    17-Nov-2014
17    25-Nov-2014
18     4-Dec-2014
19    12-Dec-2014
20    21-Dec-2014
21    29-Dec-2014
22     6-Jan-2015
23    15-Jan-2015
24    23-Jan-2015
25     1-Feb-2015
26     9-Feb-2015
27    18-Feb-2015
28    26-Feb-2015
29     7-Mar-2015
30    15-Mar-2015
31    24-Mar-2015
32     1-Apr-2015
33    10-Apr-2015
34    18-Apr-2015
35    27-Apr-2015
36     5-May-2015
37    14-May-2015
38    22-May-2015
39    31-May-2015
40     8-Jun-2015
41    17-Jun-2015
42    25-Jun-2015
Name: OrderDate, dtype: object

<h2> Selecting Multiple Columns </h2>

In [23]:
df_date_1[['OrderDate','Region', 'Item','Units']].head()

     OrderDate   Region     Item  Units
0   4-Jul-2014     East  Pen Set     62
1  12-Jul-2014     East   Binder     29
2  21-Jul-2014  Central  Pen Set     55
3  29-Jul-2014     East   Binder     81
4   7-Aug-2014  Central  Pen Set     42

<h2> There are two ways of indexing data frames </h2>
    <ul>
        <li> Position based indexing using df.iloc </li>
        <li> Label based indexing using df.loc </li>
    </ul>
    <p> Using both the methods, we will do the following indexing operations on a dataframe: </p>

   <ul>
        <li> Selecting single elements/cells </li>
        <li> Selecting single and multiple rows </li>
        <li> Selecting single and multiple columns </li>
        <li> Selecting multiple rows and columns </li>
   </ul>

In [25]:
# Select a single elements/ cells
df_date_1.iloc[2,4]

55

In [26]:
# Information of row at position 5. W can also do the same with df_date_1.iloc[5, :] or df_date_1.iloc[5, ]
df_date_1.iloc[5]

OrderDate     15-Aug-2014
Region               East
Rep               Richard
Item               Pencil
Units                  35
Unit Price           4.99
Name: 5, dtype: object

In [28]:
# Select multiple rows with a list of indices
df_date_1.iloc[[3,7,8]]

     OrderDate   Region    Rep    Item  Units  Unit Price
3  29-Jul-2014     East  Susan  Binder     81       19.99
7   1-Sep-2014  Central  Smith    Desk      2      125.00
8  10-Sep-2014  Central   Bill  Pencil      7        1.29

In [31]:
# Select multiple rows with a list of inidices 3,7,8 as below
df_date_1.iloc[[3,7,8], :]

     OrderDate   Region    Rep    Item  Units  Unit Price
3  29-Jul-2014     East  Susan  Binder     81       19.99
7   1-Sep-2014  Central  Smith    Desk      2      125.00
8  10-Sep-2014  Central   Bill  Pencil      7        1.29

In [33]:
# Select rows from 4 to 8

df_date_1.iloc[4:8]

     OrderDate   Region      Rep     Item  Units  Unit Price
4   7-Aug-2014  Central  Matthew  Pen Set     42       23.95
5  15-Aug-2014     East  Richard   Pencil     35        4.99
6  24-Aug-2014     West    James     Desk      3      275.00
7   1-Sep-2014  Central    Smith     Desk      2      125.00

In [36]:
df_date_1.iloc[4:8,]
#or
df_date_1.iloc[4:8, :]

     OrderDate   Region      Rep     Item  Units  Unit Price
4   7-Aug-2014  Central  Matthew  Pen Set     42       23.95
5  15-Aug-2014     East  Richard   Pencil     35        4.99
6  24-Aug-2014     West    James     Desk      3      275.00
7   1-Sep-2014  Central    Smith     Desk      2      125.00

In [38]:
# Selecting a single column
df_date_1.iloc[:,2]

0     Richard
1        Nick
2      Morgan
3       Susan
4     Matthew
5     Richard
6       James
7       Smith
8        Bill
9     Richard
10      James
11     Morgan
12     Thomas
13    Richard
14     Rachel
15      Susan
16       Alex
17    Matthew
18       Alex
19      Smith
20     Rachel
21      Susan
22    Richard
23       Bill
24    Matthew
25      Smith
26       Alex
27    Richard
28       Bill
29      James
30      James
31       Alex
32    Richard
33     Rachel
34     Rachel
35       Nick
36       Alex
37       Bill
38     Thomas
39       Bill
40    Richard
41    Matthew
42     Morgan
Name: Rep, dtype: object

In [39]:
df_date_1.columns

Index(['OrderDate', 'Region', 'Rep', 'Item', 'Units', 'Unit Price'], dtype='object')

In [46]:
# All the rows and columns from position 3 to 5.
df_date_1.iloc[:,3:5]

       Item  Units
0   Pen Set     62
1    Binder     29
2   Pen Set     55
3    Binder     81
4   Pen Set     42
5    Pencil     35
6      Desk      3
7      Desk      2
8    Pencil      7
9   Pen Set     16
10      Pen     76
11   Binder     28
12   Binder     57
13      Pen     64
14   Pencil     14
15      Pen     15
16   Binder     11
17  Pen Set     96
18   Binder     94
19   Pencil     67
20   Binder     28
21  Pen Set     74
22   Pencil     95
23   Binder     46
24   Binder     50
25   Binder     87
26   Pencil     36
27   Binder      4
28      Pen     27
29   Binder      7
30   Pencil     56
31  Pen Set     50
32   Binder     60
33   Pencil     66
34   Pencil     75
35      Pen     96
36   Pencil     90
37   Pencil     53
38   Pencil     32
39   Binder     80
40   Binder     60
41     Desk      5
42   Pencil     90

In [47]:
# Select multiple rows and multiple columns as below.
df_date_1.iloc[3:6, 2:5]

       Rep     Item  Units
3    Susan   Binder     81
4  Matthew  Pen Set     42
5  Richard   Pencil     35

In [50]:
df_test_1 = pd.read_csv('https://query.data.world/s/vBDCsoHCytUSLKkLvq851k2b8JOCkF')
df_2_2 = df_test_1.iloc[:,[3,4,5]]
print(df_2_2)

     day  FFMC    DMC
0    fri  86.2   26.2
1    tue  90.6   35.4
2    sat  90.6   43.7
3    fri  91.7   33.3
4    sun  89.3   51.3
5    sun  92.3   85.3
6    mon  92.3   88.9
7    mon  91.5  145.4
8    tue  91.0  129.5
9    sat  92.5   88.0
10   sat  92.5   88.0
11   sat  92.8   73.2
12   fri  63.5   70.8
13   mon  90.9  126.5
14   wed  92.9  133.3
15   fri  93.3  141.2
16   sat  91.7   35.8
17   mon  84.9   32.8
18   wed  89.2   27.9
19   sat  86.3   27.4
20   tue  91.0  129.5
21   mon  91.8   78.5
22   sun  94.3   96.3
23   sat  90.2  110.9
24   sat  93.5  139.4
25   sun  91.4  142.4
26   fri  92.4  117.9
27   mon  90.9  126.5
28   sat  93.4  145.4
29   sun  93.5  149.3
..   ...   ...    ...
487  tue  95.1  141.3
488  tue  95.1  141.3
489  wed  95.1  141.3
490  wed  95.1  141.3
491  thu  95.8  152.0
492  fri  95.9  158.0
493  fri  95.9  158.0
494  sat  96.0  164.0
495  mon  96.2  175.5
496  mon  96.2  175.5
497  tue  96.1  181.1
498  tue  96.1  181.1
499  tue  96.1  181.1
500  tue  96.1  181.1
501  tue  96.1  181.1
502  tue  96.1  181.1
503  wed  94.5  139.4
504  wed  94.5  139.4
505  thu  91.0  163.2
506  fri  91.0  166.9
507  fri  91.0  166.9
508  fri  91.0  166.9
509  fri  91.0  166.9
510  fri  91.0  166.9
511  sun  81.6   56.7
512  sun  81.6   56.7
513  sun  81.6   56.7
514  sun  81.6   56.7
515  sat  94.4  146.0
516  tue  79.5    3.0

[517 rows x 3 columns]

<h2> Label Based Indexing </h2>
<p>Pandas provides the df.loc[] functionality to index dataframes using labels.
As mentioned in the documentation, the inputs x, y to df.loc[x, y] can be: </p>

<ul>
    <li> A Single Label </li>
    <li> A List or Array Of Labels </li>
    <li> A range of labels </li>
    <li> A boolean array </li>
</ul>

In [51]:
df_date_1.columns

Index(['OrderDate', 'Region', 'Rep', 'Item', 'Units', 'Unit Price'], dtype='object')

In [54]:
# Selecting the row label which is 2 and column label which is 'Region'. Row Label uses the indices.
df_date_1.loc[2, 'Region']

'Central'

In [55]:
# Selecting a single row using a single label
df_date_1.loc[5]

OrderDate     15-Aug-2014
Region               East
Rep               Richard
Item               Pencil
Units                  35
Unit Price           4.99
Name: 5, dtype: object

In [56]:
#Selecting multiple row lables as follows
df_date_1.loc[[3,6,8]]

     OrderDate   Region    Rep    Item  Units  Unit Price
3  29-Jul-2014     East  Susan  Binder     81       19.99
6  24-Aug-2014     West  James    Desk      3      275.00
8  10-Sep-2014  Central   Bill  Pencil      7        1.29

In [70]:
# All the columns and rows between 2 to 20 using loc
df_test_1_loc = pd.read_csv('https://query.data.world/s/vBDCsoHCytUSLKkLvq851k2b8JOCkF')
#print(df_test_1_loc[2])
df_test_1_loc.columns
df_test_1_loc.loc[2:20]

    X  Y month  day  FFMC    DMC     DC   ISI  temp  RH  wind  rain  area
2   7  4   oct  sat  90.6   43.7  686.9   6.7  14.6  33   1.3   0.0   0.0
3   8  6   mar  fri  91.7   33.3   77.5   9.0   8.3  97   4.0   0.2   0.0
4   8  6   mar  sun  89.3   51.3  102.2   9.6  11.4  99   1.8   0.0   0.0
5   8  6   aug  sun  92.3   85.3  488.0  14.7  22.2  29   5.4   0.0   0.0
6   8  6   aug  mon  92.3   88.9  495.6   8.5  24.1  27   3.1   0.0   0.0
7   8  6   aug  mon  91.5  145.4  608.2  10.7   8.0  86   2.2   0.0   0.0
8   8  6   sep  tue  91.0  129.5  692.6   7.0  13.1  63   5.4   0.0   0.0
9   7  5   sep  sat  92.5   88.0  698.6   7.1  22.8  40   4.0   0.0   0.0
10  7  5   sep  sat  92.5   88.0  698.6   7.1  17.8  51   7.2   0.0   0.0
11  7  5   sep  sat  92.8   73.2  713.0  22.6  19.3  38   4.0   0.0   0.0
12  6  5   aug  fri  63.5   70.8  665.3   0.8  17.0  72   6.7   0.0   0.0
13  6  5   sep  mon  90.9  126.5  686.5   7.0  21.3  42   2.2   0.0   0.0
14  6  5   sep  wed  92.9  133.3  699.6   9.2  26.4  21   4.5   0.0   0.0
15  6  5   sep  fri  93.3  141.2  713.9  13.9  22.9  44   5.4   0.0   0.0
16  5  5   mar  sat  91.7   35.8   80.8   7.8  15.1  27   5.4   0.0   0.0
17  8  5   oct  mon  84.9   32.8  664.2   3.0  16.7  47   4.9   0.0   0.0
18  6  4   mar  wed  89.2   27.9   70.8   6.3  15.9  35   4.0   0.0   0.0
19  6  4   apr  sat  86.3   27.4   97.1   5.1   9.3  44   4.5   0.0   0.0
20  6  4   sep  tue  91.0  129.5  692.6   7.0  18.3  40   2.7   0.0   0.0

In [77]:
df_test_1_where = pd.read_csv("D:/upgrad/P1-OfficeSupplies.csv")
#df_test_1.set_index('OderDate', inplace=False)
df_test_1_where

      OrderDate   Region      Rep     Item  Units  UnitPrice
0    4-Jul-2014     East  Richard  Pen Set     62       4.99
1   12-Jul-2014     East     Nick   Binder     29       1.99
2   21-Jul-2014  Central   Morgan  Pen Set     55      12.49
3   29-Jul-2014     East    Susan   Binder     81      19.99
4    7-Aug-2014  Central  Matthew  Pen Set     42      23.95
5   15-Aug-2014     East  Richard   Pencil     35       4.99
6   24-Aug-2014     West    James     Desk      3     275.00
7    1-Sep-2014  Central    Smith     Desk      2     125.00
8   10-Sep-2014  Central     Bill   Pencil      7       1.29
9   18-Sep-2014     East  Richard  Pen Set     16      15.99
10  27-Sep-2014     West    James      Pen     76       1.99
11   5-Oct-2014  Central   Morgan   Binder     28       8.99
12  14-Oct-2014     West   Thomas   Binder     57      19.99
13  22-Oct-2014     East  Richard      Pen     64       8.99
14  31-Oct-2014  Central   Rachel   Pencil     14       1.29
15   8-Nov-2014     East    Susan      Pen     15      19.99
16  17-Nov-2014  Central     Alex   Binder     11       4.99
17  25-Nov-2014  Central  Matthew  Pen Set     96       4.99
18   4-Dec-2014  Central     Alex   Binder     94      19.99
19  12-Dec-2014  Central    Smith   Pencil     67       1.29
20  21-Dec-2014  Central   Rachel   Binder     28       4.99
21  29-Dec-2014     East    Susan  Pen Set     74      15.99
22   6-Jan-2015     East  Richard   Pencil     95       1.99
23  15-Jan-2015  Central     Bill   Binder     46       8.99
24  23-Jan-2015  Central  Matthew   Binder     50      19.99
25   1-Feb-2015  Central    Smith   Binder     87      15.00
26   9-Feb-2015  Central     Alex   Pencil     36       4.99
27  18-Feb-2015     East  Richard   Binder      4       4.99
28  26-Feb-2015  Central     Bill      Pen     27      19.99
29   7-Mar-2015     West    James   Binder      7      19.99
30  15-Mar-2015     West    James   Pencil     56       2.99
31  24-Mar-2015  Central     Alex  Pen Set     50       4.99
32   1-Apr-2015     East  Richard   Binder     60       4.99
33  10-Apr-2015  Central   Rachel   Pencil     66       1.99
34  18-Apr-2015  Central   Rachel   Pencil     75       1.99
35  27-Apr-2015     East     Nick      Pen     96       4.99
36   5-May-2015  Central     Alex   Pencil     90       4.99
37  14-May-2015  Central     Bill   Pencil     53       1.29
38  22-May-2015     West   Thomas   Pencil     32       1.99
39  31-May-2015  Central     Bill   Binder     80       8.99
40   8-Jun-2015     East  Richard   Binder     60       8.99
41  17-Jun-2015  Central  Matthew     Desk      5     125.00
42  25-Jun-2015  Central   Morgan   Pencil     90       4.99

# Subsetting rows based on conditions

In [79]:
df_test_1_where.UnitPrice > 100

0     False
1     False
2     False
3     False
4     False
5     False
6      True
7      True
8     False
9     False
10    False
11    False
12    False
13    False
14    False
15    False
16    False
17    False
18    False
19    False
20    False
21    False
22    False
23    False
24    False
25    False
26    False
27    False
28    False
29    False
30    False
31    False
32    False
33    False
34    False
35    False
36    False
37    False
38    False
39    False
40    False
41     True
42    False
Name: UnitPrice, dtype: bool

In [80]:
# Find all the values from the data frame where the UnitPRice for the Item is greater than 100.
df_test_1_where.loc[df_test_1_where.UnitPrice > 100]

      OrderDate   Region      Rep  Item  Units  UnitPrice
6   24-Aug-2014     West    James  Desk      3      275.0
7    1-Sep-2014  Central    Smith  Desk      2      125.0
41  17-Jun-2015  Central  Matthew  Desk      5      125.0

In [82]:
# Alternative way to write the above
df_test_1_where.loc[df_test_1_where['UnitPrice'] > 100, :]

      OrderDate   Region      Rep  Item  Units  UnitPrice
6   24-Aug-2014     West    James  Desk      3      275.0
7    1-Sep-2014  Central    Smith  Desk      2      125.0
41  17-Jun-2015  Central  Matthew  Desk      5      125.0

In [86]:
# Units > 50 and < 100 and UnitPrice > 4 and UnitPrice<10
df_test_1_where.loc[(df_test_1_where.Units > 50) & (df_test_1_where.Units <100) & (df_test_1_where.UnitPrice > 4) & ((df_test_1_where.UnitPrice < 10))]

      OrderDate   Region      Rep     Item  Units  UnitPrice
0    4-Jul-2014     East  Richard  Pen Set     62       4.99
13  22-Oct-2014     East  Richard      Pen     64       8.99
17  25-Nov-2014  Central  Matthew  Pen Set     96       4.99
32   1-Apr-2015     East  Richard   Binder     60       4.99
35  27-Apr-2015     East     Nick      Pen     96       4.99
36   5-May-2015  Central     Alex   Pencil     90       4.99
39  31-May-2015  Central     Bill   Binder     80       8.99
40   8-Jun-2015     East  Richard   Binder     60       8.99
42  25-Jun-2015  Central   Morgan   Pencil     90       4.99

### Merge and Append Using Pandas
<ul>
    <li>Merge multiple dataframes using common columns/keys using pd.merge() </li>
    <li> Concatenate dataframes using pd.concat() </li>
 </ul>

In [110]:
# Creating some bunch of data frames as below:
import numpy as np
import pandas as pd

market_df = pd.read_csv("D:/upgrad/datasets/market_fact.csv")
customer_df = pd.read_csv("D:/upgrad/datasets/cust_dimen.csv")
product_df =pd.read_csv("D:/upgrad/datasets/prod_dimen.csv")
shipping_df=pd.read_csv("D:/upgrad/datasets/shipping_dimen.csv")
orders_df=pd.read_csv("D:/upgrad/datasets/orders_dimen.csv")

In [111]:
# Market Dataframe looks like

market_df.head()

,Ord_id,Prod_id,Ship_id,Cust_id,Sales,Discount,Order_Quantity,Profit,Shipping_Cost,Product_Base_Margin
0,Ord_5446,Prod_16,SHP_7609,Cust_1818,136.81,0.01,23,-30.51,3.60,0.56
1,Ord_5406,Prod_13,SHP_7549,Cust_1818,42.27,0.01,13,4.56,0.93,0.54
2,Ord_5446,Prod_4,SHP_7610,Cust_1818,4701.69,0.00,26,1148.90,2.50,0.59
3,Ord_5456,Prod_6,SHP_7625,Cust_1818,2337.89,0.09,43,729.34,14.30,0.37
4,Ord_5485,Prod_17,SHP_7664,Cust_1818,4233.15,0.08,35,1219.87,26.30,0.38

In [112]:
# Customer Data Frame looks like
customer_df.head()

        Customer_Name Province   Region Customer_Segment Cust_id
0  MUHAMMED MACINTYRE  NUNAVUT  NUNAVUT   SMALL BUSINESS  Cust_1
1        BARRY FRENCH  NUNAVUT  NUNAVUT         CONSUMER  Cust_2
2       CLAY ROZENDAL  NUNAVUT  NUNAVUT        CORPORATE  Cust_3
3      CARLOS SOLTERO  NUNAVUT  NUNAVUT         CONSUMER  Cust_4
4        CARL JACKSON  NUNAVUT  NUNAVUT        CORPORATE  Cust_5

In [114]:
#Product Data Frame
product_df.head()

  Product_Category            Product_Sub_Category Prod_id
0  OFFICE SUPPLIES          STORAGE & ORGANIZATION  Prod_1
1  OFFICE SUPPLIES                      APPLIANCES  Prod_2
2  OFFICE SUPPLIES  BINDERS AND BINDER ACCESSORIES  Prod_3
3       TECHNOLOGY    TELEPHONES AND COMMUNICATION  Prod_4
4        FURNITURE              OFFICE FURNISHINGS  Prod_5

In [115]:
#Shipping data frame
shipping_df.head()

   Order_ID       Ship_Mode   Ship_Date Ship_id
0         3     REGULAR AIR  20-10-2010   SHP_1
1       293  DELIVERY TRUCK  02-10-2012   SHP_2
2       293     REGULAR AIR  03-10-2012   SHP_3
3       483     REGULAR AIR  12-07-2011   SHP_4
4       515     REGULAR AIR  30-08-2010   SHP_5

In [116]:
#Orders data frame

orders_df.head()

   Order_ID  Order_Date Order_Priority Ord_id
0         3  13-10-2010            LOW  Ord_1
1       293  01-10-2012           HIGH  Ord_2
2       483  10-07-2011           HIGH  Ord_3
3       515  28-08-2010  NOT SPECIFIED  Ord_4
4       613  17-06-2011           HIGH  Ord_5

In [119]:
#Merging the data
#how="inner"
#on="cust_id"

merge_cust_ord_df = pd.merge(market_df, customer_df, how="inner", on="Cust_id")
merge_cust_ord_df.head(100)

,Ord_id,Prod_id,Ship_id,Cust_id,Sales,Discount,Order_Quantity,Profit,Shipping_Cost,Product_Base_Margin,Customer_Name,Province,Region,Customer_Segment
0,Ord_5446,Prod_16,SHP_7609,Cust_1818,136.8100,0.01,23,-30.51,3.60,0.56,AARON BERGMAN,ALBERTA,WEST,CORPORATE
1,Ord_5406,Prod_13,SHP_7549,Cust_1818,42.2700,0.01,13,4.56,0.93,0.54,AARON BERGMAN,ALBERTA,WEST,CORPORATE
2,Ord_5446,Prod_4,SHP_7610,Cust_1818,4701.6900,0.00,26,1148.90,2.50,0.59,AARON BERGMAN,ALBERTA,WEST,CORPORATE
3,Ord_5456,Prod_6,SHP_7625,Cust_1818,2337.8900,0.09,43,729.34,14.30,0.37,AARON BERGMAN,ALBERTA,WEST,CORPORATE
4,Ord_5485,Prod_17,SHP_7664,Cust_1818,4233.1500,0.08,35,1219.87,26.30,0.38,AARON BERGMAN,ALBERTA,WEST,CORPORATE
5,Ord_5446,Prod_6,SHP_7608,Cust_1818,164.0200,0.03,23,-47.64,6.15,0.37,AARON BERGMAN,ALBERTA,WEST,CORPORATE
6,Ord_31,Prod_12,SHP_41,Cust_26,14.7600,0.01,5,1.32,0.50,0.36,AARON BERGMAN,NUNAVUT,NUNAVUT,CORPORATE
7,Ord_4725,Prod_4,SHP_6593,Cust_1641,3410.1575,0.10,48,1137.91,0.99,0.55,AARON HAWKINS,BRITISH COLUMBIA,WEST,HOME OFFICE
8,Ord_4725,Prod_13,SHP_6593,Cust_1641,162.0000,0.01,33,45.84,0.71,0.52,AARON HAWKINS,BRITISH COLUMBIA,WEST,HOME OFFICE
9,Ord_4725,Prod_6,SHP_6593,Cust_1641,57.2200,0.07,8,-27.72,6.60,0.37,AARON HAWKINS,BRITISH COLUMBIA,WEST,HOME OFFICE
10,Ord_4743,Prod_2,SHP_6615,Cust_1641,4072.0100,0.01,43,1675.98,0.99,0.56,AARON HAWKINS,BRITISH COLUMBIA,WEST,HOME OFFICE
11,Ord_1925,Prod_6,SHP_2637,Cust_708,465.9000,0.05,38,79.34,4.86,0.38,AARON HAWKINS,NOVA SCOTIA,ATLANTIC,HOME OFFICE
12,Ord_2978,Prod_16,SHP_4112,Cust_1088,305.0500,0.04,27,23.12,3.37,0.57,AARON HAWKINS,ONTARIO,ONTARIO,HOME OFFICE
13,Ord_2207,Prod_11,SHP_3093,Cust_839,3364.2480,0.10,15,-693.23,61.76,0.78,AARON HAWKINS,QUEBEC,QUEBEC,HOME OFFICE
14,Ord_2207,Prod_10,SHP_3006,Cust_839,1410.9300,0.08,10,-317.48,36.09,0.77,AARON HAWKINS,QUEBEC,QUEBEC,HOME OFFICE
15,Ord_2280,Prod_5,SHP_3114,Cust_839,460.6900,0.06,48,-103.48,7.29,0.45,AARON HAWKINS,QUEBEC,QUEBEC,HOME OFFICE
16,Ord_2282,Prod_9,SHP_3122,Cust_839,443.4600,0.06,30,193.12,1.39,0.38,AARON HAWKINS,QUEBEC,QUEBEC,HOME OFFICE
17,Ord_4471,Prod_15,SHP_6228,Cust_1521,13255.9300,0.02,25,4089.27,26.00,0.60,AARON HAWKINS,YUKON,YUKON,HOME OFFICE
18,Ord_4427,Prod_6,SHP_6171,Cust_1521,283.1300,0.08,45,-141.26,6.81,0.36,AARON HAWKINS,YUKON,YUKON,HOME OFFICE
19,Ord_996,Prod_13,SHP_1378,Cust_371,41.9700,0.05,12,-37.03,4.20,0.56,AARON SMAYLING,MANITOBA,PRARIE,SMALL BUSINESS
20,Ord_996,Prod_13,SHP_1378,Cust_371,57.1700,0.08,18,-24.03,2.31,0.56,AARON SMAYLING,MANITOBA,PRARIE,SMALL BUSINESS
21,Ord_996,Prod_6,SHP_1378,Cust_371,81.2500,0.01,11,-44.54,7.86,0.37,AARON SMAYLING,MANITOBA,PRARIE,SMALL BUSINESS
22,Ord_996,Prod_5,SHP_1377,Cust_371,3202.2500,0.09,44,991.26,19.99,0.43,AARON SMAYLING,MANITOBA,PRARIE,SMALL BUSINESS
23,Ord_996,Prod_7,SHP_1378,Cust_371,35.6400,0.05,10,-0.71,1.63,0.36,AARON SMAYLING,MANITOBA,PRARIE,SMALL BUSINESS
24,Ord_2573,Prod_3,SHP_3525,Cust_931,197.6100,0.08,13,3.46,7.27,0.38,AARON SMAYLING,QUEBEC,QUEBEC,SMALL BUSINESS
25,Ord_2335,Prod_13,SHP_3204,Cust_931,38.2600,0.03,22,-2.34,0.70,0.56,AARON SMAYLING,QUEBEC,QUEBEC,SMALL BUSINESS
26,Ord_2456,Prod_5,SHP_3367,Cust_931,109.5800,0.00,13,31.32,4.00,0.42,AARON SMAYLING,QUEBEC,QUEBEC,SMALL BUSINESS
27,Ord_2405,Prod_9,SHP_3300,Cust_931,1062.6900,0.01,28,401.80,6.66,0.40,AARON SMAYLING,QUEBEC,QUEBEC,SMALL BUSINESS
28,Ord_2573,Prod_4,SHP_3527,Cust_931,3594.7435,0.05,38,1016.97,2.50,0.55,AARON SMAYLING,QUEBEC,QUEBEC,SMALL BUSINESS
29,Ord_2478,Prod_12,SHP_3395,Cust_931,139.9800,0.07,33,-140.54,6.89,0.39,AARON SMAYLING,QUEBEC,QUEBEC,SMALL BUSINESS
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
70,Ord_4607,Prod_2,SHP_6408,Cust_1474,1463.4200,0.08,26,350.82,3.99,0.57,ADAM HART,YUKON,YUKON,CORPORATE
71,Ord_4546,Prod_2,SHP_6327,Cust_1474,498.6800,0.06,20,79.52,5.37,0.50,ADAM HART,YUKON,YUKON,CORPORATE
72,Ord_5233,Prod_3,SHP_7310,Cust_1749,92.2400,0.05,19,-60.58,5.24,0.39,ADAM SHILLINGSBURG,ALBERTA,WEST,CORPORATE
73,Ord_5147,Prod_6,SHP_7193,Cust_1749,199.1100,0.01,30,-83.33,6.65,0.36,ADAM SHILLINGSBURG,ALBERTA,WEST,CORPORATE
74,Ord_5215,Prod_17,SHP_7287,Cust_1749,140.5900,0.01,7,-35.88,8.51,0.40,ADAM SHILLINGSBURG,ALBERTA,WEST,CORPORATE
75,Ord_5216,Prod_13,SHP_7289,Cust_1749,141.5900,0.04,48,20.26,0.70,0.58,ADAM SHILLINGSBURG,ALBERTA,WEST,CORPORATE
76,Ord_5226,Prod_6,SHP_7300,Cust_1749,93.2600,0.05,18,-35.36,4.70,0.38,ADAM SHILLINGSBURG,ALBERTA,WEST,CORPORATE
77,Ord_5213,Prod_13,SHP_7284,Cust_1749,1633.3700,0.08,50,144.69,7.73,0.59,ADAM SHILLINGSBURG,ALBERTA,WEST,CORPORATE
78,Ord_5226,Prod_15,SHP_7299,Cust_1749,1210.7200,0.05,17,-382.43,30.00,0.78,ADAM SHILLINGSBURG,ALBERTA,WEST,CORPORATE
79,Ord_5188,Prod_14,SHP_7252,Cust_1749,5177.4000,0.06,12,287.50,49.00,0.38,ADAM SHILLINGSBURG,ALBERTA,WEST,CORPORATE
80,Ord_5174,Prod_6,SHP_7231,Cust_1749,292.7500,0.08,33,93.33,2.01,0.39,ADAM SHILLINGSBURG,ALBERTA,WEST,CORPORATE
81,Ord_5205,Prod_4,SHP_7274,Cust_1749,2546.5235,0.09,26,210.00,7.69,0.59,ADAM SHILLINGSBURG,ALBERTA,WEST,CORPORATE
82,Ord_5156,Prod_4,SHP_7207,Cust_1749,8374.1320,0.06,48,2568.10,8.99,0.56,ADAM SHILLINGSBURG,ALBERTA,WEST,CORPORATE
83,Ord_5216,Prod_3,SHP_7288,Cust_1749,157.9900,0.03,35,-105.55,5.41,0.35,ADAM SHILLINGSBURG,ALBERTA,WEST,CORPORATE
84,Ord_5232,Prod_17,SHP_7306,Cust_1758,21366.5100,0.00,3,-11984.40,24.49,0.39,ADRIAN BARTON,ALBERTA,WEST,SMALL BUSINESS
85,Ord_5232,Prod_6,SHP_7308,Cust_1758,88.5700,0.03,12,-28.25,6.15,0.37,ADRIAN BARTON,ALBERTA,WEST,SMALL BUSINESS
86,Ord_5232,Prod_6,SHP_7309,Cust_1758,73.9700,0.10,13,-38.35,5.67,0.36,ADRIAN BARTON,ALBERTA,WEST,SMALL BUSINESS
87,Ord_5232,Prod_6,SHP_7307,Cust_1758,320.0400,0.02,34,32.47,4.39,0.38,ADRIAN BARTON,ALBERTA,WEST,SMALL BUSINESS
88,Ord_5172,Prod_4,SHP_7229,Cust_1758,1239.4445,0.07,22,165.50,3.99,0.59,ADRIAN BARTON,ALBERTA,WEST,SMALL BUSINESS
89,Ord_5355,Prod_1,SHP_7481,Cust_1802,123.8500,0.09,16,-71.44,6.50,0.59,ADRIAN HANE,ALBERTA,WEST,CORPORATE
90,Ord_127,Prod_13,SHP_172,Cust_86,54.7800,0.02,32,-30.54,1.57,0.59,ADRIAN HANE,NORTHWEST TERRITORIES,NORTHWEST TERRITORIES,CORPORATE
91,Ord_127,Prod_13,SHP_173,Cust_86,304.8300,0.10,47,23.82,2.35,0.47,ADRIAN HANE,NORTHWEST TERRITORIES,NORTHWEST TERRITORIES,CORPORATE
92,Ord_45,Prod_13,SHP_59,Cust_36,312.3600,0.07,11,-19.33,8.99,0.57,ADRIAN HANE,NUNAVUT,NUNAVUT,CORPORATE
93,Ord_5484,Prod_16,SHP_7663,Cust_1820,322.8200,0.05,35,-17.58,3.98,0.56,ADRIAN SHAMI,ALBERTA,WEST,CONSUMER
94,Ord_5430,Prod_4,SHP_7588,Cust_1820,337.2035,0.09,9,-120.93,4.99,0.56,ADRIAN SHAMI,ALBERTA,WEST,CONSUMER
95,Ord_5462,Prod_4,SHP_7632,Cust_1820,175.8565,0.03,10,-93.26,1.25,0.83,ADRIAN SHAMI,ALBERTA,WEST,CONSUMER
96,Ord_5489,Prod_17,SHP_7671,Cust_1820,754.9200,0.00,7,-129.57,19.99,0.52,ADRIAN SHAMI,ALBERTA,WEST,CONSUMER
97,Ord_5462,Prod_5,SHP_7631,Cust_1820,323.9600,0.07,40,-136.82,7.96,0.49,ADRIAN SHAMI,ALBERTA,WEST,CONSUMER
98,Ord_5481,Prod_15,SHP_7659,Cust_1820,2700.7800,0.06,29,-793.36,58.20,0.58,ADRIAN SHAMI,ALBERTA,WEST,CONSUMER
99,Ord_1638,Prod_5,SHP_5892,Cust_1433,755.1900,0.00,41,81.44,8.99,0.47,AIMEE BIXBY,NEW BRUNSWICK,ATLANTIC,HOME OFFICE

In [142]:
# orders made by customers from corporate

merge_cust_ord_df.loc[merge_cust_ord_df['Customer_Segment']=='CORPORATE', :]

,Ord_id,Prod_id,Ship_id,Cust_id,Sales,Discount,Order_Quantity,Profit,Shipping_Cost,Product_Base_Margin,Customer_Name,Province,Region,Customer_Segment
0,Ord_5446,Prod_16,SHP_7609,Cust_1818,136.8100,0.01,23,-30.51,3.60,0.56,AARON BERGMAN,ALBERTA,WEST,CORPORATE
1,Ord_5406,Prod_13,SHP_7549,Cust_1818,42.2700,0.01,13,4.56,0.93,0.54,AARON BERGMAN,ALBERTA,WEST,CORPORATE
2,Ord_5446,Prod_4,SHP_7610,Cust_1818,4701.6900,0.00,26,1148.90,2.50,0.59,AARON BERGMAN,ALBERTA,WEST,CORPORATE
3,Ord_5456,Prod_6,SHP_7625,Cust_1818,2337.8900,0.09,43,729.34,14.30,0.37,AARON BERGMAN,ALBERTA,WEST,CORPORATE
4,Ord_5485,Prod_17,SHP_7664,Cust_1818,4233.1500,0.08,35,1219.87,26.30,0.38,AARON BERGMAN,ALBERTA,WEST,CORPORATE
5,Ord_5446,Prod_6,SHP_7608,Cust_1818,164.0200,0.03,23,-47.64,6.15,0.37,AARON BERGMAN,ALBERTA,WEST,CORPORATE
6,Ord_31,Prod_12,SHP_41,Cust_26,14.7600,0.01,5,1.32,0.50,0.36,AARON BERGMAN,NUNAVUT,NUNAVUT,CORPORATE
45,Ord_4768,Prod_12,SHP_6650,Cust_1579,3.8500,0.08,1,-1.36,0.99,0.37,ADAM HART,BRITISH COLUMBIA,WEST,CORPORATE
46,Ord_4690,Prod_2,SHP_6545,Cust_1579,904.1200,0.07,4,28.81,11.79,0.42,ADAM HART,BRITISH COLUMBIA,WEST,CORPORATE
47,Ord_4659,Prod_6,SHP_6493,Cust_1579,1451.5900,0.06,26,435.11,14.30,0.37,ADAM HART,BRITISH COLUMBIA,WEST,CORPORATE
48,Ord_4622,Prod_12,SHP_6437,Cust_1579,56.2600,0.00,14,28.11,0.50,0.38,ADAM HART,BRITISH COLUMBIA,WEST,CORPORATE
49,Ord_4657,Prod_5,SHP_6490,Cust_1579,336.8600,0.06,23,36.32,5.30,0.46,ADAM HART,BRITISH COLUMBIA,WEST,CORPORATE
50,Ord_4682,Prod_5,SHP_6531,Cust_1579,63.9100,0.04,14,-44.47,6.60,0.49,ADAM HART,BRITISH COLUMBIA,WEST,CORPORATE
51,Ord_4768,Prod_4,SHP_6651,Cust_1579,547.0005,0.08,10,-97.20,3.90,0.55,ADAM HART,BRITISH COLUMBIA,WEST,CORPORATE
52,Ord_4755,Prod_13,SHP_6628,Cust_1579,3.4100,0.06,1,-1.78,0.70,0.56,ADAM HART,BRITISH COLUMBIA,WEST,CORPORATE
53,Ord_4659,Prod_6,SHP_6492,Cust_1579,391.9000,0.10,11,-47.01,19.99,0.38,ADAM HART,BRITISH COLUMBIA,WEST,CORPORATE
54,Ord_4682,Prod_4,SHP_6531,Cust_1579,1909.0065,0.01,32,344.13,8.99,0.59,ADAM HART,BRITISH COLUMBIA,WEST,CORPORATE
55,Ord_4657,Prod_5,SHP_6489,Cust_1579,418.0300,0.00,47,-158.58,7.96,0.49,ADAM HART,BRITISH COLUMBIA,WEST,CORPORATE
56,Ord_4410,Prod_5,SHP_6146,Cust_1474,605.7700,0.05,42,129.33,5.00,0.49,ADAM HART,YUKON,YUKON,CORPORATE
57,Ord_4546,Prod_1,SHP_6327,Cust_1474,5208.7800,0.05,34,1547.78,7.07,0.59,ADAM HART,YUKON,YUKON,CORPORATE
58,Ord_4499,Prod_6,SHP_6264,Cust_1474,67.4900,0.06,1,-22.82,14.30,0.37,ADAM HART,YUKON,YUKON,CORPORATE
59,Ord_4552,Prod_4,SHP_6335,Cust_1474,284.4525,0.06,5,-254.78,8.99,0.58,ADAM HART,YUKON,YUKON,CORPORATE
60,Ord_4552,Prod_12,SHP_6335,Cust_1474,104.7000,0.09,29,42.16,0.50,0.38,ADAM HART,YUKON,YUKON,CORPORATE
61,Ord_4497,Prod_13,SHP_6261,Cust_1474,211.9700,0.06,10,-46.83,8.99,0.59,ADAM HART,YUKON,YUKON,CORPORATE
62,Ord_4410,Prod_6,SHP_6146,Cust_1474,1480.9100,0.00,44,489.14,8.74,0.40,ADAM HART,YUKON,YUKON,CORPORATE
63,Ord_4499,Prod_13,SHP_6265,Cust_1474,6.7600,0.02,3,-4.28,1.57,0.59,ADAM HART,YUKON,YUKON,CORPORATE
64,Ord_4475,Prod_4,SHP_6234,Cust_1474,7640.2250,0.07,46,2027.68,2.50,0.59,ADAM HART,YUKON,YUKON,CORPORATE
65,Ord_4547,Prod_6,SHP_6328,Cust_1474,23.4400,0.05,3,-10.58,5.20,0.36,ADAM HART,YUKON,YUKON,CORPORATE
66,Ord_4360,Prod_11,SHP_6079,Cust_1474,1736.4100,0.10,12,-762.44,80.20,0.71,ADAM HART,YUKON,YUKON,CORPORATE
67,Ord_4541,Prod_2,SHP_6322,Cust_1474,336.6500,0.07,30,-71.05,6.96,0.50,ADAM HART,YUKON,YUKON,CORPORATE
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8351,Ord_3584,Prod_15,SHP_4961,Cust_1266,2502.6700,0.10,9,-198.80,64.73,0.56,WILLIAM BROWN,SASKACHEWAN,PRARIE,CORPORATE
8352,Ord_3638,Prod_6,SHP_5037,Cust_1266,36.4300,0.04,5,-22.04,7.15,0.36,WILLIAM BROWN,SASKACHEWAN,PRARIE,CORPORATE
8353,Ord_3610,Prod_13,SHP_4999,Cust_1266,88.5900,0.05,7,-26.29,5.81,0.60,WILLIAM BROWN,SASKACHEWAN,PRARIE,CORPORATE
8354,Ord_3592,Prod_4,SHP_4973,Cust_1266,2614.3705,0.07,25,384.01,7.69,0.58,WILLIAM BROWN,SASKACHEWAN,PRARIE,CORPORATE
8355,Ord_3592,Prod_17,SHP_4973,Cust_1266,636.5000,0.01,46,-71.98,9.44,0.39,WILLIAM BROWN,SASKACHEWAN,PRARIE,CORPORATE
8356,Ord_3639,Prod_5,SHP_5040,Cust_1266,40.3400,0.03,2,-23.62,7.74,0.50,WILLIAM BROWN,SASKACHEWAN,PRARIE,CORPORATE
8357,Ord_3610,Prod_14,SHP_4998,Cust_1266,1759.6500,0.06,3,-2213.75,24.49,0.50,WILLIAM BROWN,SASKACHEWAN,PRARIE,CORPORATE
8358,Ord_3582,Prod_6,SHP_4959,Cust_1266,539.6600,0.00,26,147.08,5.97,0.38,WILLIAM BROWN,SASKACHEWAN,PRARIE,CORPORATE
8359,Ord_3543,Prod_3,SHP_4906,Cust_1266,514.2200,0.02,17,187.37,2.99,0.35,WILLIAM BROWN,SASKACHEWAN,PRARIE,CORPORATE
8360,Ord_3639,Prod_10,SHP_5038,Cust_1266,2173.2600,0.00,35,-465.66,36.61,0.61,WILLIAM BROWN,SASKACHEWAN,PRARIE,CORPORATE
8370,Ord_2696,Prod_13,SHP_3690,Cust_1006,62.7800,0.04,20,-17.75,2.03,0.57,XYLONA PRICE,ONTARIO,ONTARIO,CORPORATE
8371,Ord_2624,Prod_4,SHP_3591,Cust_1006,4924.1350,0.07,28,1049.54,8.99,0.58,XYLONA PRICE,ONTARIO,ONTARIO,CORPORATE
8372,Ord_2772,Prod_9,SHP_3806,Cust_1006,56.9000,0.03,7,12.64,1.39,0.36,XYLONA PRICE,ONTARIO,ONTARIO,CORPORATE
8373,Ord_2600,Prod_16,SHP_3560,Cust_1006,106.6400,0.10,30,-31.95,1.32,0.83,XYLONA PRICE,ONTARIO,ONTARIO,CORPORATE
8374,Ord_2658,Prod_5,SHP_3637,Cust_1006,1082.6600,0.08,14,-256.93,48.20,0.74,XYLONA PRICE,ONTARIO,ONTARIO,CORPORATE
8375,Ord_2772,Prod_3,SHP_3806,Cust_1006,1413.8200,0.10,47,226.53,11.63,0.37,XYLONA PRICE,ONTARIO,ONTARIO,CORPORATE
8376,Ord_2624,Prod_8,SHP_3590,Cust_1006,1211.0000,0.00,36,-27.99,6.50,0.79,XYLONA PRICE,ONTARIO,ONTARIO,CORPORATE
8377,Ord_2722,Prod_12,SHP_3729,Cust_1006,34.0100,0.00,12,10.58,0.50,0.39,XYLONA PRICE,ONTARIO,ONTARIO,CORPORATE
8378,Ord_2706,Prod_2,SHP_3705,Cust_1006,1361.9100,0.05,20,312.52,3.50,0.59,XYLONA PRICE,ONTARIO,ONTARIO,CORPORATE
8379,Ord_2722,Prod_5,SHP_3730,Cust_1006,1008.9500,0.04,41,69.31,8.99,0.50,XYLONA PRICE,ONTARIO,ONTARIO,CORPORATE
8380,Ord_2772,Prod_6,SHP_3807,Cust_1006,308.9200,0.04,45,-143.58,7.37,0.37,XYLONA PRICE,ONTARIO,ONTARIO,CORPORATE
8381,Ord_2696,Prod_4,SHP_3691,Cust_1006,2836.0505,0.01,25,561.13,8.99,0.59,XYLONA PRICE,ONTARIO,ONTARIO,CORPORATE
8382,Ord_2658,Prod_3,SHP_3636,Cust_1006,120.9800,0.00,28,-92.85,5.34,0.38,XYLONA PRICE,ONTARIO,ONTARIO,CORPORATE
8383,Ord_2722,Prod_1,SHP_3731,Cust_1006,3508.3300,0.04,21,-546.98,35.00,0.85,XYLONA PRICE,ONTARIO,ONTARIO,CORPORATE
8384,Ord_4620,Prod_3,SHP_6435,Cust_1577,59.6200,0.04,10,-56.30,7.78,0.37,YANA SORENSEN,BRITISH COLUMBIA,WEST,CORPORATE
8385,Ord_1833,Prod_3,SHP_2527,Cust_637,611.1600,0.04,46,100.22,4.98,0.40,YANA SORENSEN,NEWFOUNDLAND,ATLANTIC,CORPORATE
8386,Ord_2324,Prod_7,SHP_3189,Cust_851,121.8700,0.07,39,11.32,1.35,0.40,YANA SORENSEN,QUEBEC,QUEBEC,CORPORATE
8387,Ord_2220,Prod_3,SHP_3019,Cust_851,41.0600,0.04,4,-16.39,6.28,0.35,YANA SORENSEN,QUEBEC,QUEBEC,CORPORATE
8388,Ord_4424,Prod_1,SHP_6165,Cust_1519,994.0400,0.03,10,-335.06,35.00,NaN,YANA SORENSEN,YUKON,YUKON,CORPORATE
8389,Ord_4444,Prod_13,SHP_6192,Cust_1519,159.4100,0.00,44,34.68,0.98,0.52,YANA SORENSEN,YUKON,YUKON,CORPORATE

In [149]:
# Order from product Category = office supplies and from corporate segment.
func_1 = pd.merge(merge_cust_ord_df, product_df, how="inner", on="Prod_id" )
func_1.head(200)

func_1.loc[(func_1['Product_Category']=='OFFICE SUPPLIES') & (func_1['Customer_Segment'] == 'CORPORATE'), :]

,Ord_id,Prod_id,Ship_id,Cust_id,Sales,Discount,Order_Quantity,Profit,Shipping_Cost,Product_Base_Margin,Customer_Name,Province,Region,Customer_Segment,Product_Category,Product_Sub_Category
0,Ord_5446,Prod_16,SHP_7609,Cust_1818,136.81,0.01,23,-30.51,3.60,0.56,AARON BERGMAN,ALBERTA,WEST,CORPORATE,OFFICE SUPPLIES,"SCISSORS, RULERS AND TRIMMERS"
3,Ord_3730,Prod_16,SHP_5175,Cust_1314,459.08,0.04,34,61.57,3.14,0.60,ALEKSANDRA GANNAWAY,SASKACHEWAN,PRARIE,CORPORATE,OFFICE SUPPLIES,"SCISSORS, RULERS AND TRIMMERS"
7,Ord_4506,Prod_16,SHP_6273,Cust_1544,92.02,0.07,9,-24.88,4.68,0.59,AMY COX,YUKON,YUKON,CORPORATE,OFFICE SUPPLIES,"SCISSORS, RULERS AND TRIMMERS"
9,Ord_1551,Prod_16,SHP_2145,Cust_531,184.77,0.00,29,-71.96,5.30,0.55,ANDY YOTOV,ONTARIO,ONTARIO,CORPORATE,OFFICE SUPPLIES,"SCISSORS, RULERS AND TRIMMERS"
11,Ord_1429,Prod_16,SHP_1976,Cust_510,539.06,0.05,42,-123.07,4.59,0.82,ANNA HABERLIN,ONTARIO,ONTARIO,CORPORATE,OFFICE SUPPLIES,"SCISSORS, RULERS AND TRIMMERS"
14,Ord_43,Prod_16,SHP_56,Cust_34,9620.82,0.04,6,-1759.58,24.49,0.81,BARRY WEIRICH,NUNAVUT,NUNAVUT,CORPORATE,OFFICE SUPPLIES,"SCISSORS, RULERS AND TRIMMERS"
15,Ord_956,Prod_16,SHP_1324,Cust_346,503.17,0.01,46,-10.21,4.68,0.59,BART WATTERS,BRITISH COLUMBIA,WEST,CORPORATE,OFFICE SUPPLIES,"SCISSORS, RULERS AND TRIMMERS"
16,Ord_975,Prod_16,SHP_1345,Cust_346,638.91,0.02,49,77.48,3.14,0.60,BART WATTERS,BRITISH COLUMBIA,WEST,CORPORATE,OFFICE SUPPLIES,"SCISSORS, RULERS AND TRIMMERS"
21,Ord_208,Prod_16,SHP_284,Cust_67,327.15,0.04,19,47.30,3.26,0.56,BETH THOMPSON,NORTHWEST TERRITORIES,NORTHWEST TERRITORIES,CORPORATE,OFFICE SUPPLIES,"SCISSORS, RULERS AND TRIMMERS"
22,Ord_1154,Prod_16,SHP_1590,Cust_444,483.64,0.10,45,28.39,3.37,0.57,BILL DONATELLI,ONTARIO,ONTARIO,CORPORATE,OFFICE SUPPLIES,"SCISSORS, RULERS AND TRIMMERS"
23,Ord_1486,Prod_16,SHP_2052,Cust_513,487.50,0.05,46,-25.88,4.68,0.59,BILL STEWART,ONTARIO,ONTARIO,CORPORATE,OFFICE SUPPLIES,"SCISSORS, RULERS AND TRIMMERS"
27,Ord_1793,Prod_16,SHP_2484,Cust_826,482.93,0.06,34,-67.59,7.59,0.56,CARLOS MEADOR,QUEBEC,QUEBEC,CORPORATE,OFFICE SUPPLIES,"SCISSORS, RULERS AND TRIMMERS"
30,Ord_1005,Prod_16,SHP_1392,Cust_377,15.00,0.05,1,-11.02,8.37,0.58,CHAD SIEVERT,MANITOBA,PRARIE,CORPORATE,OFFICE SUPPLIES,"SCISSORS, RULERS AND TRIMMERS"
31,Ord_278,Prod_16,SHP_377,Cust_97,302.20,0.04,27,20.27,3.37,0.57,CHARLES MCCROSSIN,NORTHWEST TERRITORIES,NORTHWEST TERRITORIES,CORPORATE,OFFICE SUPPLIES,"SCISSORS, RULERS AND TRIMMERS"
35,Ord_5062,Prod_16,SHP_7068,Cust_1720,587.71,0.09,49,26.28,3.14,0.60,CHUCK CLARK,ALBERTA,WEST,CORPORATE,OFFICE SUPPLIES,"SCISSORS, RULERS AND TRIMMERS"
36,Ord_4331,Prod_16,SHP_6038,Cust_1441,77.43,0.01,36,-60.07,2.56,0.55,CINDY CHAPMAN,YUKON,YUKON,CORPORATE,OFFICE SUPPLIES,"SCISSORS, RULERS AND TRIMMERS"
37,Ord_195,Prod_16,SHP_264,Cust_106,110.32,0.09,31,-32.65,1.32,0.83,CINDY SCHNELLING,NORTHWEST TERRITORIES,NORTHWEST TERRITORIES,CORPORATE,OFFICE SUPPLIES,"SCISSORS, RULERS AND TRIMMERS"
40,Ord_4864,Prod_16,SHP_6786,Cust_1679,114.53,0.07,21,-39.23,3.60,0.56,CYNTHIA DELANEY,BRITISH COLUMBIA,WEST,CORPORATE,OFFICE SUPPLIES,"SCISSORS, RULERS AND TRIMMERS"
41,Ord_4905,Prod_16,SHP_6842,Cust_1679,348.92,0.06,31,28.47,3.37,0.57,CYNTHIA DELANEY,BRITISH COLUMBIA,WEST,CORPORATE,OFFICE SUPPLIES,"SCISSORS, RULERS AND TRIMMERS"
42,Ord_1624,Prod_16,SHP_2243,Cust_525,452.15,0.06,42,25.79,3.37,0.57,DAN LAWERA,ONTARIO,ONTARIO,CORPORATE,OFFICE SUPPLIES,"SCISSORS, RULERS AND TRIMMERS"
47,Ord_231,Prod_16,SHP_320,Cust_79,224.47,0.08,16,-49.31,7.59,0.56,DOROTHY WARDLE,NORTHWEST TERRITORIES,NORTHWEST TERRITORIES,CORPORATE,OFFICE SUPPLIES,"SCISSORS, RULERS AND TRIMMERS"
48,Ord_2547,Prod_16,SHP_3486,Cust_974,98.24,0.04,9,-10.38,3.37,0.57,DORRIS LOVE,QUEBEC,QUEBEC,CORPORATE,OFFICE SUPPLIES,"SCISSORS, RULERS AND TRIMMERS"
49,Ord_213,Prod_16,SHP_294,Cust_49,42.89,0.02,5,-32.48,8.37,0.58,DOUG BICKFORD,NORTHWEST TERRITORIES,NORTHWEST TERRITORIES,CORPORATE,OFFICE SUPPLIES,"SCISSORS, RULERS AND TRIMMERS"
55,Ord_488,Prod_16,SHP_656,Cust_179,134.86,0.04,42,-62.84,1.92,0.84,ERICA BERN,MANITOBA,PRARIE,CORPORATE,OFFICE SUPPLIES,"SCISSORS, RULERS AND TRIMMERS"
58,Ord_1499,Prod_16,SHP_2071,Cust_487,248.42,0.02,35,-58.81,4.42,0.58,ERIN CREIGHTON,ONTARIO,ONTARIO,CORPORATE,OFFICE SUPPLIES,"SCISSORS, RULERS AND TRIMMERS"
61,Ord_2350,Prod_16,SHP_3226,Cust_941,67.30,0.02,27,-115.38,5.00,0.81,FRED CHUNG,QUEBEC,QUEBEC,CORPORATE,OFFICE SUPPLIES,"SCISSORS, RULERS AND TRIMMERS"
63,Ord_487,Prod_16,SHP_655,Cust_164,343.26,0.04,50,-287.28,8.37,0.58,GUY ARMSTRONG,MANITOBA,PRARIE,CORPORATE,OFFICE SUPPLIES,"SCISSORS, RULERS AND TRIMMERS"
65,Ord_363,Prod_16,SHP_482,Cust_145,63.02,0.07,27,-119.66,5.00,0.81,HILARY HOLDEN,PRINCE EDWARD ISLAND,ATLANTIC,CORPORATE,OFFICE SUPPLIES,"SCISSORS, RULERS AND TRIMMERS"
72,Ord_175,Prod_16,SHP_238,Cust_104,501.31,0.05,40,38.23,3.14,0.60,JEREMY LONSDALE,NORTHWEST TERRITORIES,NORTHWEST TERRITORIES,CORPORATE,OFFICE SUPPLIES,"SCISSORS, RULERS AND TRIMMERS"
74,Ord_834,Prod_16,SHP_1142,Cust_269,5.06,0.01,1,-2.64,1.92,0.84,JOHN GRADY,BRITISH COLUMBIA,WEST,CORPORATE,OFFICE SUPPLIES,"SCISSORS, RULERS AND TRIMMERS"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7467,Ord_4728,Prod_1,SHP_6596,Cust_1607,373.13,0.05,33,-35.26,5.03,0.59,ROLAND FJELD,BRITISH COLUMBIA,WEST,CORPORATE,OFFICE SUPPLIES,STORAGE & ORGANIZATION
7469,Ord_2097,Prod_1,SHP_2869,Cust_800,2040.95,0.07,42,-1231.87,35.00,0.83,ROSS DEVINCENTIS,QUEBEC,QUEBEC,CORPORATE,OFFICE SUPPLIES,STORAGE & ORGANIZATION
7470,Ord_2171,Prod_1,SHP_2959,Cust_800,302.91,0.05,24,-36.76,6.13,0.57,ROSS DEVINCENTIS,QUEBEC,QUEBEC,CORPORATE,OFFICE SUPPLIES,STORAGE & ORGANIZATION
7471,Ord_4004,Prod_1,SHP_5575,Cust_1375,236.46,0.05,23,-134.31,9.45,0.60,ROY COLLINS,SASKACHEWAN,PRARIE,CORPORATE,OFFICE SUPPLIES,STORAGE & ORGANIZATION
7472,Ord_3286,Prod_1,SHP_4560,Cust_1194,7156.56,0.03,50,1871.26,19.99,0.56,ROY SKARIA,MANITOBA,PRARIE,CORPORATE,OFFICE SUPPLIES,STORAGE & ORGANIZATION
7473,Ord_1531,Prod_1,SHP_2118,Cust_537,1025.02,0.04,30,87.03,8.74,0.61,RUBEN AUSMAN,ONTARIO,ONTARIO,CORPORATE,OFFICE SUPPLIES,STORAGE & ORGANIZATION
7475,Ord_571,Prod_1,SHP_1160,Cust_280,195.04,0.08,1,-149.41,35.00,0.85,SALLY KNUTSON,NOVA SCOTIA,ATLANTIC,CORPORATE,OFFICE SUPPLIES,STORAGE & ORGANIZATION
7481,Ord_1778,Prod_1,SHP_2465,Cust_587,669.69,0.03,8,-297.02,35.00,0.81,SCOT CORAM,ONTARIO,ONTARIO,CORPORATE,OFFICE SUPPLIES,STORAGE & ORGANIZATION
7484,Ord_994,Prod_1,SHP_1375,Cust_369,11103.75,0.10,32,-522.59,99.00,0.65,SEAN WENDT,MANITOBA,PRARIE,CORPORATE,OFFICE SUPPLIES,STORAGE & ORGANIZATION
7488,Ord_696,Prod_1,SHP_953,Cust_232,309.62,0.00,21,-80.20,9.37,0.56,SHAHID SHARIARI,BRITISH COLUMBIA,WEST,CORPORATE,OFFICE SUPPLIES,STORAGE & ORGANIZATION
7489,Ord_4984,Prod_1,SHP_6957,Cust_1701,298.11,0.08,25,-60.79,6.27,0.57,SHAUN CHANCE,ALBERTA,WEST,CORPORATE,OFFICE SUPPLIES,STORAGE & ORGANIZATION
7490,Ord_5021,Prod_1,SHP_7006,Cust_1701,192.02,0.09,7,-293.74,53.03,0.78,SHAUN CHANCE,ALBERTA,WEST,CORPORATE,OFFICE SUPPLIES,STORAGE & ORGANIZATION
7492,Ord_2559,Prod_1,SHP_3504,Cust_988,1200.70,0.06,47,-37.27,8.79,0.66,SHIRLEY DANIELS,QUEBEC,QUEBEC,CORPORATE,OFFICE SUPPLIES,STORAGE & ORGANIZATION
7493,Ord_2248,Prod_1,SHP_3056,Cust_879,241.89,0.02,15,-83.30,10.68,0.58,SHIRLEY JACKSON,QUEBEC,QUEBEC,CORPORATE,OFFICE SUPPLIES,STORAGE & ORGANIZATION
7496,Ord_5221,Prod_1,SHP_7294,Cust_1741,135.38,0.05,17,-71.12,6.50,0.59,SONIA COOLEY,ALBERTA,WEST,CORPORATE,OFFICE SUPPLIES,STORAGE & ORGANIZATION
7497,Ord_615,Prod_1,SHP_842,Cust_214,4538.66,0.00,40,506.86,8.64,0.78,SONIA SUNLEY,BRITISH COLUMBIA,WEST,CORPORATE,OFFICE SUPPLIES,STORAGE & ORGANIZATION
7498,Ord_2198,Prod_1,SHP_2996,Cust_829,1610.76,0.10,38,-8.67,16.36,0.55,SPEROS GORANITIS,QUEBEC,QUEBEC,CORPORATE,OFFICE SUPPLIES,STORAGE & ORGANIZATION
7500,Ord_3127,Prod_1,SHP_4340,Cust_1162,1724.82,0.10,32,407.80,5.08,0.59,STEVE CHAPMAN,MANITOBA,PRARIE,CORPORATE,OFFICE SUPPLIES,STORAGE & ORGANIZATION
7507,Ord_199,Prod_1,SHP_272,Cust_107,456.91,0.04,28,-328.18,17.78,0.59,SUSAN VITTORINI,NORTHWEST TERRITORIES,NORTHWEST TERRITORIES,CORPORATE,OFFICE SUPPLIES,STORAGE & ORGANIZATION
7510,Ord_5014,Prod_1,SHP_6996,Cust_1698,431.11,0.07,4,-244.33,35.00,0.82,TAMARA MANNING,ALBERTA,WEST,CORPORATE,OFFICE SUPPLIES,STORAGE & ORGANIZATION
7513,Ord_3333,Prod_1,SHP_4626,Cust_1196,1243.45,0.10,39,-1212.55,35.00,0.81,TANJA NORVELL,MANITOBA,PRARIE,CORPORATE,OFFICE SUPPLIES,STORAGE & ORGANIZATION
7520,Ord_4549,Prod_1,SHP_6332,Cust_1530,297.85,0.04,5,-69.89,19.99,0.59,TIM TASLIMI,YUKON,YUKON,CORPORATE,OFFICE SUPPLIES,STORAGE & ORGANIZATION
7529,Ord_4758,Prod_1,SHP_6637,Cust_1638,448.10,0.10,35,-15.07,4.51,0.59,TONY MOLINARI,BRITISH COLUMBIA,WEST,CORPORATE,OFFICE SUPPLIES,STORAGE & ORGANIZATION
7540,Ord_3300,Prod_1,SHP_4578,Cust_1180,312.25,0.05,9,15.56,5.10,0.60,VALERIE DOMINGUEZ,MANITOBA,PRARIE,CORPORATE,OFFICE SUPPLIES,STORAGE & ORGANIZATION
7541,Ord_3339,Prod_1,SHP_4632,Cust_1180,257.41,0.09,43,-131.08,4.69,0.68,VALERIE DOMINGUEZ,MANITOBA,PRARIE,CORPORATE,OFFICE SUPPLIES,STORAGE & ORGANIZATION
7545,Ord_4629,Prod_1,SHP_6447,Cust_1587,848.19,0.06,25,120.02,5.49,0.60,VICTORIA PISTEKA,BRITISH COLUMBIA,WEST,CORPORATE,OFFICE SUPPLIES,STORAGE & ORGANIZATION
7546,Ord_4604,Prod_1,SHP_6403,Cust_1522,234.24,0.09,24,-151.80,9.45,0.60,VICTORIA PISTEKA,YUKON,YUKON,CORPORATE,OFFICE SUPPLIES,STORAGE & ORGANIZATION
7551,Ord_3543,Prod_1,SHP_4905,Cust_1266,1184.11,0.07,6,-145.07,19.99,0.71,WILLIAM BROWN,SASKACHEWAN,PRARIE,CORPORATE,OFFICE SUPPLIES,STORAGE & ORGANIZATION
7552,Ord_2722,Prod_1,SHP_3731,Cust_1006,3508.33,0.04,21,-546.98,35.00,0.85,XYLONA PRICE,ONTARIO,ONTARIO,CORPORATE,OFFICE SUPPLIES,STORAGE & ORGANIZATION
7553,Ord_4424,Prod_1,SHP_6165,Cust_1519,994.04,0.03,10,-335.06,35.00,NaN,YANA SORENSEN,YUKON,YUKON,CORPORATE,OFFICE SUPPLIES,STORAGE & ORGANIZATION

In [161]:
# Merge Shipping Data

func1_ship = pd.merge(func_1,shipping_df,  how="inner", on="Ship_id")
func1_ship.head()

func_ship_custid_prdcat=func1_ship.loc[(func1_ship['Customer_Segment']=='CORPORATE')& (func1_ship['Product_Category']=='OFFICE SUPPLIES'),:]

,Ord_id,Prod_id,Ship_id,Cust_id,Sales,Discount,Order_Quantity,Profit,Shipping_Cost,Product_Base_Margin,Customer_Name,Province,Region,Customer_Segment,Product_Category,Product_Sub_Category,Order_ID,Ship_Mode,Ship_Date
0,Ord_5446,Prod_16,SHP_7609,Cust_1818,136.81,0.01,23,-30.51,3.60,0.56,AARON BERGMAN,ALBERTA,WEST,CORPORATE,OFFICE SUPPLIES,"SCISSORS, RULERS AND TRIMMERS",36262,REGULAR AIR,28-07-2010
3,Ord_3730,Prod_16,SHP_5175,Cust_1314,459.08,0.04,34,61.57,3.14,0.60,ALEKSANDRA GANNAWAY,SASKACHEWAN,PRARIE,CORPORATE,OFFICE SUPPLIES,"SCISSORS, RULERS AND TRIMMERS",36992,EXPRESS AIR,09-12-2009
10,Ord_4506,Prod_16,SHP_6273,Cust_1544,92.02,0.07,9,-24.88,4.68,0.59,AMY COX,YUKON,YUKON,CORPORATE,OFFICE SUPPLIES,"SCISSORS, RULERS AND TRIMMERS",19524,REGULAR AIR,15-01-2010
12,Ord_1551,Prod_16,SHP_2145,Cust_531,184.77,0.00,29,-71.96,5.30,0.55,ANDY YOTOV,ONTARIO,ONTARIO,CORPORATE,OFFICE SUPPLIES,"SCISSORS, RULERS AND TRIMMERS",39330,EXPRESS AIR,18-07-2010
14,Ord_1429,Prod_16,SHP_1976,Cust_510,539.06,0.05,42,-123.07,4.59,0.82,ANNA HABERLIN,ONTARIO,ONTARIO,CORPORATE,OFFICE SUPPLIES,"SCISSORS, RULERS AND TRIMMERS",20259,REGULAR AIR,25-05-2011
19,Ord_43,Prod_16,SHP_56,Cust_34,9620.82,0.04,6,-1759.58,24.49,0.81,BARRY WEIRICH,NUNAVUT,NUNAVUT,CORPORATE,OFFICE SUPPLIES,"SCISSORS, RULERS AND TRIMMERS",6116,REGULAR AIR,22-03-2009
20,Ord_956,Prod_16,SHP_1324,Cust_346,503.17,0.01,46,-10.21,4.68,0.59,BART WATTERS,BRITISH COLUMBIA,WEST,CORPORATE,OFFICE SUPPLIES,"SCISSORS, RULERS AND TRIMMERS",34721,REGULAR AIR,02-11-2010
21,Ord_975,Prod_16,SHP_1345,Cust_346,638.91,0.02,49,77.48,3.14,0.60,BART WATTERS,BRITISH COLUMBIA,WEST,CORPORATE,OFFICE SUPPLIES,"SCISSORS, RULERS AND TRIMMERS",41671,REGULAR AIR,05-12-2012
26,Ord_208,Prod_16,SHP_284,Cust_67,327.15,0.04,19,47.30,3.26,0.56,BETH THOMPSON,NORTHWEST TERRITORIES,NORTHWEST TERRITORIES,CORPORATE,OFFICE SUPPLIES,"SCISSORS, RULERS AND TRIMMERS",33377,REGULAR AIR,01-08-2011
27,Ord_1154,Prod_16,SHP_1590,Cust_444,483.64,0.10,45,28.39,3.37,0.57,BILL DONATELLI,ONTARIO,ONTARIO,CORPORATE,OFFICE SUPPLIES,"SCISSORS, RULERS AND TRIMMERS",13345,REGULAR AIR,02-09-2012
28,Ord_1486,Prod_16,SHP_2052,Cust_513,487.50,0.05,46,-25.88,4.68,0.59,BILL STEWART,ONTARIO,ONTARIO,CORPORATE,OFFICE SUPPLIES,"SCISSORS, RULERS AND TRIMMERS",28805,REGULAR AIR,04-04-2011
29,Ord_1486,Prod_2,SHP_2052,Cust_513,97.93,0.07,14,-616.81,49.00,0.59,BILL STEWART,ONTARIO,ONTARIO,CORPORATE,OFFICE SUPPLIES,APPLIANCES,28805,REGULAR AIR,04-04-2011
30,Ord_1486,Prod_3,SHP_2052,Cust_513,25.52,0.07,4,-1.99,1.49,0.39,BILL STEWART,ONTARIO,ONTARIO,CORPORATE,OFFICE SUPPLIES,BINDERS AND BINDER ACCESSORIES,28805,REGULAR AIR,04-04-2011
36,Ord_1793,Prod_16,SHP_2484,Cust_826,482.93,0.06,34,-67.59,7.59,0.56,CARLOS MEADOR,QUEBEC,QUEBEC,CORPORATE,OFFICE SUPPLIES,"SCISSORS, RULERS AND TRIMMERS",4647,REGULAR AIR,14-05-2009
38,Ord_1793,Prod_9,SHP_2484,Cust_604,1203.73,0.03,7,293.14,19.99,0.39,CARLOS MEADOR,NEWFOUNDLAND,ATLANTIC,CORPORATE,OFFICE SUPPLIES,ENVELOPES,4647,REGULAR AIR,14-05-2009
42,Ord_1005,Prod_16,SHP_1392,Cust_377,15.00,0.05,1,-11.02,8.37,0.58,CHAD SIEVERT,MANITOBA,PRARIE,CORPORATE,OFFICE SUPPLIES,"SCISSORS, RULERS AND TRIMMERS",50048,REGULAR AIR,20-01-2010
43,Ord_1005,Prod_13,SHP_1392,Cust_377,35.48,0.09,14,-9.19,1.30,0.59,CHAD SIEVERT,MANITOBA,PRARIE,CORPORATE,OFFICE SUPPLIES,PENS & ART SUPPLIES,50048,REGULAR AIR,20-01-2010
44,Ord_278,Prod_16,SHP_377,Cust_97,302.20,0.04,27,20.27,3.37,0.57,CHARLES MCCROSSIN,NORTHWEST TERRITORIES,NORTHWEST TERRITORIES,CORPORATE,OFFICE SUPPLIES,"SCISSORS, RULERS AND TRIMMERS",47620,REGULAR AIR,05-07-2012
50,Ord_5062,Prod_16,SHP_7068,Cust_1720,587.71,0.09,49,26.28,3.14,0.60,CHUCK CLARK,ALBERTA,WEST,CORPORATE,OFFICE SUPPLIES,"SCISSORS, RULERS AND TRIMMERS",7552,REGULAR AIR,12-09-2012
51,Ord_5062,Prod_13,SHP_7068,Cust_1720,1406.49,0.02,47,332.52,6.17,0.55,CHUCK CLARK,ALBERTA,WEST,CORPORATE,OFFICE SUPPLIES,PENS & ART SUPPLIES,7552,REGULAR AIR,12-09-2012
52,Ord_4331,Prod_16,SHP_6038,Cust_1441,77.43,0.01,36,-60.07,2.56,0.55,CINDY CHAPMAN,YUKON,YUKON,CORPORATE,OFFICE SUPPLIES,"SCISSORS, RULERS AND TRIMMERS",59783,REGULAR AIR,24-08-2010
53,Ord_195,Prod_16,SHP_264,Cust_106,110.32,0.09,31,-32.65,1.32,0.83,CINDY SCHNELLING,NORTHWEST TERRITORIES,NORTHWEST TERRITORIES,CORPORATE,OFFICE SUPPLIES,"SCISSORS, RULERS AND TRIMMERS",31393,REGULAR AIR,13-05-2012
57,Ord_4864,Prod_16,SHP_6786,Cust_1679,114.53,0.07,21,-39.23,3.60,0.56,CYNTHIA DELANEY,BRITISH COLUMBIA,WEST,CORPORATE,OFFICE SUPPLIES,"SCISSORS, RULERS AND TRIMMERS",11074,REGULAR AIR,11-06-2011
58,Ord_4905,Prod_16,SHP_6842,Cust_1679,348.92,0.06,31,28.47,3.37,0.57,CYNTHIA DELANEY,BRITISH COLUMBIA,WEST,CORPORATE,OFFICE SUPPLIES,"SCISSORS, RULERS AND TRIMMERS",35875,REGULAR AIR,14-06-2011
59,Ord_1624,Prod_16,SHP_2243,Cust_525,452.15,0.06,42,25.79,3.37,0.57,DAN LAWERA,ONTARIO,ONTARIO,CORPORATE,OFFICE SUPPLIES,"SCISSORS, RULERS AND TRIMMERS",50854,EXPRESS AIR,17-12-2011
67,Ord_231,Prod_16,SHP_320,Cust_79,224.47,0.08,16,-49.31,7.59,0.56,DOROTHY WARDLE,NORTHWEST TERRITORIES,NORTHWEST TERRITORIES,CORPORATE,OFFICE SUPPLIES,"SCISSORS, RULERS AND TRIMMERS",37793,REGULAR AIR,09-11-2009
68,Ord_2547,Prod_16,SHP_3486,Cust_974,98.24,0.04,9,-10.38,3.37,0.57,DORRIS LOVE,QUEBEC,QUEBEC,CORPORATE,OFFICE SUPPLIES,"SCISSORS, RULERS AND TRIMMERS",53668,REGULAR AIR,01-04-2010
69,Ord_213,Prod_16,SHP_294,Cust_49,42.89,0.02,5,-32.48,8.37,0.58,DOUG BICKFORD,NORTHWEST TERRITORIES,NORTHWEST TERRITORIES,CORPORATE,OFFICE SUPPLIES,"SCISSORS, RULERS AND TRIMMERS",33894,REGULAR AIR,15-06-2010
75,Ord_488,Prod_16,SHP_656,Cust_179,134.86,0.04,42,-62.84,1.92,0.84,ERICA BERN,MANITOBA,PRARIE,CORPORATE,OFFICE SUPPLIES,"SCISSORS, RULERS AND TRIMMERS",58117,REGULAR AIR,21-02-2011
78,Ord_1499,Prod_16,SHP_2071,Cust_487,248.42,0.02,35,-58.81,4.42,0.58,ERIN CREIGHTON,ONTARIO,ONTARIO,CORPORATE,OFFICE SUPPLIES,"SCISSORS, RULERS AND TRIMMERS",31046,REGULAR AIR,10-02-2011
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7584,Ord_4728,Prod_1,SHP_6596,Cust_1607,373.13,0.05,33,-35.26,5.03,0.59,ROLAND FJELD,BRITISH COLUMBIA,WEST,CORPORATE,OFFICE SUPPLIES,STORAGE & ORGANIZATION,47011,REGULAR AIR,21-02-2009
7586,Ord_2097,Prod_1,SHP_2869,Cust_800,2040.95,0.07,42,-1231.87,35.00,0.83,ROSS DEVINCENTIS,QUEBEC,QUEBEC,CORPORATE,OFFICE SUPPLIES,STORAGE & ORGANIZATION,10919,REGULAR AIR,27-03-2010
7587,Ord_2171,Prod_1,SHP_2959,Cust_800,302.91,0.05,24,-36.76,6.13,0.57,ROSS DEVINCENTIS,QUEBEC,QUEBEC,CORPORATE,OFFICE SUPPLIES,STORAGE & ORGANIZATION,44647,REGULAR AIR,28-01-2012
7588,Ord_4004,Prod_1,SHP_5575,Cust_1375,236.46,0.05,23,-134.31,9.45,0.60,ROY COLLINS,SASKACHEWAN,PRARIE,CORPORATE,OFFICE SUPPLIES,STORAGE & ORGANIZATION,130,REGULAR AIR,10-05-2012
7589,Ord_3286,Prod_1,SHP_4560,Cust_1194,7156.56,0.03,50,1871.26,19.99,0.56,ROY SKARIA,MANITOBA,PRARIE,CORPORATE,OFFICE SUPPLIES,STORAGE & ORGANIZATION,16321,REGULAR AIR,03-10-2009
7590,Ord_1531,Prod_1,SHP_2118,Cust_537,1025.02,0.04,30,87.03,8.74,0.61,RUBEN AUSMAN,ONTARIO,ONTARIO,CORPORATE,OFFICE SUPPLIES,STORAGE & ORGANIZATION,36643,REGULAR AIR,24-02-2009
7592,Ord_571,Prod_1,SHP_1160,Cust_280,195.04,0.08,1,-149.41,35.00,0.85,SALLY KNUTSON,NOVA SCOTIA,ATLANTIC,CORPORATE,OFFICE SUPPLIES,STORAGE & ORGANIZATION,47750,REGULAR AIR,15-06-2010
7598,Ord_1778,Prod_1,SHP_2465,Cust_587,669.69,0.03,8,-297.02,35.00,0.81,SCOT CORAM,ONTARIO,ONTARIO,CORPORATE,OFFICE SUPPLIES,STORAGE & ORGANIZATION,53574,REGULAR AIR,10-04-2012
7601,Ord_994,Prod_1,SHP_1375,Cust_369,11103.75,0.10,32,-522.59,99.00,0.65,SEAN WENDT,MANITOBA,PRARIE,CORPORATE,OFFICE SUPPLIES,STORAGE & ORGANIZATION,48480,DELIVERY TRUCK,05-01-2010
7604,Ord_696,Prod_1,SHP_953,Cust_232,309.62,0.00,21,-80.20,9.37,0.56,SHAHID SHARIARI,BRITISH COLUMBIA,WEST,CORPORATE,OFFICE SUPPLIES,STORAGE & ORGANIZATION,4642,EXPRESS AIR,26-02-2011
7605,Ord_4984,Prod_1,SHP_6957,Cust_1701,298.11,0.08,25,-60.79,6.27,0.57,SHAUN CHANCE,ALBERTA,WEST,CORPORATE,OFFICE SUPPLIES,STORAGE & ORGANIZATION,32931,REGULAR AIR,20-02-2010
7606,Ord_5021,Prod_1,SHP_7006,Cust_1701,192.02,0.09,7,-293.74,53.03,0.78,SHAUN CHANCE,ALBERTA,WEST,CORPORATE,OFFICE SUPPLIES,STORAGE & ORGANIZATION,54949,DELIVERY TRUCK,17-08-2009
7607,Ord_2559,Prod_1,SHP_3504,Cust_988,1200.70,0.06,47,-37.27,8.79,0.66,SHIRLEY DANIELS,QUEBEC,QUEBEC,CORPORATE,OFFICE SUPPLIES,STORAGE & ORGANIZATION,56291,REGULAR AIR,18-09-2012
7608,Ord_2248,Prod_1,SHP_3056,Cust_879,241.89,0.02,15,-83.30,10.68,0.58,SHIRLEY JACKSON,QUEBEC,QUEBEC,CORPORATE,OFFICE SUPPLIES,STORAGE & ORGANIZATION,7075,REGULAR AIR,12-10-2011
7610,Ord_5221,Prod_1,SHP_7294,Cust_1741,135.38,0.05,17,-71.12,6.50,0.59,SONIA COOLEY,ALBERTA,WEST,CORPORATE,OFFICE SUPPLIES,STORAGE & ORGANIZATION,42855,REGULAR AIR,10-07-2011
7611,Ord_615,Prod_1,SHP_842,Cust_214,4538.66,0.00,40,506.86,8.64,0.78,SONIA SUNLEY,BRITISH COLUMBIA,WEST,CORPORATE,OFFICE SUPPLIES,STORAGE & ORGANIZATION,16230,REGULAR AIR,04-03-2010
7612,Ord_2198,Prod_1,SHP_2996,Cust_829,1610.76,0.10,38,-8.67,16.36,0.55,SPEROS GORANITIS,QUEBEC,QUEBEC,CORPORATE,OFFICE SUPPLIES,STORAGE & ORGANIZATION,8677,REGULAR AIR,09-10-2012
7613,Ord_3127,Prod_1,SHP_4340,Cust_1162,1724.82,0.10,32,407.80,5.08,0.59,STEVE CHAPMAN,MANITOBA,PRARIE,CORPORATE,OFFICE SUPPLIES,STORAGE & ORGANIZATION,7107,REGULAR AIR,05-01-2012
7619,Ord_199,Prod_1,SHP_272,Cust_107,456.91,0.04,28,-328.18,17.78,0.59,SUSAN VITTORINI,NORTHWEST TERRITORIES,NORTHWEST TERRITORIES,CORPORATE,OFFICE SUPPLIES,STORAGE & ORGANIZATION,31684,EXPRESS AIR,18-09-2012
7622,Ord_5014,Prod_1,SHP_6996,Cust_1698,431.11,0.07,4,-244.33,35.00,0.82,TAMARA MANNING,ALBERTA,WEST,CORPORATE,OFFICE SUPPLIES,STORAGE & ORGANIZATION,51842,REGULAR AIR,02-12-2011
7625,Ord_3333,Prod_1,SHP_4626,Cust_1196,1243.45,0.10,39,-1212.55,35.00,0.81,TANJA NORVELL,MANITOBA,PRARIE,CORPORATE,OFFICE SUPPLIES,STORAGE & ORGANIZATION,24544,REGULAR AIR,27-01-2009
7631,Ord_4549,Prod_1,SHP_6332,Cust_1530,297.85,0.04,5,-69.89,19.99,0.59,TIM TASLIMI,YUKON,YUKON,CORPORATE,OFFICE SUPPLIES,STORAGE & ORGANIZATION,23366,REGULAR AIR,19-11-2010
7637,Ord_4758,Prod_1,SHP_6637,Cust_1638,448.10,0.10,35,-15.07,4.51,0.59,TONY MOLINARI,BRITISH COLUMBIA,WEST,CORPORATE,OFFICE SUPPLIES,STORAGE & ORGANIZATION,50950,EXPRESS AIR,30-12-2012
7648,Ord_3300,Prod_1,SHP_4578,Cust_1180,312.25,0.05,9,15.56,5.10,0.60,VALERIE DOMINGUEZ,MANITOBA,PRARIE,CORPORATE,OFFICE SUPPLIES,STORAGE & ORGANIZATION,19557,REGULAR AIR,30-10-2011
7649,Ord_3339,Prod_1,SHP_4632,Cust_1180,257.41,0.09,43,-131.08,4.69,0.68,VALERIE DOMINGUEZ,MANITOBA,PRARIE,CORPORATE,OFFICE SUPPLIES,STORAGE & ORGANIZATION,25601,REGULAR AIR,06-01-2009
7653,Ord_4629,Prod_1,SHP_6447,Cust_1587,848.19,0.06,25,120.02,5.49,0.60,VICTORIA PISTEKA,BRITISH COLUMBIA,WEST,CORPORATE,OFFICE SUPPLIES,STORAGE & ORGANIZATION,34980,EXPRESS AIR,04-08-2010
7654,Ord_4604,Prod_1,SHP_6403,Cust_1522,234.24,0.09,24,-151.80,9.45,0.60,VICTORIA PISTEKA,YUKON,YUKON,CORPORATE,OFFICE SUPPLIES,STORAGE & ORGANIZATION,30885,REGULAR AIR,22-06-2010
7659,Ord_3543,Prod_1,SHP_4905,Cust_1266,1184.11,0.07,6,-145.07,19.99,0.71,WILLIAM BROWN,SASKACHEWAN,PRARIE,CORPORATE,OFFICE SUPPLIES,STORAGE & ORGANIZATION,8803,REGULAR AIR,21-12-2012
7660,Ord_2722,Prod_1,SHP_3731,Cust_1006,3508.33,0.04,21,-546.98,35.00,0.85,XYLONA PRICE,ONTARIO,ONTARIO,CORPORATE,OFFICE SUPPLIES,STORAGE & ORGANIZATION,36896,REGULAR AIR,03-11-2009
7661,Ord_4424,Prod_1,SHP_6165,Cust_1519,994.04,0.03,10,-335.06,35.00,NaN,YANA SORENSEN,YUKON,YUKON,CORPORATE,OFFICE SUPPLIES,STORAGE & ORGANIZATION,10562,REGULAR AIR,12-11-2009

In [162]:

#merging the order data to create a master data
func_ship_custid_prdcat_ord = pd.merge(func_ship_custid_prdcat,orders_df, how='inner', on='Ord_id')
func_ship_custid_prdcat_ord

,Ord_id,Prod_id,Ship_id,Cust_id,Sales,Discount,Order_Quantity,Profit,Shipping_Cost,Product_Base_Margin,...,Region,Customer_Segment,Product_Category,Product_Sub_Category,Order_ID_x,Ship_Mode,Ship_Date,Order_ID_y,Order_Date,Order_Priority
0,Ord_5446,Prod_16,SHP_7609,Cust_1818,136.81,0.01,23,-30.51,3.60,0.56,...,WEST,CORPORATE,OFFICE SUPPLIES,"SCISSORS, RULERS AND TRIMMERS",36262,REGULAR AIR,28-07-2010,36262,27-07-2010,NOT SPECIFIED
1,Ord_5446,Prod_6,SHP_7608,Cust_1818,164.02,0.03,23,-47.64,6.15,0.37,...,WEST,CORPORATE,OFFICE SUPPLIES,PAPER,36262,EXPRESS AIR,28-07-2010,36262,27-07-2010,NOT SPECIFIED
2,Ord_3730,Prod_16,SHP_5175,Cust_1314,459.08,0.04,34,61.57,3.14,0.60,...,PRARIE,CORPORATE,OFFICE SUPPLIES,"SCISSORS, RULERS AND TRIMMERS",36992,EXPRESS AIR,09-12-2009,36992,07-12-2009,MEDIUM
3,Ord_4506,Prod_16,SHP_6273,Cust_1544,92.02,0.07,9,-24.88,4.68,0.59,...,YUKON,CORPORATE,OFFICE SUPPLIES,"SCISSORS, RULERS AND TRIMMERS",19524,REGULAR AIR,15-01-2010,19524,14-01-2010,CRITICAL
4,Ord_1551,Prod_16,SHP_2145,Cust_531,184.77,0.00,29,-71.96,5.30,0.55,...,ONTARIO,CORPORATE,OFFICE SUPPLIES,"SCISSORS, RULERS AND TRIMMERS",39330,EXPRESS AIR,18-07-2010,39330,17-07-2010,CRITICAL
5,Ord_1429,Prod_16,SHP_1976,Cust_510,539.06,0.05,42,-123.07,4.59,0.82,...,ONTARIO,CORPORATE,OFFICE SUPPLIES,"SCISSORS, RULERS AND TRIMMERS",20259,REGULAR AIR,25-05-2011,20259,24-05-2011,CRITICAL
6,Ord_43,Prod_16,SHP_56,Cust_34,9620.82,0.04,6,-1759.58,24.49,0.81,...,NUNAVUT,CORPORATE,OFFICE SUPPLIES,"SCISSORS, RULERS AND TRIMMERS",6116,REGULAR AIR,22-03-2009,6116,20-03-2009,MEDIUM
7,Ord_956,Prod_16,SHP_1324,Cust_346,503.17,0.01,46,-10.21,4.68,0.59,...,WEST,CORPORATE,OFFICE SUPPLIES,"SCISSORS, RULERS AND TRIMMERS",34721,REGULAR AIR,02-11-2010,34721,01-11-2010,NOT SPECIFIED
8,Ord_975,Prod_16,SHP_1345,Cust_346,638.91,0.02,49,77.48,3.14,0.60,...,WEST,CORPORATE,OFFICE SUPPLIES,"SCISSORS, RULERS AND TRIMMERS",41671,REGULAR AIR,05-12-2012,41671,03-12-2012,CRITICAL
9,Ord_208,Prod_16,SHP_284,Cust_67,327.15,0.04,19,47.30,3.26,0.56,...,NORTHWEST TERRITORIES,CORPORATE,OFFICE SUPPLIES,"SCISSORS, RULERS AND TRIMMERS",33377,REGULAR AIR,01-08-2011,33377,31-07-2011,HIGH
10,Ord_208,Prod_6,SHP_283,Cust_67,100.40,0.06,20,11.94,2.04,0.36,...,NORTHWEST TERRITORIES,CORPORATE,OFFICE SUPPLIES,PAPER,33377,REGULAR AIR,02-08-2011,33377,31-07-2011,HIGH
11,Ord_1154,Prod_16,SHP_1590,Cust_444,483.64,0.10,45,28.39,3.37,0.57,...,ONTARIO,CORPORATE,OFFICE SUPPLIES,"SCISSORS, RULERS AND TRIMMERS",13345,REGULAR AIR,02-09-2012,13345,02-09-2012,NOT SPECIFIED
12,Ord_1486,Prod_16,SHP_2052,Cust_513,487.50,0.05,46,-25.88,4.68,0.59,...,ONTARIO,CORPORATE,OFFICE SUPPLIES,"SCISSORS, RULERS AND TRIMMERS",28805,REGULAR AIR,04-04-2011,28805,02-04-2011,MEDIUM
13,Ord_1486,Prod_2,SHP_2052,Cust_513,97.93,0.07,14,-616.81,49.00,0.59,...,ONTARIO,CORPORATE,OFFICE SUPPLIES,APPLIANCES,28805,REGULAR AIR,04-04-2011,28805,02-04-2011,MEDIUM
14,Ord_1486,Prod_3,SHP_2052,Cust_513,25.52,0.07,4,-1.99,1.49,0.39,...,ONTARIO,CORPORATE,OFFICE SUPPLIES,BINDERS AND BINDER ACCESSORIES,28805,REGULAR AIR,04-04-2011,28805,02-04-2011,MEDIUM
15,Ord_1793,Prod_16,SHP_2484,Cust_826,482.93,0.06,34,-67.59,7.59,0.56,...,QUEBEC,CORPORATE,OFFICE SUPPLIES,"SCISSORS, RULERS AND TRIMMERS",4647,REGULAR AIR,14-05-2009,4647,13-05-2009,MEDIUM
16,Ord_1793,Prod_9,SHP_2484,Cust_604,1203.73,0.03,7,293.14,19.99,0.39,...,ATLANTIC,CORPORATE,OFFICE SUPPLIES,ENVELOPES,4647,REGULAR AIR,14-05-2009,4647,13-05-2009,MEDIUM
17,Ord_1793,Prod_9,SHP_2485,Cust_604,75.19,0.01,6,-6.61,5.72,0.35,...,ATLANTIC,CORPORATE,OFFICE SUPPLIES,ENVELOPES,4647,REGULAR AIR,15-05-2009,4647,13-05-2009,MEDIUM
18,Ord_1005,Prod_16,SHP_1392,Cust_377,15.00,0.05,1,-11.02,8.37,0.58,...,PRARIE,CORPORATE,OFFICE SUPPLIES,"SCISSORS, RULERS AND TRIMMERS",50048,REGULAR AIR,20-01-2010,50048,18-01-2010,HIGH
19,Ord_1005,Prod_13,SHP_1392,Cust_377,35.48,0.09,14,-9.19,1.30,0.59,...,PRARIE,CORPORATE,OFFICE SUPPLIES,PENS & ART SUPPLIES,50048,REGULAR AIR,20-01-2010,50048,18-01-2010,HIGH
20,Ord_278,Prod_16,SHP_377,Cust_97,302.20,0.04,27,20.27,3.37,0.57,...,NORTHWEST TERRITORIES,CORPORATE,OFFICE SUPPLIES,"SCISSORS, RULERS AND TRIMMERS",47620,REGULAR AIR,05-07-2012,47620,26-06-2012,LOW
21,Ord_5062,Prod_16,SHP_7068,Cust_1720,587.71,0.09,49,26.28,3.14,0.60,...,WEST,CORPORATE,OFFICE SUPPLIES,"SCISSORS, RULERS AND TRIMMERS",7552,REGULAR AIR,12-09-2012,7552,10-09-2012,CRITICAL
22,Ord_5062,Prod_13,SHP_7068,Cust_1720,1406.49,0.02,47,332.52,6.17,0.55,...,WEST,CORPORATE,OFFICE SUPPLIES,PENS & ART SUPPLIES,7552,REGULAR AIR,12-09-2012,7552,10-09-2012,CRITICAL
23,Ord_4331,Prod_16,SHP_6038,Cust_1441,77.43,0.01,36,-60.07,2.56,0.55,...,YUKON,CORPORATE,OFFICE SUPPLIES,"SCISSORS, RULERS AND TRIMMERS",59783,REGULAR AIR,24-08-2010,59783,19-08-2010,LOW
24,Ord_195,Prod_16,SHP_264,Cust_106,110.32,0.09,31,-32.65,1.32,0.83,...,NORTHWEST TERRITORIES,CORPORATE,OFFICE SUPPLIES,"SCISSORS, RULERS AND TRIMMERS",31393,REGULAR AIR,13-05-2012,31393,11-05-2012,CRITICAL
25,Ord_4864,Prod_16,SHP_6786,Cust_1679,114.53,0.07,21,-39.23,3.60,0.56,...,WEST,CORPORATE,OFFICE SUPPLIES,"SCISSORS, RULERS AND TRIMMERS",11074,REGULAR AIR,11-06-2011,11074,09-06-2011,HIGH
26,Ord_4905,Prod_16,SHP_6842,Cust_1679,348.92,0.06,31,28.47,3.37,0.57,...,WEST,CORPORATE,OFFICE SUPPLIES,"SCISSORS, RULERS AND TRIMMERS",35875,REGULAR AIR,14-06-2011,35875,14-06-2011,HIGH
27,Ord_1624,Prod_16,SHP_2243,Cust_525,452.15,0.06,42,25.79,3.37,0.57,...,ONTARIO,CORPORATE,OFFICE SUPPLIES,"SCISSORS, RULERS AND TRIMMERS",50854,EXPRESS AIR,17-12-2011,50854,17-12-2011,CRITICAL
28,Ord_1624,Prod_3,SHP_2241,Cust_525,137.50,0.07,27,-64.24,4.95,0.37,...,ONTARIO,CORPORATE,OFFICE SUPPLIES,BINDERS AND BINDER ACCESSORIES,50854,REGULAR AIR,17-12-2011,50854,17-12-2011,CRITICAL
29,Ord_231,Prod_16,SHP_320,Cust_79,224.47,0.08,16,-49.31,7.59,0.56,...,NORTHWEST TERRITORIES,CORPORATE,OFFICE SUPPLIES,"SCISSORS, RULERS AND TRIMMERS",37793,REGULAR AIR,09-11-2009,37793,08-11-2009,NOT SPECIFIED
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1650,Ord_3738,Prod_1,SHP_5185,Cust_1310,841.51,0.05,49,20.86,6.25,0.58,...,PRARIE,CORPORATE,OFFICE SUPPLIES,STORAGE & ORGANIZATION,45767,EXPRESS AIR,12-07-2012,45767,10-07-2012,HIGH
1651,Ord_3279,Prod_1,SHP_4553,Cust_1199,6216.60,0.02,38,1082.21,19.99,0.66,...,PRARIE,CORPORATE,OFFICE SUPPLIES,STORAGE & ORGANIZATION,15296,REGULAR AIR,09-08-2012,15296,07-08-2012,NOT SPECIFIED
1652,Ord_3581,Prod_1,SHP_4958,Cust_1264,17853.64,0.02,41,6227.33,19.99,0.58,...,PRARIE,CORPORATE,OFFICE SUPPLIES,STORAGE & ORGANIZATION,30407,REGULAR AIR,17-04-2009,30407,17-04-2009,LOW
1653,Ord_1858,Prod_1,SHP_2820,Cust_720,73.86,0.08,7,-52.49,9.45,0.60,...,ATLANTIC,CORPORATE,OFFICE SUPPLIES,STORAGE & ORGANIZATION,55425,REGULAR AIR,02-11-2011,55425,01-11-2011,CRITICAL
1654,Ord_3002,Prod_1,SHP_4154,Cust_1120,302.94,0.07,20,-30.20,5.80,0.60,...,ONTARIO,CORPORATE,OFFICE SUPPLIES,STORAGE & ORGANIZATION,41504,REGULAR AIR,30-10-2012,41504,28-10-2012,CRITICAL
1655,Ord_2240,Prod_1,SHP_3043,Cust_836,122.14,0.04,9,-16.99,4.51,0.59,...,QUEBEC,CORPORATE,OFFICE SUPPLIES,STORAGE & ORGANIZATION,1988,REGULAR AIR,07-10-2011,1988,05-10-2011,NOT SPECIFIED
1656,Ord_3915,Prod_1,SHP_5433,Cust_1352,7647.97,0.05,47,-1014.01,35.00,0.85,...,PRARIE,CORPORATE,OFFICE SUPPLIES,STORAGE & ORGANIZATION,48868,EXPRESS AIR,15-06-2012,48868,13-06-2012,NOT SPECIFIED
1657,Ord_2085,Prod_1,SHP_2852,Cust_792,183.43,0.06,15,-41.86,6.27,0.57,...,QUEBEC,CORPORATE,OFFICE SUPPLIES,STORAGE & ORGANIZATION,7936,REGULAR AIR,10-04-2010,7936,05-04-2010,LOW
1658,Ord_3549,Prod_1,SHP_4915,Cust_1273,195.12,0.00,14,-6.32,4.51,0.59,...,PRARIE,CORPORATE,OFFICE SUPPLIES,STORAGE & ORGANIZATION,14978,REGULAR AIR,28-05-2010,14978,27-05-2010,CRITICAL
1659,Ord_3577,Prod_1,SHP_4951,Cust_1267,587.92,0.09,35,-7.92,6.25,0.58,...,PRARIE,CORPORATE,OFFICE SUPPLIES,STORAGE & ORGANIZATION,28742,REGULAR AIR,29-04-2012,28742,29-04-2012,LOW
1660,Ord_698,Prod_1,SHP_955,Cust_238,4305.79,0.00,30,1020.32,19.99,0.56,...,WEST,CORPORATE,OFFICE SUPPLIES,STORAGE & ORGANIZATION,4996,REGULAR AIR,14-09-2012,4996,13-09-2012,MEDIUM
1661,Ord_747,Prod_1,SHP_1021,Cust_238,271.33,0.07,29,-191.09,9.45,0.60,...,WEST,CORPORATE,OFFICE SUPPLIES,STORAGE & ORGANIZATION,19044,REGULAR AIR,18-04-2012,19044,11-04-2012,LOW
1662,Ord_502,Prod_1,SHP_678,Cust_189,845.90,0.04,39,52.53,5.42,0.66,...,WEST,CORPORATE,OFFICE SUPPLIES,STORAGE & ORGANIZATION,2279,REGULAR AIR,24-02-2010,2279,22-02-2010,MEDIUM
1663,Ord_2632,Prod_1,SHP_3600,Cust_1010,391.23,0.07,24,-27.98,6.25,0.58,...,ONTARIO,CORPORATE,OFFICE SUPPLIES,STORAGE & ORGANIZATION,14854,REGULAR AIR,02-05-2010,14854,28-04-2010,LOW
1664,Ord_4728,Prod_1,SHP_6596,Cust_1607,373.13,0.05,33,-35.26,5.03,0.59,...,WEST,CORPORATE,OFFICE SUPPLIES,STORAGE & ORGANIZATION,47011,REGULAR AIR,21-02-2009,47011,19-02-2009,HIGH
1665,Ord_2097,Prod_1,SHP_2869,Cust_800,2040.95,0.07,42,-1231.87,35.00,0.83,...,QUEBEC,CORPORATE,OFFICE SUPPLIES,STORAGE & ORGANIZATION,10919,REGULAR AIR,27-03-2010,10919,27-03-2010,HIGH
1666,Ord_2171,Prod_1,SHP_2959,Cust_800,302.91,0.05,24,-36.76,6.13,0.57,...,QUEBEC,CORPORATE,OFFICE SUPPLIES,STORAGE & ORGANIZATION,44647,REGULAR AIR,28-01-2012,44647,24-01-2012,LOW
1667,Ord_3286,Prod_1,SHP_4560,Cust_1194,7156.56,0.03,50,1871.26,19.99,0.56,...,PRARIE,CORPORATE,OFFICE SUPPLIES,STORAGE & ORGANIZATION,16321,REGULAR AIR,03-10-2009,16321,01-10-2009,NOT SPECIFIED
1668,Ord_1531,Prod_1,SHP_2118,Cust_537,1025.02,0.04,30,87.03,8.74,0.61,...,ONTARIO,CORPORATE,OFFICE SUPPLIES,STORAGE & ORGANIZATION,36643,REGULAR AIR,24-02-2009,36643,23-02-2009,CRITICAL
1669,Ord_1778,Prod_1,SHP_2465,Cust_587,669.69,0.03,8,-297.02,35.00,0.81,...,ONTARIO,CORPORATE,OFFICE SUPPLIES,STORAGE & ORGANIZATION,53574,REGULAR AIR,10-04-2012,53574,09-04-2012,MEDIUM
1670,Ord_994,Prod_1,SHP_1375,Cust_369,11103.75,0.10,32,-522.59,99.00,0.65,...,PRARIE,CORPORATE,OFFICE SUPPLIES,STORAGE & ORGANIZATION,48480,DELIVERY TRUCK,05-01-2010,48480,02-01-2010,CRITICAL
1671,Ord_696,Prod_1,SHP_953,Cust_232,309.62,0.00,21,-80.20,9.37,0.56,...,WEST,CORPORATE,OFFICE SUPPLIES,STORAGE & ORGANIZATION,4642,EXPRESS AIR,26-02-2011,4642,26-02-2011,CRITICAL
1672,Ord_5221,Prod_1,SHP_7294,Cust_1741,135.38,0.05,17,-71.12,6.50,0.59,...,WEST,CORPORATE,OFFICE SUPPLIES,STORAGE & ORGANIZATION,42855,REGULAR AIR,10-07-2011,42855,08-07-2011,NOT SPECIFIED
1673,Ord_2198,Prod_1,SHP_2996,Cust_829,1610.76,0.10,38,-8.67,16.36,0.55,...,QUEBEC,CORPORATE,OFFICE SUPPLIES,STORAGE & ORGANIZATION,8677,REGULAR AIR,09-10-2012,8677,07-10-2012,HIGH
1674,Ord_3333,Prod_1,SHP_4626,Cust_1196,1243.45,0.10,39,-1212.55,35.00,0.81,...,PRARIE,CORPORATE,OFFICE SUPPLIES,STORAGE & ORGANIZATION,24544,REGULAR AIR,27-01-2009,24544,26-01-2009,HIGH
1675,Ord_4549,Prod_1,SHP_6332,Cust_1530,297.85,0.04,5,-69.89,19.99,0.59,...,YUKON,CORPORATE,OFFICE SUPPLIES,STORAGE & ORGANIZATION,23366,REGULAR AIR,19-11-2010,23366,19-11-2010,NOT SPECIFIED
1676,Ord_4758,Prod_1,SHP_6637,Cust_1638,448.10,0.10,35,-15.07,4.51,0.59,...,WEST,CORPORATE,OFFICE SUPPLIES,STORAGE & ORGANIZATION,50950,EXPRESS AIR,30-12-2012,50950,30-12-2012,NOT SPECIFIED
1677,Ord_3339,Prod_1,SHP_4632,Cust_1180,257.41,0.09,43,-131.08,4.69,0.68,...,PRARIE,CORPORATE,OFFICE SUPPLIES,STORAGE & ORGANIZATION,25601,REGULAR AIR,06-01-2009,25601,05-01-2009,MEDIUM
1678,Ord_4604,Prod_1,SHP_6403,Cust_1522,234.24,0.09,24,-151.80,9.45,0.60,...,YUKON,CORPORATE,OFFICE SUPPLIES,STORAGE & ORGANIZATION,30885,REGULAR AIR,22-06-2010,30885,21-06-2010,HIGH
1679,Ord_4424,Prod_1,SHP_6165,Cust_1519,994.04,0.03,10,-335.06,35.00,NaN,...,YUKON,CORPORATE,OFFICE SUPPLIES,STORAGE & ORGANIZATION,10562,REGULAR AIR,12-11-2009,10562,11-11-2009,NOT SPECIFIED

<h4>Concatenation Of Data Frames</h4>

In [164]:


# dataframes having the same columns
df1 = pd.DataFrame({'Name': ['Aman', 'Joy', 'Rashmi', 'Saif'],
                    'Age': ['34', '31', '22', '33'],
                    'Gender': ['M', 'M', 'F', 'M']}
                  )

df2 = pd.DataFrame({'Name': ['Akhil', 'Asha', 'Preeti'],
                    'Age': ['31', '22', '23'],
                    'Gender': ['M', 'F', 'F']}
                  )

In [165]:
df1

     Name Age Gender
0    Aman  34      M
1     Joy  31      M
2  Rashmi  22      F
3    Saif  33      M

In [166]:
df2

     Name Age Gender
0   Akhil  31      M
1    Asha  22      F
2  Preeti  23      F

In [167]:
pd.concat([df1,df2], axis=0)

     Name Age Gender
0    Aman  34      M
1     Joy  31      M
2  Rashmi  22      F
3    Saif  33      M
0   Akhil  31      M
1    Asha  22      F
2  Preeti  23      F

<h2> Performing Arithmetic Operations on Two Or More Data Frames </h2>

In [176]:
# Teamwise stats for IPL 2018

IPL_2018 = pd.DataFrame({'IPL Team': ['CSK', 'SRH', 'KKR', 'RR', 'MI', 'RCB', 'KXIP', 'DD'],
                         'Matches Played': [16, 17, 16, 15, 14, 14, 14, 14],
                         'Matches Won': [11, 10, 9, 7, 6, 6, 6, 5]}
                       )

IPL_2018.set_index('IPL Team', inplace=True)
IPL_2018

          Matches Played  Matches Won
IPL Team
CSK                   16           11
SRH                   17           10
KKR                   16            9
RR                    15            7
MI                    14            6
RCB                   14            6
KXIP                  14            6
DD                    14            5

In [181]:
IPL_2017 = pd.DataFrame({'IPL Team': ['MI', 'RPS', 'KKR', 'SRH', 'KXIP', 'DD', 'GL', 'RCB'],
                         'Matches Played': [17, 16, 16, 15, 14, 14, 14, 14],
                         'Matches Won': [12, 10, 9, 8, 7, 6, 4, 3]})

IPL_2017.set_index('IPL Team', inplace=True)
IPL_2017

          Matches Played  Matches Won
IPL Team
MI                    17           12
RPS                   16           10
KKR                   16            9
SRH                   15            8
KXIP                  14            7
DD                    14            6
GL                    14            4
RCB                   14            3

In [182]:
Total = IPL_2018.add(IPL_2017, fill_value=0)
Total

          Matches Played  Matches Won
IPL Team
CSK                 16.0         11.0
DD                  28.0         11.0
GL                  14.0          4.0
KKR                 32.0         18.0
KXIP                28.0         13.0
MI                  31.0         18.0
RCB                 28.0          9.0
RPS                 16.0         10.0
RR                  15.0          7.0
SRH                 32.0         18.0

In [187]:
### Win percentage

Total['Win %'] = Total['Matches Won']/Total['Matches Played'] * 100
Total

          Matches Played  Matches Won      Win %
IPL Team
CSK                 16.0         11.0  68.750000
DD                  28.0         11.0  39.285714
GL                  14.0          4.0  28.571429
KKR                 32.0         18.0  56.250000
KXIP                28.0         13.0  46.428571
MI                  31.0         18.0  58.064516
RCB                 28.0          9.0  32.142857
RPS                 16.0         10.0  62.500000
RR                  15.0          7.0  46.666667
SRH                 32.0         18.0  56.250000

In [189]:
# Sorting based on asc is false

Total.sort_values(by=(['Matches Played', 'Matches Won']), ascending=False)

          Matches Played  Matches Won      Win %
IPL Team
KKR                 32.0         18.0  56.250000
SRH                 32.0         18.0  56.250000
MI                  31.0         18.0  58.064516
KXIP                28.0         13.0  46.428571
DD                  28.0         11.0  39.285714
RCB                 28.0          9.0  32.142857
CSK                 16.0         11.0  68.750000
RPS                 16.0         10.0  62.500000
RR                  15.0          7.0  46.666667
GL                  14.0          4.0  28.571429

In [204]:
#Given three data frames containing the number of gold, silver, and bronze Olympic medals won by some countries, 
#determine the total number of medals won by each country. 
#Note: All the three data frames don’t have all the same countries. 
#So, ensure you use the ‘fill_value’ argument (set it to zero), to avoid getting NaN values. 
#Also, ensure you sort the final dataframe, according to the total medal count in descending order.

gold = pd.DataFrame({'Country': ['USA', 'France', 'Russia'],
                         'Medals': [15, 13, 9]}
                    )
silver = pd.DataFrame({'Country': ['USA', 'Germany', 'Russia'],
                        'Medals': [29, 20, 16]}
                    )
bronze = pd.DataFrame({'Country': ['France', 'USA', 'UK'],
                        'Medals': [40, 28, 27]}
                    )

gold.set_index('Country', inplace=True)
silver.set_index('Country', inplace=True)
bronze.set_index('Country', inplace=True)

Total_gold_silver = gold.add(silver, fill_value=0)
Total = Total_gold_silver.add(bronze, fill_value=0)
Total.sort_values(by=['Medals'], ascending=False)

         Medals
Country
USA        72.0
France     53.0
UK         27.0
Russia     25.0
Germany    20.0